{% extends "imr-layouts/us-new-1.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageTitle %}
What are their contact details? – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% call govukFieldset({
  legend: {
    text: "What are their contact details?",
    classes: "govuk-fieldset__legend--l",
    isPageHeading: true
  }
}) %}

      {{ govukHint({
    text: "Enter all the contact details you have available. You must provide either a phone number or email address."
  }) }}

      {{ govukInput({
  classes: "govuk-input--width-20",
  id: "phone-number",
  name: "telephone",
          label: {
            text: "Phone number"
          }
}) }}

      {{ govukInput({
  classes: "govuk-input--width-20",
  id: "email-address",
  name: "email",
          label: {
            text: "Email address"
          }
}) }}
      {% endcall %}

      {{ govukButton({
      text: "Continue",
      preventDoubleClick: true,
      href: "check-answers"
      }) }}
    </div>
  </div>
{% endblock %}