{% extends "imr-layouts/us-new-1.html" %}

{% block pageTitle %}
Connect to Work - option 2 – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Connect to Work - Supported Employment Quality Framework (SEQF) - In Work Retention Support</h1>
      <h2 class="govuk-heading-m">Overview</h2>
      <p class="govuk-body">Connect to Work SEQF provides:</p>

      <ul class="govuk-list govuk-list--bullet govuk-list govuk-!-margin-bottom-5">
        <li>
            personalised support for people who are at risk of losing work and want to work 
          </li>
        <li>            
            vocational profiling and job matching                      
          </li>
        <li>
            support for up to 4 months which can be extended by 2 months          
          </li>
      </ul>

      <h2 class="govuk-heading-m">Eligibility</h2>
      <p class="govuk-body">Connect to Work supports people with disadvantages in the labour market who are:</p>
      <ul class="govuk-list govuk-list--bullet govuk-list  govuk-!-margin-bottom-0">
        <li>
            disabled or have a long-term health condition as defined in the Equality Act 2010 or the Social Model of Disability
          </li>
      </ul>
      <p class="govuk-body  govuk-!-margin-bottom-0">or</p>
      <ul class="govuk-list govuk-list--bullet govuk-list  govuk-!-margin-bottom-7">
        <li>
            in a specified disadvantaged group
          </li>
      </ul>
      <p class="govuk-body">To be eligible they must:</p>
      <ul class="govuk-list govuk-list--bullet govuk-list govuk-list govuk-!-margin-bottom-5">
        <li>
        be at risk of losing work
      </li>
        <li>
        have the right to work in the UK
      </li>
        <li>
        have the right to live in the UK and be a resident of England or Wales
      </li>
        <li>
        have entitlement to public funds
      </li>
        <li>
        not currently be on another DWP employment programme
      </li>
      </ul>
      <p class="govuk-body">They should also:</p>
      <ul class="govuk-list govuk-list--bullet govuk-list govuk-list govuk-!-margin-bottom-5">
        <li>            
        have been employed continually for at least 3 months                      
        </li>
        <li>
        be aged 18 or over in England or aged 16 or over in Wales
      </li>
      </ul>
      <h2 class="govuk-heading-m">Suitability</h2>
      <p class="govuk-body govuk-!-margin-bottom-6">They must meet the suitability criteria, as set out in the Grant Guidance. Connect to Work SEQF should be the most appropriate support for them, and they should be ready to engage with the programme.</p>

      {% from "govuk/components/button/macro.njk" import govukButton %}
      {{ govukButton({
    text: "Continue",
  href: "address-details"
    }) }}
    </div>
  </div>
{% endblock %}