{% extends "imr-layouts/us-new-1.html" %}

{% block pageTitle %}
Connect to Work - option 2 – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Connect to Work - in work retention support - Supported Employment Quality Framework (SEQF)</h1>
      <h2 class="govuk-heading-m">Overview</h2>
      <ul class="govuk-list govuk-list--bullet govuk-list govuk-!-margin-bottom-5">
        <li>
            personalised support for people who are at risk of losing work 
          </li>
        <li>            
            SEQF provides vocational profiling and job matching for vulnerable job seekers                      
          </li>
        <li>
            support is provided for 4 months and can be extended by 2 months          
          </li>
      </ul>

      <h2 class="govuk-heading-m">Eligibility</h2>
      <p class="govuk-body">Connect to Work supports people who are:</p>
      <ul class="govuk-list govuk-list--bullet govuk-list">
        <li>
            disabled or have a long-term health condition
          </li>
        <li>
            in a specified disadvantaged group
          </li>
      </ul>

      <p class="govuk-body">They must also:</p>
      <ul class="govuk-list govuk-list--bullet govuk-list govuk-list govuk-!-margin-bottom-5">
        <li>
        be at risk of dropping out of work
      </li>
        <li>            
        have been employed continually for at least 3 months                      
        </li>
        <li>
        be aged 18 or over in England or aged 16 or over in Wales
      </li>
        <li>
        have the right to work in the UK
      </li>
        <li>
        have the right to live in the UK and be a resident of England or Wales
      </li>
        <li>
        have entitlement to public funds
      </li>
        <li>
        not currently be on another national contracted opportunity
      </li>
        <li>
        be available to participate
      </li>
      </ul>

      {% from "govuk/components/button/macro.njk" import govukButton %}
      {{ govukButton({
    text: "Continue",
  href: "address-details"
    }) }}
    </div>
  </div>
{% endblock %}