{% extends "layouts/idm-citizen.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
Will they need extra support? – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukRadios({
  name: "ExtraSupport",
  fieldset: {
    legend: {
      text: "Will they need any extra support or reasonable adjustments to take part in this opportunity?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "yes-adjustments",
      text: "Yes"
    },
    {
      value: "no-adjustments",
      text: "No"
    },
    {
      value: "not-known",
      text: "Don't know"
    }
  ]
}) }}

      {{ govukButton({
      text: "Continue",
      preventDoubleClick: true,
      href: "check-answers"
      }) }}
    </div>
  </div>
{% endblock %}