{% extends "layouts/idm-citizen.html" %}

{% block pageTitle %}
Not suitable – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">You must use LMS to make a referral for this person</h1>

      <p class="govuk-body">You can only send a referral with the correct address details, which cannot be updated in this service.</p>

      <p class="govuk-body">You will need to <a href="JavaScript:window.close()" class="govuk-link">close this referral</a> and start a new one in LMS.
        </p>

    </div>
  </div>

{% endblock %}