{% extends "layouts/idm-citizen.html" %}

{% block pageTitle %}
Acknowledgement – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">Sam Doe has been referred to Restart</h1>
          <div class="govuk-panel__body">Referral ID:<br>
            <strong>321743277</strong>
          </div>
        </div>
        <p class="govuk-body">You can view the <a href="sam-doe-progress-restart" class="govuk-link">referral history</a> for this person. This will show you:</p>


        <ul class="govuk-list govuk-list--bullet govuk-list">
          <li>
            the referral ID
          </li>
          <li>
            when they start and finish the programme        
          </li>
        </ul>

        <p class="govuk-body">If you made this referral by mistake, you need to contact the single point of contact (SPOC) for your jobcentre’s Employer & Partnership team.</p>    

        <p>
          <a href="JavaScript:window.close()" class="govuk-link">Close this referral</a>
        </p>          
    </div>
  </div>
</div>

{% endblock %}