{% extends "layouts/idm-citizen.html" %}

{% block pageTitle %}
Eligibility and suitability – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-width-container">

        <h1 class="govuk-heading-l">WHP Disability Condition overview</h1>

      <p class="govuk-body">The Work and Health Programme (WHP) helps to break down barriers for people who need additional support to find work.</p>

      <p class="govuk-body">Working with local services, the WHP provides dedicated and flexible support for up to 15 months that focuses on:</p>
        <ul class="govuk-list govuk-list--bullet govuk-list">
          <li>
            learning new skills
          </li>
          <li>
            building confidence        
          </li>
          <li>
            increasing work experience
          </li>
        </ul>
      <p class="govuk-body">An additional 6 months of in-work support is also available.</p>

      <p class="govuk-body">Taking part in the opportunity is voluntary unless the person has been unemployed for 24 months or more.</p>

        <h3 class="govuk-heading-s">To be eligible the person must:</h3>

        <ul class="govuk-list govuk-list--bullet govuk-list">
          <li>
            be disabled, as defined by the Equality Act 2010
          </li>
          <li>
            be over 18 years old in England, or 16 years old in Wales        
          </li>
          <li>
            have the right to work in the UK
          </li>
          <li>
            not be in any paid work, including zero hours contracts
          </li>
          <li>
            not currently be on the WHP
          </li>
          <li>
            not have been on the WHP before         
          </li>
          <li>
            not be on another national programme          
          </li>
        </ul>

        <h3 class="govuk-heading-s">To be suitable the person must:</h3>

        <ul class="govuk-list govuk-list--bullet govuk-list">
          <li>
            be committed to the goal of finding work in 12 months          
          </li>
          <li>
            need additional support to find work          
          </li>
        </ul>

        <h2 class="govuk-heading-m">Is this person eligible and suitable for the WHP Disability Condition?</h2>

        <form action="/suitable-whp_2" method="post" novalidate>
          {% from "govuk/components/radios/macro.njk" import govukRadios %}
          {{ govukRadios({
            classes:"govuk-radios--inline",
  name: "which-outcome",
  fieldset: {
  },
  items: [
    {
      value: "reasonable-adjustments-whp",
      text: "Yes"
    },
    {
      value: "whp-not-suitable",
      text: "No"
    }
  ]
}) }}

          {% from "govuk/components/button/macro.njk" import govukButton %}
          {{ govukButton({
  text: "Continue"
  }) }}
        </form>

      </div>

    </div>
  </main>
</div>

</div>

</div>

{% endblock %}