{% extends "govuk-prototype-kit/layouts/unbranded.html" %}
{% from "internal-service-header/macro.njk" import dwpHeader %}
{% from "internal-service-footer/macro.njk" import dwpFooter %}

{% block pageTitle %}
Support offers referral management – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block header %}
  {{ dwpHeader({
  name: "Support offers",
  serviceHref: '/index.html',
  action: "Sign out",
  actionHref: "/",
container:true
}) }}

  <div class="govuk-width-container ">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
        Beta
      </strong>
        <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
      </p>
    </div>
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

    <section class="dwp-quick-reference" aria-label="Case information">
      <dl class="dwp-quick-reference__block">
        <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
        <dd class="dwp-quick-reference__primary">{{ data['firstName'] or "Bruce" }}
          {{ data['lastName'] or "Wayne" }}</dd>
        <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary">National Insurance number:</dt>
        <dd class="dwp-quick-reference__secondary">{{ data['nino'] or "DD 12 34 56 C" }}</dd>
        {# <dt class="dwp-quick-reference__label">Claim status:</dt>
        <dd class="dwp-quick-reference__status">
          <strong class="govuk-tag govuk-tag--green">
        Active
    </strong>
        </dd>
      </dl> #}
      </section>

    </div>
  {% endblock %}

  {% block bodyEnd %}
    {{ super()}}
    {% include "includes/scripts.html" %}
  {% endblock %}
  <!-- GOV.UK Prototype Kit {{releaseVersion}} -->

  {% block footer %}
    {{ dwpFooter({
meta: {
visuallyHiddenTitle: "Support links",
items: [
{
  href: "https://intranet.dwp.gov.uk/page/dwp-employee-privacy-notice-–-summary",
  text: "Privacy (opens in new window)",
  attributes: {
  target: "_blank"
      }
},
{
  href: "/identify-match-refer/accessibility-statement",
  text: "Accessibility statement"
},
{
  href: "/manage-prototype/clear-data",
  text: "Clear data"
}
]
}
}) }}
  {% endblock %}