{% extends "imr-layouts/us-new-1.html" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
Enter person details – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Check their contact details</h1>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
      Address
    </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">{{ data['addressLine1'] or "1165 Leeds Road" }}<br>{{ data['addressTown'] or "Huddersfield" }}<br>{{ data['addressPostcode'] or "HD2 1UX" }}</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="enter-address-manually">Change<span class="govuk-visually-hidden"> address</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
      Contact details
    </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">{{ data['phoneNumber'] or "07897 524698" }}</p>
            <p class="govuk-body">{{ data['phoneNumber1'] or "01254 335897" }}</p>
            <p class="govuk-body">{{ data['emailAddress'] or "b.wayne@example.com" }}</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <ul class="govuk-summary-list__actions-list">
              <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link" href="#">Add<span class="govuk-visually-hidden"> contact details</span></a>
              </li>
              <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link" href="enter-contacts-manually">Change<span class="govuk-visually-hidden"> contact details</span></a>
              </li>
            </ul>
          </dd>
        </div>
      </dl>

      {{ govukButton({
  text: "Continue",
      preventDoubleClick: true,
      href: "check-answers"
}) }}
    </div>
  </div>
{% endblock %}