{% extends "layouts/idm-citizen.html" %}

{% block pageTitle %}
Duplicate referral – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">You cannot refer this person</h1>
      <p class="govuk-body">They have already been referred to either this opportunity, or another national opportunity which affects their eligibility.</p>

      <p class="govuk-body">
        <a href="pioneer-dc-progress" class="govuk-link">Go to the referral history</a> for details.</p>
      <br>
      <p>
        <a href="JavaScript:window.close()" class="govuk-link">Close this referral</a>
      </p>
    </div>
  </div>
{% endblock %}