{% extends "layouts/idm-citizen.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageTitle %}
Which jobcentre are you referring them from? – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- Includes -->

      {%- set office %}
      <label class="govuk-label" for="office-autocomplete">Enter name of jobcentre</label>
      <div class="autocomplete-wrapper govuk-body" id="office-autocomplete-container"></div>

      {% endset -%}
      {{ govukRadios({
            name: "location",
            fieldset: {
              legend: {
                text: "Which jobcentre are you referring them from?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "",
                text: "Leeds Park Place Jobcentre (your current location)"
              },
              {
                value: "",
                text: "Other",
                conditional: {
                    html: office
                  }
              }
            ]
          }) }}

      {{ govukButton({
          text: "Continue",
          href: "duplicate-referral"
        }) }}
    </div>
  </div>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script type="text/javascript">
    const type = ['France', 'Germany', 'United Kingdom']

    var element = document.querySelector('#type-autocomplete-container')
    var id = 'type-autocomplete'
    accessibleAutocomplete({
      element: element,
      id: id,
      source: type,
      showAllValues: true,
      dropdownArrow: () => ''
    })
  </script>

  <script type="text/javascript">
    const office = [
      'Aberdare Jobcentre Plus',
      'Aberdeen City Wharf Jobcentre Plus',
      'Aberdeen Jobcentre Plus',
      'Aberdeen NESCol Youth Hub',
      'Abergavenny Jobcentre Plus',
      'Abertillery Jobcentre Plus',
      'Abertillery Youth Hub',
      'Aberystwyth Jobcentre Plus',
      'Abingdon Jobcentre Plus',
      'Accrington Jobcentre Plus',
      'Accrington Youth Hub',
      'Acton Jobcentre Plus',
      'Airdrie Jobcentre Plus',
      'Aldershot Jobcentre Plus',
      'Alfreton Jobcentre Plus',
      'Alloa FV College Campus Youth Hub',
      'Alloa Jobcentre Plus',
      'Alnwick Jobcentre Plus',
      'Alton Jobcentre Plus',
      'Altrincham Jobcentre Plus',
      'Altrincham Youth Hub',
      'Amlwch Jobcentre Plus',
      'Ammanford Jobcentre Plus',
      'Andersonstown Jobs &amp; Benefits Office',
      'Andover Jobcentre Plus',
      'Annan Jobcentre Plus',
      'Antrim Jobs &amp; Benefits Office',
      'Arbroath Jobcentre plus',
      'Armagh Jobs &amp; Benefits Office',
      'Arnold Jobcentre Plus',
      'Ashfield Jobcentre Plus',
      'Ashford County Square Shopping Centre Jobcentre Plus',
      'Ashford Jobcentre Plus',
      'Ashford Youth Hub',
      'Ashington Jobcentre Plus',
      'Ashton-In-Makerfield Jobcentre Plus',
      'Ashton-Under-Lyne (Old Street) Jobcentre Plus',
      'Ashton-Under-Lyne (Tameside) Jobcentre Plus',
      'Aston Newtown Shopping Centre Jobcentre Plus',
      'Atherstone Jobcentre Plus',
      'Aylesbury High Street Jobcentre Plus',
      'Aylesbury Jobcentre Plus',
      'Ayr Central Jobcentre Plus',
      'Ayr Jobcentre Plus',
      'Ballymena Back Office',
      'Ballymena Jobs &amp; Benefits Office',
      'Ballymoney Jobs &amp; Benefits Office',
      'Ballynahinch Front Office',
      'Banbridge Jobs &amp; Benefits Office',
      'Banbury Castle Quay Shopping Centre Jobcentre Plus',
      'Banbury Jobcentre Plus',
      'Banff Jobcentre Plus',
      'Bangor Front Office',
      'Bangor Jobcentre Plus',
      'Bargoed Jobcentre Plus',
      'Barking BLC Youth Hub',
      'Barking Jobcentre Plus',
      'Barnet Jobcentre Plus',
      'Barnsbury Jobcentre Plus',
      'Barnsley Employment Youth Hub',
      'Barnsley Jobcentre Plus',
      'Barnsley Wellington House Jobcentre Plus',
      'Barnsley Youth Hub',
      'Barnstaple Jobcentre Plus',
      'Barrhead Jobcentre Plus',
      'Barrow Jobcentre Plus',
      'Barrow Youth Hub',
      'Barry All About Youth - Youth Hub',
      'Barry Jobcentre Plus',
      'Barton on Humber Jobcentre Plus',
      'Basildon Church Walk Jobcentre Plus',
      'Basildon Jobcentre Plus',
      'Basildon Youth Hub',
      'Basingstoke Centenary House Jobcentre Plus',
      'Basingstoke Jobcentre Plus',
      'Bath Jobcentre Plus',
      'Bath Pinesgate Jobcentre Plus',
      'Bathgate Jobcentre Plus',
      'Beccles Jobcentre Plus',
      'Bedford Jobcentre Plus',
      'Bedford Manton Lane Jobcentre Plus',
      'Bedford Youth Hub',
      'Bedlington Jobcentre Plus',
      'Bedminster Jobcentre Plus',
      'Bedworth Jobcentre Plus',
      'Beeston Jobcentre Plus',
      'Belle Vale Jobcentre Plus',
      'Bellshill Jobcentre Plus',
      'Belper Jobcentre Plus',
      'Berwick Jobcentre Plus',
      'Beverley Jobcentre Plus',
      'Bexhill Jobcentre Plus',
      'Bexley Heath Youth Hub',
      'Bexleyheath Jobcentre Plus',
      'Bideford Jobcentre Plus',
      'Biggleswade Jobcentre Plus',
      'Billingham Jobcentre Plus',
      'Bilston Jobcentre Plus',
      'Birkenhead Jobcentre Plus',
      'Birmingham Central Jobcentre Plus',
      'Birmingham Library Youth Hub',
      'Birmingham Lighthouse Youth Hub',
      'Birmingham South West Jobcentre Plus',
      'Birmingham South Youth Hub',
      'Birmingham Summer Hill Road Jobcentre Plus',
      'Birmingham Witton Lodge Youth Hub',
      'Bishop Auckland Jobcentre Plus',
      'Bishopsworth Jobcentre Plus',
      'Blackburn Jobcentre Plus',
      'Blackburn Step Up Youth Hub',
      'Blackburn The Mall Jobcentre Plus',
      'Blackpool Albert Road Jobcentre Plus',
      'Blackpool Jobcentre Plus',
      'Blackpool Youth Hub',
      'Blackwood Jobcentre Plus',
      'Blairgowrie Jobcentre',
      'Blandford Jobcentre Plus',
      'Blaydon Jobcentre Plus',
      'Blyth 2 Jobcentre Plus',
      'Blyth Jobcentre Plus',
      'Bodmin Jobcentre Plus',
      'Bognor Regis Jobcentre Plus',
      'Bolton Blackhorse Street Jobcentre Plus',
      'Bolton Great Moor Street',
      'Bolton Orlando Bridge Jobcentre Plus',
      'Bootle Jobcentre Plus',
      'Bootle Strand Jobcentre Plus',
      'Bordon Jobcentre Plus',
      'Borehamwood Jobcentre Plus',
      'Boston Jobcentre Plus',
      'Bournemouth Jobcentre Plus',
      'Bournemouth Tringham House Jobcentre Plus',
      'Bracknell Jobcentre Plus',
      'Bracknell Phoenix House Jobcentre Plus',
      'Bradford Aldermanbury House Jobcentre Plus',
      'Bradford Business Park Jobcentre Plus',
      'Bradford Eastbrook Court Jobcentre Plus',
      'Bradford Vibe Youth Hub',
      'Bradford Westfield House Jobcentre Plus',
      'Braintree Jobcentre Plus',
      'Brecon Jobcentre Plus',
      'Brent Youth Hub',
      'Brentwood Jobcentre Plus',
      'Bridgend Jobcentre Plus',
      'Bridgnorth Jobcentre Plus',
      'Bridgnorth Youth Hub',
      'Bridgwater Jobcentre Plus',
      'Bridlington Jobcentre Plus',
      'Bridport Jobcentre Plus',
      'Brighton Jobcentre Plus',
      'Brighton Queen Square Jobcentre Plus',
      'Brighton and Hove Youth Hub',
      'Bristol Broadwalk Shopping Centre Jobcentre Plus',
      'Bristol Temple Street Jobcentre Plus',
      'Bristol Victoria Street Jobcentre Plus',
      'Bristol Youth Hub',
      'Brixham Jobcentre Plus',
      'Brockenhurst College Youth Hub',
      'Bromborough Jobcentre Plus',
      'Bromley College Youth Hub',
      'Bromley Jobcentre Plus',
      'Bromsgrove Jobcentre Plus',
      'Brownhills Jobcentre Plus',
      'Buckie Jobcentre Plus',
      'Bude Jobcentre Plus',
      'Bulwell Jobcentre Plus',
      'Burnley Charter Walk Jobcentre Plus',
      'Burnley Jobcentre Plus',
      'Burnley Together Youth Hub',
      'Burton Jobcentre Plus',
      'Burton upon Trent Union Street Jobcentre Plus',
      'Bury Jobcentre Plus',
      'Bury Millgate Jobcentre Plus',
      'Bury St Edmunds Jobcentre Plus',
      'Buxton Jobcentre Plus',
      'Caernarfon Jobcentre Plus',
      'Caerphilly Jobcentre Plus',
      'Calderdale Orange Box Youth Hub',
      'Calderdale Youth Hub',
      'Caldicot Jobcentre Plus',
      'Camberley Jobcentre Plus',
      'Camberley Youth Hub',
      'Cambridge Jobcentre Plus',
      'Cambuslang Jobcentre Plus',
      'Campbeltown Jobcentre Plus',
      'Canning Town Jobcentre Plus',
      'Cannock Jobcentre Plus',
      'Cannock The Forum Jobcentre Plus',
      'Canterbury Jobcentre Plus',
      'Canterbury Longmarket Jobcentre Plus',
      'Canvey Island Jobcentre Plus',
      'Cardiff Alexandra House Jobcentre Plus',
      'Cardiff All About Youth Youth Hub',
      'Cardiff Charles Street Jobcentre Plus',
      'Cardiff Queen Street Jobcentre Plus',
      'Cardigan Jobcentre Plus',
      'Carlisle Jobcentre Plus',
      'Carlisle Youth Hub',
      'Carmarthen Jobcentre Plus',
      'Carrickfergus Jobs &amp; Benefits Office',
      'Carroll Centre - Winchester Youth Hub',
      'Castleford Jobcentre Plus',
      'Castlemilk Jobcentre',
      'Chatham Dockside Outlet Centre Jobcentre Plus',
      'Chatham Jobcentre Plus',
      'Chatham WREC Youth Hub',
      'Cheetham Hill Jobcentre Plus',
      'Chelmsford Jobcentre Plus',
      'Chelmsford Meadows Shopping Centre',
      'Chelmsley Wood Jobcentre Plus',
      'Chelmsley Wood Shopping Centre Jobcentre Plus',
      'Cheltenham Jobcentre Plus',
      'Chepstow Jobcentre Plus',
      'Chesham Jobcentre Plus',
      'Chesham Youth Hub',
      'Chester Foregate Street Jobcentre Plus',
      'Chester Jobcentre Plus',
      'Chester-Le-Street Jobcentre Plus',
      'Chesterfield Jobcentre Plus',
      'Chesterfield Steeplegate Jobcentre Plus',
      'Chesterfield Youth Hub',
      'Chichester Gate Jobcentre Plus',
      'Chichester Jobcentre Plus',
      'Chichester Youth Hub',
      'Chippenham Jobcentre Plus',
      'Chorley Jobcentre Plus',
      'Chorley Youth Hub',
      'Cinderford Jobcentre Plus',
      'Cirencester Jobcentre Plus',
      'Clacton Jobcentre Plus',
      'Claim by phone',
      'Clevedon Jobcentre Plus',
      'Clitheroe Jobcentre Plus',
      'Clydebank Jobcentre Plus',
      'Coalville Jobcentre Plus',
      'Colchester Headgate Jobcentre Plus',
      'Colchester Jobcentre Plus',
      'Coleford Jobcentre Plus',
      'Coleraine Jobs &amp; Benefits Office',
      'Colwyn Bay Bayview Shopping Centre Jobcentre Plus',
      'Colwyn Bay Jobcentre Plus',
      'Congleton Jobcentre Plus',
      'Consett Jobcentre Plus',
      'Cookstown Front Office',
      'Copeland Youth Hub',
      'Corby Jobcentre Plus',
      'Cosham Jobcentre Plus',
      'Coventry Arena Jobcentre Plus',
      'Coventry Cofa Court Jobcentre Plus',
      'Coventry Job Shop Youth Hub',
      'Coventry West Orchard Shopping Centre Jobcentre Plus',
      'Cowdenbeath Jobcentre Plus',
      'Cramlington Jobcentre Plus',
      'Crawley Forest Gate Jobcentre Plus',
      'Crawley Jobcentre Plus',
      'Crawley Spectrum House Jobcentre Plus',
      'Crawley Youth Hub',
      'Crewe Jobcentre Plus',
      'Cromer Jobcentre Plus',
      'Crook Jobcentre Plus',
      'Crosby Jobcentre Plus',
      'Croydon College Youth Hub',
      'Croydon Jobcentre Plus',
      'Cumbernauld Jobcentre Plus',
      'Cumnock Jobcentre Plus',
      'Cupar Jobcentre Plus',
      'Cwmbran All About Youth Youth Hub',
      'Cwmbran Jobcentre Plus',
      'DBC Training Youth Hub',
      'Dalkeith Jobcentre Plus',
      'Darlington Jobcentre Plus',
      'Darlington Lingfield Point Jobcentre Plus',
      'Darlington Youth Hub',
      'Dartford Jobcentre Plus',
      'Daventry Jobcentre Plus',
      'Derby City Jobcentre Plus',
      'Derby Derbion Jobcentre plus',
      'Derby Sir Frank Whittle Road Jobcentre Plus',
      'Derby Youth Hub',
      'Dereham Jobcentre Plus',
      'Devizes Jobcentre Plus',
      'Devonport Jobcentre Plus',
      'Dewsbury Jobcentre Plus',
      'Dewsbury Princess of Wales Precinct Jobcentre Plus',
      'Dewsbury Road - Leeds Youth Hub',
      'Didcot Jobcentre Plus',
      'Didsbury Jobcentre Plus',
      'Dingwall Jobcentre Plus',
      'Dinnington Jobcentre Plus',
      'Diss Jobcentre Plus',
      'Dolgellau Jobcentre Plus',
      'Doncaster Employment Youth Hub',
      'Doncaster High Street Jobcentre Plus',
      'Doncaster Jobcentre plus',
      'Dorset Youth Hub',
      'Dover Jobcentre Plus',
      'Downpatrick Front Office',
      'Drumchapel Jobcentre Plus',
      'Dudley High Street Jobcentre Plus',
      'Dudley Jobcentre Plus',
      'Dudley Skills Shop Youth Hub',
      'Dumbarton Jobcentre Plus',
      'Dumfries Jobcentre Plus',
      'Dundee &amp; Angus College Youth Hub',
      'Dundee City Jobcentre Plus',
      'Dundee Helm Youth Hub',
      'Dundee Street League Youth Hub',
      'Dundee West Marketgait Jobcentre Plus',
      'Dundee Youth Hub',
      'Dunfermline Jobcentre Plus',
      'Dungannon Jobs &amp; Benefits Office',
      'Dunoon Jobcentre Plus',
      'Durham Jobcentre Plus',
      'Durham LA Peterlee Youth Hub',
      'Durham LA Stanley Youth Hub',
      'ESE Youth Hub',
      'Ealing Jobcentre Plus',
      'Ealing Youth Hub',
      'East Kilbride Jobcentre Plus',
      'Eastbourne Grove Road Jobcentre Plus',
      'Eastbourne Jobcentre Plus',
      'Eastleigh Cableworks Youth Hub',
      'Eastleigh Jobcentre Plus',
      'Ebbw Vale Jobcentre Plus',
      'Eccles Jobcentre Plus',
      'Edinburgh North Bridge Jobcentre Plus',
      'Edinburgh Waverley Mall Jobcentre Plus',
      'Edmonton Jobcentre Plus',
      'Elgin Jobcentre',
      'Elgin Moray Pathways Youth Hub',
      'Ellergreen North Youth Hub',
      'Ellesmere Port Jobcentre Plus',
      'Ely Jobcentre Plus',
      'Enfield Jobcentre Plus',
      'Enfield Youth Hub',
      'Enfield Youth Hub 2',
      'Enniskillen Jobs &amp; Benefits Office',
      'Epsom Jobcentre Plus',
      'Erdington Jobcentre Plus',
      'Erith Youth Hub',
      'Eston Jobcentre Plus',
      'Everton Jobcentre Plus',
      'Evesham Jobcentre Plus',
      'Exeter - Mid &amp; East Devon Youth Hub',
      'Exeter Jobcentre Plus',
      'Exeter The Depot Jobcentre Plus',
      'Eyemouth Jobcentre Plus',
      'Fakenham Jobcentre Plus',
      'Falkirk Callendar Square Shopping Centre Jobcentre Plus',
      'Falkirk FV College Campus Youth Hub',
      'Falkirk Jobcentre Plus',
      'Falls Road Jobs &amp; Benefits Office',
      'Fareham Jobcentre Plus',
      'Fareham West Street Jobcentre Plus',
      'Farnborough Jobcentre Plus',
      'Farnworth Youth Hub',
      'Felixstowe Jobcentre Plus',
      'Finsbury Park Jobcentre Plus',
      'Fleetwood Jobcentre Plus',
      'Fleetwood Youth Hub',
      'Flint Jobcentre Plus',
      'Folkestone Jobcentre Plus',
      'Folkestone Sandgate Jobcentre Plus',
      'Folkestone Youth Hub',
      'Forest Hill Jobcentre Plus',
      'Forfar Jobcentre Plus',
      'Forres Jobcentre Plus',
      'Fort William Jobcentre Plus',
      'Foyle Jobs &amp; Benefits - Front Office',
      'Fraserburgh Jobcentre Plus',
      'Frome Jobcentre Plus',
      'Fulham Jobcentre Plus',
      'Gainsborough Jobcentre Plus',
      'Galashiels Jobcentre Plus',
      'Garston Jobcentre Plus',
      'Gateshead Jobcentre Plus',
      'Girvan Jobcentre Plus',
      'Glasgow Central Base East Youth Hub',
      'Glasgow Central Base South Youth Hub',
      'Glasgow Central Base Youth Hub',
      'Glasgow City Central Jobcentre Plus',
      'Glasgow Kelvin College Youth Hub',
      'Glenrothes Jobcentre Plus',
      'Glossop Jobcentre Plus',
      'Gloucester Eastgate Street Jobcentre Plus',
      'Gloucester Jobcentre Plus',
      'Goole Jobcentre',
      'Gorseinon Jobcentre Plus',
      'Gosport Jobcentre Plus',
      'Govan Jobcentre Plus',
      'Grangemouth Jobcentre Plus',
      'Grantham Jobcentre Plus',
      'Gravesend Jobcentre Plus',
      'Gravesend New Road Jobcentre Plus',
      'Grays Jobcentre Plus',
      'Great Yarmouth Jobcentre Plus',
      'Greenock Jobcentre Plus',
      'Greenwich Youth Hub',
      'Grimsby Jobcentre Plus',
      'Grimsby Spark Youth Hub',
      'Guildford Jobcentre Plus',
      'Guisborough Jobcentre Plus',
      'Guiseley Jobcentre Plus',
      'Hackney Jobcentre Plus',
      'Hackney Youth Hub',
      'Halesowen Jobcentre Plus',
      'Halesowen Whitehall Road Jobcentre Plus',
      'Halifax Broad Street Jobcentre Plus',
      'Halifax Jobcentre Plus',
      'Halton Youth Hub',
      'Hamilton Jobcentre Plus',
      'Hammersmith &amp; Fulham Youth Hub',
      'Handsworth Jobcentre Plus',
      'Hanley Jobcentre Plus',
      'Harlesden Jobcentre Plus',
      'Harlow Harvey Centre Jobcentre Plus',
      'Harlow Jobcentre Plus',
      'Harrogate Jobcentre Plus',
      'Harrow Jobcentre Plus',
      'Hartlepool Enterprise Centre Youth Hub',
      'Hartlepool Jobcentre Plus',
      'Harwich Jobcentre Plus',
      'Harworth &amp; Bircotes Youth Hub',
      'Hastings Jobcentre Plus',
      'Hastings Priory Meadow Jobcentre Plus',
      'Hastings Youth Hub',
      'Hatfield Jobcentre Plus',
      'Havant Jobcentre Plus',
      'Haverfordwest Jobcentre Plus',
      'Haverhill Jobcentre Plus',
      'Hawick Jobcentre Plus',
      'Hayes Jobcentre Plus',
      'Haywards Heath Jobcentre',
      'Heanor Jobcentre Plus',
      'Helensburgh Jobcentre Plus',
      'Helston Jobcentre Plus',
      'Hemel Hempstead Jobcentre Plus',
      'Hemsworth Jobcentre Plus',
      'Hemsworth Youth Hub',
      'Hendon Jobcentre Plus',
      'Hereford 1 Youth Hub',
      'Hereford 2 Youth Hub',
      'Hereford Jobcentre Plus',
      'Hereford Maylord Shopping Centre Jobcentre Plus',
      'Hertford Jobcentre Plus',
      'Hessle Jobcentre Plus',
      'Hexham Jobcentre Plus',
      'Heywood Jobcentre Plus',
      'High Riggs Jobcentre Plus',
      'High Wycombe High Street Jobcentre',
      'High Wycombe Jobcentre Plus',
      'High Wycombe Youth Hub',
      'Hillingdon Youth Hub',
      'Hinckley Jobcentre Plus',
      'Holyhead Jobcentre Plus',
      'Holywell Jobcentre Plus',
      'Holywood Road Jobs &amp; Benefits Office',
      'Honiton Jobcentre Plus',
      'Horfield Jobcentre Plus',
      'Horsham Jobcentre Plus',
      'Horsham Youth Hub',
      'Houghton-le-Spring Jobcentre Plus',
      'Hounslow 2 Jobcentre Plus',
      'Hounslow Jobcentre Plus',
      'Hounslow WTC Youth Hub',
      'Hove Jobcentre Plus',
      'Hoxton Jobcentre Plus',
      'Huddersfield Jobcentre Plus',
      'Huddersfield Trinity Street Jobcentre Plus',
      'Hull Britannia House Jobcentre Plus',
      'Hull Whitefriargate Jobcentre Plus',
      'Hull Youth Hub',
      'Hulme Jobcentre Plus',
      'Huntingdon Jobcentre Plus',
      'Huyton Jobcentre',
      'Hyde Jobcentre Plus',
      'Hyde Youth Hub',
      'Hythe Jobcentre Plus',
      'Ilkeston Jobcentre Plus',
      'Immingham Jobcentre Plus',
      'Inspire Youth Hub',
      'Invergordon Jobcentre Plus',
      'Inverness Glendoe Terrace Jobcentre Plus',
      'Inverness Jobcentre Plus',
      'Inverness Youth Hub',
      'Ipswich Jobcentre Plus',
      'Ipswich St Vincent House Jobcentre Plus',
      'Irlam Jobcentre Plus',
      'Irvine Jobcentre Plus',
      'Islington Haberdasher Street Jobcentre Plus',
      'Islington Youth Hub',
      'Jarrow Jobcentre Plus',
      'John Ruskin College (South Croydon) Youth Hub',
      'Johnstone Jobcentre Plus',
      'Joseph Lappin Youth Hub',
      'Keighley Jobcentre Plus',
      'Keighley Low Street Jobcentre Plus',
      'Keighley Vibe Youth Hub',
      'Kendal Jobcentre Plus',
      'Kendal Youth Hub',
      'Kennington Park Jobcentre Plus',
      'Kentish Town Jobcentre Plus',
      'Kettering High Street Jobcentre Plus',
      'Kettering Jobcentre Plus',
      'Kidderminster Crossley Retail Park Jobcentre Plus',
      'Kidderminster Jobcentre Plus',
      'Kidsgrove Jobcentre Plus',
      'Kilbirnie Jobcentre Plus',
      'Kilkeel Jobs &amp; Benefits Office',
      'Killingworth Jobcentre Plus',
      'Kilmarnock Jobcentre Plus',
      'Kilmarnock Youth Hub',
      'Kings Heath Jobcentre Plus',
      'Kings Lynn Broad Street Jobcentre Plus',
      'Kings Lynn Jobcentre Plus',
      'Kings Norton Facet Road Jobcentre Plus',
      'Kingston Jobcentre Plus',
      'Kingswood Jobcentre Plus',
      'Kirkby Jobcentre Plus',
      'Kirkcaldy Mercat Shopping Centre Jobcentre Plus',
      'Kirkcaldy jobcentre Plus',
      'Kirkintilloch Jobcentre Plus',
      'Kirklees Youth Hub',
      'Kirkwall Jobcentre Plus',
      'Knockbreda Jobs &amp; Benefits Office',
      'Knowsley Youth Hub',
      'LDN Apprenticeships Youth Hub',
      'Lambeth College Youth Hub',
      'Lanark Jobcentre Plus',
      'Lancaster Inspirational You(th) Youth Hub',
      'Lancaster Jobcentre Plus',
      'Larne Jobs &amp; Benefits Office',
      'Launceston Jobcentre Plus',
      'Laurieston Jobcentre Plus',
      'Leamington Spa Jobcentre Plus',
      'Leeds Albion Street Jobcentre Plus',
      'Leeds City College Deacon House Youth Hub',
      'Leeds Eastgate Jobcentre Plus',
      'Leeds Kirkstall Road Jobcentre Plus',
      'Leeds Park Place Jobcentre Plus',
      'Leeds Southern House Jobcentre Plus',
      'Leeds Youth Hub',
      'Leicester Charles Street Jobcentre Plus',
      'Leicester New Walk Jobcentre Plus',
      'Leicester Pegasus House Jobcentre Plus',
      'Leicester Wellington Street 2 Jobcentre Plus',
      'Leicester Wellington Street Jobcentre Plus',
      'Leicester Youth Hub',
      'Leigh Jobcentre Plus',
      'Leigh Park Learning Centre - Havant Youth Hub',
      'Leighton Buzzard Jobcentre Plus',
      'Leiston Jobcentre Plus',
      'Leith Jobcentre Plus',
      'Leominster Jobcentre Plus',
      'Lerwick Jobcentre Plus',
      'Letchworth Jobcentre Plus',
      'Leven Jobcentre Plus',
      'Lewes Jobcentre Plus',
      'Lewisham Youth Hub',
      'Leyland Jobcentre Plus',
      'Leyland Youth Hub',
      'Lichfield Jobcentre Plus',
      'Limavady Jobs &amp; Benefits Office',
      'Lincoln Orchard Street Jobcentre Plus',
      'Lincoln The Network Youth Hub',
      'Lincoln Witham Wharf Jobcentre Plus',
      'Lisburn Jobs &amp; Benefits Office',
      'Liskeard Jobcentre Plus',
      'Lisnagelvin Jobs &amp; Benefits Office',
      'Littlehampton Jobcentre Plus',
      'Liverpool City Jobcentre Plus',
      'Liverpool Duke Street Jobcentre Plus',
      'Liverpool Innovation Park Jobcentre Plus',
      'Liverpool MYA Youth Hub',
      'Liverpool Thrive Youth Hub',
      'Livingston Jobcentre Plus',
      'Llandrindod Wells Jobcentre Plus',
      'Llandudno Jobcentre Plus',
      'Llanelli Jobcentre Plus',
      'Llangefni Jobcentre Plus',
      'Llantrisant Jobcentre Plus',
      'Loftus Jobcentre Plus',
      'London Borough of Barking Maritime House Jobcentre Plus',
      'London Borough of Barnet North London Business Park Jobcentre Plus',
      'London Borough of Bexley Bexleyheath Clock Tower Jobcentre Plus',
      'London Borough of Brent Queens Park Jobcentre Plus',
      'London Borough of Brent Wembley High Road Jobcentre Plus',
      'London Borough of Bromley Burnt Ash Lane Jobcentre Plus',
      'London Borough of Camden Hermes Studios Jobcentre Plus',
      'London Borough of Croydon Simpson House Jobcentre Plus',
      'London Borough of Ealing Broadway Jobcentre Plus',
      'London Borough of Enfield Edmonton Green Shopping Centre Jobcentre Plus',
      'London Borough of Enfield West Mall Edmonton Green Jobcentre Plus',
      'London Borough of Greenwich Woolwich Powis Street Jobcentre Plus',
      'London Borough of Hackney Hillman Street Jobcentre Plus',
      'London Borough of Hammersmith and Fulham Hammersmith Broadway Jobcentre Plus',
      'London Borough of Harrow Spencer House Jobcentre Plus',
      'London Borough of Havering Romford Davidson Way Jobcentre Plus',
      'London Borough of Hillingdon Valiant House Jobcentre Plus',
      'London Borough of Islington Caledonian Road Jobcentre Plus',
      'London Borough of Kingston Anstee House Jobcentre Plus',
      'London Borough of Lambeth Clapham Place Jobcentre Plus',
      'London Borough of Lambeth Tooting High Street Jobcentre Plus',
      'London Borough of Lewisham Old Town Hall Jobcentre Plus',
      'London Borough of Merton Morden The Grange Jobcentre Plus',
      'London Borough of Newham Altitude Jobcentre Plus',
      'London Borough of Newham Cooks Road Jobcentre Plus',
      'London Borough of Redbridge The Exchange Ilford Jobcentre Plus',
      'London Borough of Southwark Blackfriars Jobcentre Plus',
      'London Borough of Tower Hamlets Leman Street Jobcentre Plus',
      'London Borough of Waltham Forest The Mall Jobcentre Plus',
      'London Borough of Waltham Forest Trinity Park Jobcentre Plus',
      'London Borough of Wandsworth Putney Exchange Jobcentre Plus',
      'London Borough of Westminster Euston House Jobcentre Plus',
      'London Bridge Jobcentre Plus',
      'Long Eaton Jobcentre Plus',
      'Longton Jobcentre Plus',
      'Loughborough Jobcentre Plus',
      'Loughton Jobcentre Plus',
      'Louth Jobcentre Plus',
      'Lowestoft Jobcentre Plus',
      'Lurgan Jobs &amp; Benefits Office',
      'Luton Capability Green Jobcentre Plus',
      'Luton Jobcentre Plus',
      'Luton Youth Hub',
      'Lymington Jobcentre Plus',
      'Lytham St Annes Jobcentre Plus',
      'Macclesfield Jobcentre Plus',
      'Macclesfield The Silk Works Jobcentre Plus',
      'Machynlleth Jobcentre Plus',
      'Maesteg Jobcentre',
      'Magherafelt Jobs &amp; Benefits Office',
      'Maidenhead Jobcentre Plus',
      'Maidenhead Youth Hub',
      'Maidstone Jobcentre Plus',
      'Maidstone Lower Boxley Road Jobcentre Plus',
      'Make it Happen Youth Hub',
      'Maltby Jobcentre Plus',
      'Malvern Jobcentre Plus',
      'Manchester Mosley Street',
      'Manchester Youth Hub',
      'Mansfield Jobcentre Plus',
      'Margate Jobcentre Plus',
      'Market Drayton Jobcentre Plus',
      'Market Harborough Jobcentre Plus',
      'Matlock Jobcentre Plus',
      'Melton Mowbray Jobcentre Plus',
      'Merthyr Tydfil All About Youth - Youth Hub',
      'Merthyr Tydfil Jobcentre Plus',
      'Mexborough Jobcentre Plus',
      'Middlesbrough Dundas Shopping Centre Jobcentre Plus',
      'Middlesbrough East Jobcentre Plus',
      'Middlesbrough Jobcentre Plus',
      'Middlesbrough Youth Hub',
      'Middleton Jobcentre Plus',
      'Mildenhall Jobcentre Plus',
      'Milford Haven Jobcentre Plus',
      'Milton Keynes Jobcentre Plus',
      'Milton Keynes Phoenix House Jobcentre Plus',
      'Milton Keynes Youth Hub',
      'Minehead Jobcentre Plus',
      'Mitcham Jobcentre Plus',
      'Mold Jobcentre Plus',
      'Montrose Jobcentre Plus',
      'Morecambe Jobcentre Plus',
      'Morecambe Youth Hub',
      'Morley Jobcentre Plus',
      'Morpeth Jobcentre Plus',
      'Morriston Jobcentre Plus',
      'Motherwell Jobcentre Plus',
      'Musselburgh Jobcentre Plus',
      'National UCR',
      'Neath Jobcentre Plus',
      'Nelson Jobcentre Plus',
      'Neston Jobcentre Plus',
      'Neston Youth &amp; Community Centre Youth Hub',
      'New Lanarkshire House Jobcentre Plus',
      'Newark Jobcentre Plus',
      'Newbury Jobcentre Plus',
      'Newbury Waterside Youth Hub',
      'Newcastle City Jobcentre Plus',
      'Newcastle East Jobcentre Plus',
      'Newcastle Front Office',
      'Newcastle Metro Centre Jobcentre Plus',
      'Newcastle Skills Hub Youth Hub',
      'Newcastle Under Lyme Jobcentre Plus',
      'Newcastle upon Tyne - The Spire Jobcentre Plus',
      'Newham The Grove Youth Hub',
      'Newhaven Jobcentre Plus',
      'Newlands Jobcentre Plus',
      'Newmarket Jobcentre Plus',
      'Newport Central All About Youth - Youth Hub',
      'Newport East All About Youth - Youth Hub',
      'Newport Isle Of Wight Jobcentre Plus',
      'Newport Jobcentre Plus',
      'Newport Kingsway Centre Jobcentre Plus',
      'Newport North All About Youth Youth Hub',
      'Newquay Jobcentre Plus',
      'Newry Jobs &amp; Benefits Office',
      'Newton Abbot Courtenay Street Jobcentre Plus',
      'Newton Abbot Jobcentre Plus',
      'Newton Aycliffe Jobcentre Plus',
      'Newton Heath Jobcentre Plus',
      'Newtown Jobcentre Plus',
      'Newtownabbey Jobs &amp; Benefits Office',
      'Newtownards Front Office',
      'No Limits Youth Hub',
      'North Belfast Front Office Design Centre',
      'North Belfast Front Office Royal Avenue',
      'North Kensington Jobcentre Plus',
      'North Lincolnshire Youth Hub',
      'North Shields Jobcentre Plus',
      'North Shields Kings Court Jobcentre Plus',
      'North Walsham Jobcentre Plus',
      'Northallerton Jobcentre Plus',
      'Northampton Central Library Youth Hub',
      'Northampton Jobcentre Plus',
      'Northampton Princess House Jobcentre Plus',
      'Northwich Jobcentre Plus',
      'Norwich Castle Quarter Jobcentre Plus',
      'Norwich Jobcentre Plus',
      'Nottingham Castle Court Jobcentre Plus',
      'Nottingham Central Jobcentre Plus',
      'Nottingham Loxley House Jobcentre Plus',
      'Nottingham Pythian Club Youth Hub',
      'Nuneaton Jobcentre Plus',
      'Nuneaton Ropewalk Jobcentre Plus',
      'Oban Jobcentre Plus',
      'Oldbury Jobcentre Plus',
      'Oldham Business Centre Jobcentre Plus',
      'Oldham Jobcentre Plus',
      'Oldham Phoenix House Jobcentre Plus',
      'Oldham Youth Hub',
      'Omagh Jobs &amp; Benefits Office',
      'Openshaw Jobcentre Plus',
      'Openshaw Youth Hub',
      'Ormskirk Jobcentre Plus',
      'Oswestry Jobcentre Plus',
      'Oswestry Youth Hub',
      'Oxford Jobcentre Plus',
      'Oxford Rosehill Community Centre Youth Hub',
      'PIP Widnes Youth Hub',
      'Paisley Jobcentre Plus',
      'Paisley at Invest Youth Hub',
      'Palmers Green Jobcentre Plus',
      'Participation Centre - Havant Youth Hub',
      'Partick Jobcentre Plus',
      'Partington Youth Hub',
      'Peckham Jobcentre Plus',
      'Pembroke Dock Jobcentre Plus',
      'Penarth Jobcentre Plus',
      'Pendle YES Youth Hub',
      'Penicuik Jobcentre Plus',
      'Penrith Jobcentre Plus',
      'Penrith Youth Hub',
      'Penryn Jobcentre Plus',
      'Penzance Jobcentre Plus',
      'Perry Barr Jobcentre Plus',
      'Perth Jobcentre Plus',
      'Peterborough Jobcentre Plus',
      'Peterborough Northminster House Jobcentre Plus',
      'Peterhead Jobcentre Plus',
      'Peterlee Castle Dene Shopping Centre Jobcentre Plus',
      'Peterlee Jobcentre Plus',
      'Plymouth Bretonside Jobcentre Plus',
      'Plymouth Jobcentre Plus',
      'Plymouth Youth Hub',
      'Pontefract Jobcentre Plus',
      'Pontypool Jobcentre Plus',
      'Pontypridd Jobcentre Plus',
      'Poole Jobcentre Plus',
      'Port Talbot Jobcentre Plus',
      'Portadown Jobs &amp; Benefits Office',
      'Porth Jobcentre Plus',
      'Porthcawl Jobcentre Plus',
      'Porthmadog Jobcentre Plus',
      'Portree Jobcentre Plus',
      'Portsmouth Edinburgh Road Jobcentre Plus',
      'Portsmouth Jobcentre Plus',
      'Portsmouth Youth Hub',
      'Preston College Youth Hub',
      'Preston Fishergate Shopping Centre Jobcentre Plus',
      'Preston Jobcentre Plus',
      'Prestwich Jobcentre Plus',
      'Pudsey Jobcentre',
      'Purley Jobcentre Plus',
      'Pwllheli Jobcentre Plus',
      'Ramsgate Jobcentre Plus',
      'Ramsgate The Argyle Centre Jobcentre Plus',
      'Rathbone Society Youth Hub',
      'Rawtenstall Jobcentre Plus',
      'Rayleigh Jobcentre Plus',
      'Reach Youth Hub',
      'Reading Jobcentre Plus',
      'Reading Kennet Place Jobcentre Plus',
      'Reading Youth Hub',
      'Redbridge Jobcentre Plus',
      'Redcar Jobcentre Plus',
      'Redcar and Cleveland Grangetown Youth Hub',
      'Redcar and Cleveland Skinningrove Youth Hub',
      'Redditch Jobcentre Plus',
      'Redditch Kingfisher Shopping Centre Jobcentre Plus',
      'Redhill Jobcentre Plus',
      'Redhill Youth Hub',
      'Redruth Jobcentre Plus',
      'Renfrew Jobcentre Plus',
      'Retford Jobcentre Plus',
      'Rhyl Bodfor Street Jobcentre Plus',
      'Rhyl Jobcentre Plus',
      'Richmond Jobcentre Plus',
      'Ringwood Jobcentre Plus',
      'Rochdale Exchange Shopping Centre Jobcentre Plus',
      'Rochdale Jobcentre Plus',
      'Rochdale Youth Hub',
      'Romford Jobcentre Plus',
      'Romsey Freedom Centre Youth Hub',
      'Ross on Wye Jobcentre Plus',
      'Rossendale Works Youth Hub',
      'Rotherham Community and Employment Youth Hub',
      'Rotherham Jobcentre Plus',
      'Rotherham Phoenix Riverside Jobcentre Plus',
      'Rothesay Jobcentre Plus',
      'Rugby Jobcentre Plus',
      'Runcorn Jobcentre Plus',
      'Rushden Jobcentre Plus',
      'Rusholme Jobcentre Plus',
      'Rutherglen Jobcentre Plus',
      'Ryde Jobcentre Plus',
      'Ryedale Jobcentre Plus',
      'Salford Jobcentre Plus',
      'Salisbury Jobcentre Plus',
      'Saltcoats Jobcentre Plus',
      'Sandwell College Youth Hub',
      'Scarborough Jobcentre Plus',
      'Scunthorpe Foundry Shopping Centre Jobcentre Plus',
      'Scunthorpe Jobcentre Plus',
      'Seacroft Jobcentre Plus',
      'Seacroft Limewood Approach Jobcentre Plus',
      'Seaham Jobcentre Plus',
      'Sefton Youth Hub',
      'Selby Jobcentre Plus',
      'Selby Youth Hub',
      'Selly Oak Jobcentre Plus',
      'Shaftesbury Square Jobs &amp; Benefits Office',
      'Shankill Jobs &amp; Benefits Office',
      'Sharps Copse Children &amp; Families Centre - Havant Youth Hub',
      'Sheerness Jobcentre Plus',
      'Sheffield Bailey Jobcentre Plus',
      'Sheffield Cavendish Court Jobcentre Plus',
      'Sheffield Chapeltown Jobcentre Plus',
      'Sheffield East Youth Hub',
      'Sheffield Go Further Youth Hub',
      'Sheffield Hillsborough Jobcentre Plus',
      'Sheffield North Youth Hub',
      'Sheffield South East Youth Hub',
      'Sheffield South Youth Hub',
      'Sheffield Specialist Youth Hub',
      'Sheffield Tenter Street Jobcentre Plus',
      'Sheffield Woodhouse Jobcentre Plus',
      'Shepherd\'s Bush Jobcentre Plus',
      'Shettleston Jobcentre Plus',
      'Shirebrook Jobcentre Plus',
      'Shirehampton Jobcentre Plus',
      'Shotton Jobcentre Plus',
      'Shrewsbury Jobcentre Plus',
      'Shrewsbury Youth Hub',
      'Sittingbourne Jobcentre Plus',
      'Skegness Jobcentre Plus',
      'Skelmersdale',
      'Skelmersdale Youth Hub',
      'Skipton Jobcentre Plus',
      'Sleaford Jobcentre Plus',
      'Slough Observatory Jobcentre Plus',
      'Slough Upton Lodge Jobcentre Plus',
      'Smethwick Jobcentre',
      'Solihull Jago House Jobcentre Plus',
      'Solihull Jobcentre Plus',
      'Solihull Youth Hub',
      'South Shields Jobcentre Plus',
      'South Tyneside Youth Hub',
      'Southampton Central Youth Hub',
      'Southampton Frobisher House Jobcentre Plus',
      'Southampton Jobcentre Plus',
      'Southend High Street Jobcentre Plus',
      'Southend Jobcentre Plus',
      'Southend Shoeburyness Youth Hub',
      'Southport Jobcentre Plus',
      'Southwark College Youth Hub',
      'Spalding Jobcentre Plus',
      'Sparkhill Jobcentre Plus',
      'Spen Valley Jobcentre Plus',
      'Spennymoor Jobcentre Plus',
      'Springburn Jobcentre Plus',
      'St Albans 2 Jobcentre Plus',
      'St Albans Jobcentre Plus',
      'St Andrews Jobcentre Plus',
      'St Austell Jobcentre Plus',
      'St Helens Genesis Youth Hub',
      'St Helens Jobcentre Plus',
      'St Helens Youth Hub',
      'St. Marylebone Jobcentre Plus',
      'Stafford Greengate Street Jobcentre Plus',
      'Stafford Jobcentre Plus',
      'Staines Church Street Jobcentre Plus',
      'Staines Jobcentre Plus',
      'Staines Youth Hub - Brooklands College',
      'Staines Youth Hub - Spelthorne Business Hub',
      'Stamford Jobcentre Plus',
      'Stanley Jobcentre Plus',
      'Stanmore College Youth Hub',
      'Staveley Jobcentre Plus',
      'Stevenage Abel Smith House Jobcentre Plus',
      'Stevenage Jobcentre Plus',
      'Stirling Community Enterprise Youth Hub',
      'Stirling Jobcentre Plus',
      'Stockport Jobcentre Plus',
      'Stockport National House Jobcentre Plus',
      'Stockport Youth Hub',
      'Stockton Dunedin House Jobcentre Plus',
      'Stockton Jobcentre Plus',
      'Stockton Youth Hub',
      'Stockwell Jobcentre Plus',
      'Stoke Smithfield Jobcentre Plus',
      'Stornoway Jobcentre Plus',
      'Stourbridge Jobcentre Plus',
      'Stowmarket Jobcentre',
      'Strabane Jobs &amp; Benefits Office',
      'Stranraer Jobcentre',
      'Stratford Jobcentre Plus',
      'Stratford-upon-Avon Jobcentre Plus',
      'Streatham Jobcentre Plus',
      'Streatham Youth Hub',
      'Stretford 2 Jobcentre Plus',
      'Stretford Jobcentre Plus',
      'Stroud Jobcentre Plus',
      'Successful Sutton Youth Hub',
      'Sudbury Jobcentre Plus',
      'Sunderland Jobcentre Plus',
      'Sunderland Tavistock Place Jobcentre Plus',
      'Sutton Coldfield Jobcentre Plus',
      'Sutton Jobcentre Plus (claimant\'s jobcentre)',
      'Sutton in Ashfield Brook Street Jobcentre Plus',
      'Swadlincote Jobcentre Plus',
      'Swansea Jobcentre Plus',
      'Swansea Parc Tawe Jobcentre Plus',
      'Swansea Youth Hub',
      'Swindon Canal Walk Jobcentre Plus',
      'Swindon Jobcentre Plus',
      'Swinton Parade Jobcentre Plus',
      'Tameside Youth Hub',
      'Tamworth Jobcentre Plus',
      'Taunton Jobcentre Plus',
      'Telford Jobcentre Plus',
      'Telford Titan House Jobcentre Plus',
      'Telford Youth Hub',
      'Tewkesbury Jobcentre Plus',
      'The Lights Andover Youth Hub',
      'Thetford Jobcentre Plus',
      'Thornaby Jobcentre Plus',
      'Thorne Jobcentre Plus',
      'Thornton Heath Jobcentre Plus',
      'Tipton Jobcentre',
      'Tiverton Jobcentre Plus',
      'Todmorden Jobcentre Plus',
      'Tonbridge Jobcentre Plus',
      'Tonypandy Jobcentre Plus',
      'Torquay Jobcentre Plus',
      'Torquay Union Street Jobcentre Plus',
      'Totnes Jobcentre Plus',
      'Tottenham Jobcentre Plus',
      'Totton College Youth Hub',
      'Tower Hamlets Settles Street Jobcentre Plus',
      'Tower Hamlets Youth Hub',
      'Toxteth Jobcentre Plus',
      'Treorchy Jobcentre Plus',
      'Trowbridge Jobcentre Plus',
      'Truro Jobcentre Plus',
      'Twickenham Jobcentre Plus',
      'Twickenham Youth Hub',
      'Upton Jobcentre Plus',
      'Uxbridge Jobcentre Plus',
      'Wakefield Jobcentre Plus',
      'Wakefield Navigation Warehouse Jobcentre Plus',
      'Wakefield Youth Hub',
      'Wallsend Jobcentre Plus',
      'Walsall Bayard House Jobcentre Plus',
      'Walsall Bridle Court Jobcentre Plus',
      'Walsall College Youth Hub',
      'Walsall Crown Wharf Jobcentre Plus',
      'Waltham Cross Jobcentre Plus',
      'Waltham Forest Youth Hub',
      'Walthamstow Forest Road Jobcentre Plus',
      'Walthamstow Westbury Road Jobcentre Plus',
      'Wandsworth Jobcentre Plus',
      'Warrington Jobcentre Plus',
      'Warrington Tannery Court Jobcentre Plus',
      'Washington Jobcentre Plus',
      'Washwood Heath Jobcentre Plus',
      'Watford Egale 2',
      'Watford Jobcentre Plus',
      'Wellingborough Jobcentre Plus',
      'Wells Jobcentre Plus',
      'Welshpool Jobcentre Plus',
      'Wembley Jobcentre Plus',
      'West Bromwich Jobcentre Plus',
      'West Bromwich Lombard Street Jobcentre Plus',
      'West Derby Jobcentre Plus',
      'West Fife Youth Hub',
      'West Lothian Youth Hub',
      'Wester Hailes Jobcentre Plus',
      'Westhoughton Library Youth Hub',
      'Westminster Youth Hub',
      'Weston-Super-Mare Jobcentre Plus',
      'Weybridge Addlestone Community Centre Youth Hub',
      'Weybridge Brooklands College Youth Hub',
      'Weybridge Jobcentre Plus',
      'Weymouth Jobcentre Plus',
      'Whitby Jobcentre Plus',
      'Whitchurch Jobcentre Plus',
      'Whitehaven Jobcentre Plus',
      'Wick Jobcentre Plus',
      'Widnes Jobcentre Plus',
      'Wigan Jobcentre Plus',
      'Wigan Mesnes House Jobcentre Plus',
      'Wigan Youth Hub',
      'Willenhall Jobcentre Plus',
      'Winchester Jobcentre Plus',
      'Winnall Valley Winchester Youth Hub',
      'Winsford Jobcentre Plus',
      'Winsford Wyvern Youth Hub',
      'Wirral Merseyside Community Training Youth Hub',
      'Wisbech Jobcentre Plus',
      'Witham Jobcentre Plus',
      'Witney Jobcentre Plus',
      'Woking Church Street West Jobcentre Plus',
      'Woking Jobcentre Plus',
      'Woking Youth Hub',
      'Wolverhampton Chapel Court Jobcentre Plus',
      'Wolverhampton Molineux House Jobcentre Plus',
      'Wolverhampton The Way Youth Hub',
      'Wolverhampton Wulfrun Centre Jobcentre Plus',
      'Wombwell Jobcentre Plus',
      'Wood Green Jobcentre Plus',
      'Woodbridge Jobcentre Plus',
      'Woolwich Jobcentre Plus',
      'Worcester Jobcentre Plus',
      'Worcester Youth Hub',
      'Workington Jobcentre Plus',
      'Workington Youth Hub',
      'Worksop Jobcentre Plus',
      'Worsley Jobcentre Plus',
      'Worthing Jobcentre Plus',
      'Worthing Montague Street Jobcentre Plus',
      'Worthing Youth Hub',
      'Wrexham Hope Street Jobcentre Plus',
      'Wrexham Jobcentre Plus',
      'Wrexham Youth Hub',
      'Wythenshawe Jobcentre Plus',
      'Yardley Jobcentre Plus',
      'Yate Jobcentre Plus',
      'Yeovil Jobcentre Plus',
      'York Monkgate Jobcentre Plus',
      'Ystradgynlais Jobcentre Plus'
    ]

    var element = document.querySelector('#office-autocomplete-container')
    var id = 'office-autocomplete'
    accessibleAutocomplete({
      element: element,
      id: id,
      source: office,
      showAllValues: true,
      dropdownArrow: () => ''
    })

    document
      .getElementById("office-autocomplete")
      .onclick = function () {
        document
          .getElementById("channel")
          .style
          .display = "block";
      }
  </script>
{% endblock %}