{% extends "layouts/so-citizen-active-rm.html" %}

{% block pageTitle %}
Referral started – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">Referral accepted</h1>
    </div>

      <p>This referral is now in your <a href="referrals-accepted-aa">accepted referrals</a>.</p>

      <p class=""govuk-body">To start or cancel another referral, go to <a href="dashboard">return to the dashboard</a>.</p>
  </div>
</div>

{% endblock %}