{% extends "layouts/so-citizen-active-rm.html" %}

{% block pageTitle %}
What general update do you want to make for this participant? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l">Check acceptance details</h1>

      {% set todaysDate %}
        Today, {{ "now" | govukDateTime }}
      {% endset -%}

    {{ govukSummaryList({
      classes: "govuk-!-margin-bottom-9",
      rows: [
      {
        key: {
          text: "Opportunity"
        },
        value: {
          text: "Restart"
        }
      },
        {
          key: {
            text: "Area"
          },
          value: {
            text: "North East"
          }
        },
        {
          key: {
            text: "Accepted on"
          },
          value: {
            text: todaysDate
          }
        }
      ]
    }) }}

    <!--<h2 class="govuk-heading-m">Submitting this request will start this person on the provision.</h2>

    <p class="govuk-body">Please make sure the details you are providing are correct.</p>-->

    <form action="accept-or-reject-confirm-accept" method="post" novalidate>

      <input type="hidden" name="answers-checked" value="true">

      {{ govukButton({
        text: "Accept referral"
      }) }}

    </form>

  </div>
</div>

<script>
  var today = new Date();

    var options = {
      year: 'numeric',
      day: 'numeric',
      month: 'long'
    };

  var monthNames = [
    "January",
    "February",
    "March",
    "April",
    "May",
    "June",
    "July",
    "August",
    "September",
    "October",
    "November",
    "December"
  ];
  apptDate = document.getElementsByClassName("accepted-date");
  console.log(apptDate[0].innerText);
  if (apptDate[0].innerText == "Today") {
    apptDate[0].innerText = "Today, " + today.toLocaleDateString('en-UK', options);
  }
</script>


{% endblock %}