{% extends "layouts/so-citizen-active-rm.html" %}

{% block pageTitle %}
What general update do you want to make for this participant? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l">Check ending of provision details</h1>

    {{ govukSummaryList({
      classes: "govuk-!-margin-bottom-9",
      rows: [
        {
        key: {
          text: "Opportunity"
        },
        value: {
          text: "Restart"
        }
        },
        {
          key: {
            text: "Area"
          },
          value: {
            text: "North East"
          }
        },
        {
          key: {
            text: "Ending reason"
          },
          value: {
            text: data['ending-reason']
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "home address"
              }
            ]
          }
        },
        {
          key: {
            text: "Request to end on"
          },
          value: {
            text: "Today",
            classes: "request-end-date"
          }
          }
      ]
    }) }}

    <!--<h2 class="govuk-heading-m">Submitting this request will cancel this referral</h2>

    <p class="govuk-body">Please make sure the details you are providing are correct.</p>-->

    <form action="end-confirm" method="post" novalidate>

      <input type="hidden" name="answers-checked" value="true">

      {{ govukButton({
        text: "Request to end this provision"
      }) }}

    </form>

  </div>
</div>

<script>
  var today = new Date();

    var options = {
      year: 'numeric',
      day: 'numeric',
      month: 'long'
    };

  apptDate = document.getElementsByClassName("request-end-date");
  apptDate[0].innerText = "Today, " + today.toLocaleDateString('en-UK', options);
</script>
{% endblock %}