{% extends "layouts/so-citizen-active-rm.html" %}

{% block pageTitle %}
What general update do you want to make for this participant? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="end-check-answers" method="post" novalidate>
        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        <h1 class="govuk-heading-l">Why are they exiting this programme early</h1>
        {{ govukRadios({
        name: "ending-reason",
        fieldset: {
          legend: {
           text: "The citizen"
         }
        },
        items: [
          {
            value: "The citizen has died",
            text: "has died"
          },
          {
            value: "They have moved out of eligible area",
            text: "has moved out of England or Wales for the remaining alloted time"
          },
          {
            value: "They are in prison",
            text: "is in prison for the remaining allotted time"
          },
          {
            value: "They have a terminal illness",
            text: "has a terminal illness and has chosen to leave the programme"
          },
          {
            value: "They have moved into the NWRR regime",
            text: "has moved into the NWRR regime and has chosen to leave the programme"
          }
        ]
        }) }}

        {{ govukButton({
        text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}