{% extends "layouts/so-citizen-active-rm.html" %}

{% block pageTitle %}
Referral started – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">Extension request submitted</h1>
    </div>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p>You will receive a decision on the extension for this participant.</p>

      <p class=""govuk-body">To make another request <a href="dashboard-aa">return to the dashboard</a>.</p>
  </div>
</div>

{% endblock %}