{% extends "layouts/so-citizen-active-rm.html" %}

{% block pageTitle %}
  Citizen details – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      {{ govukTable({
        caption: "Referral details",
        captionClasses: "govuk-table__caption--m govuk-!-width-one-half",
        rows: [
          [
            {
              text: "Date of referral",
              classes: "govuk-!-width-one-half"
            },
            {
              text: "20 September 2022 11:15:06"
            }
          ],
          [
            {
              text: "Referral ID",
              classes: "govuk-!-width-one-half"
            },
            {
              text: "70098681"
            }
          ],
          [
            {
              text: "Opportunity",
              classes: "govuk-!-width-one-half"
            },
            {
              text: "Restart"
            }
          ],

          [
            {
              text: "Referral status",
              classes: "govuk-!-width-one-half"
            },
            {
              text: "Active"
            }
          ],
          [
            {
              text: "Area",
              classes: "govuk-!-width-one-half"
            },
            {
              text: "North East"
            }
          ],
          [
            {
              text: "Opportunity type",
              classes: "govuk-!-width-one-half"
            },
            {
              text: "Mandatory"
            }
          ]
        ]
      }) }}

      {{ govukTable({
        caption: "Referral actions",
        captionClasses: "govuk-table__caption--m govuk-!-width-one-half",

        rows: [
          [
              {
                text: 'Accepted or reject referral'
              }
              ,
              {
                html: '<strong class="govuk-tag govuk-tag--green">Accepted</strong>'
              },
              {
                html: '7/1/2024',
                classes: "todays-date"
              }
            ],
          [
            {
              text: 'Start or cancel referral'
            }
            ,
            {
              html: '<strong class="govuk-tag govuk-tag--green">Started</strong>'
            },
            {
              html: '7/1/2024',
              classes: "todays-date"
            }
          ],
          [
            {
              html: '<a href="extend-summary">Request an extension</a>'
            }
            ,
            {
              html: '<strong class="govuk-tag govuk-tag--grey">Not submitted</strong>'
            },
            {
              html: ''

            }
          ],
          [
            {
              html: '<a href="end-reason">Record an early exit</a>'
            }
            ,
            {
              html: '<strong class="govuk-tag govuk-tag--grey">Not submitted</strong>'
            },
            {
              html: ''

            }
          ],
          [
            {
              html: '<a href="self-employed-business-start-date">Submit a self-employed outcome</a>'
            }
            ,
            {
              html: '<strong class="govuk-tag govuk-tag--grey">Not submitted</strong>'
            },
            {
              html: ''

            }
          ]
        ]
      }) }}

    </div>
    
  </div>

  <script>
    var today = new Date();
    var options = {
      year: 'numeric',
      day: 'numeric',
      month: 'numeric'
    };
    console.log(new Date());
    var todayDate = document.getElementsByClassName("todays-date");
    todayDate[0].innerHTML = today.toLocaleDateString('en-UK', options);
  </script>
{% endblock %}