{% extends "layouts/so-citizen-active-rm.html" %}

{% block pageTitle %}
  Citizen details – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      {{ govukTable({
        caption: "Referral details",
        captionClasses: "govuk-table__caption--m govuk-!-width-one-half",
        rows: [
          [
            {
              text: "Referral date",
              classes: "govuk-!-width-one-half"
            },
            {
              text: "20 September 2022 11:15:06"
            }
          ],
          [
            {
              text: "Referral ID",
              classes: "govuk-!-width-one-half"
            },
            {
              text: "700986661"
            }
          ],
          [
            {
              text: "Opportunity",
              classes: "govuk-!-width-one-half"
            },
            {
              text: "Restart"
            }
          ],

          [
            {
              text: "Referral status",
              classes: "govuk-!-width-one-half"
            },
            {
              text: "New"
            }
          ],
          [
            {
              text: "Area",
              classes: "govuk-!-width-one-half"
            },
            {
              text: "North East"
            }
          ],
          [
            {
              text: "Opportunity type",
              classes: "govuk-!-width-one-half"
            },
            {
              text: "Mandatory"
            }
          ]
        ]
      }) }}

      {{ govukTable({
        caption: "Referral tasks",
        captionClasses: "govuk-table__caption--m govuk-!-width-one-half",

        rows: [
          [
            {
              html: '<a href="individual-referral-downloaded">Download referral</a>'
            }
            ,
            {
              html: '<strong class="govuk-tag govuk-tag--red">Due in 2 days</strong>'
            }
          ]
        ]
      }) }}

    </div>
    
  </div>
{% endblock %}