{% extends "layouts/so-main-rm.html" %}

{% block pageTitle %} New referrals –
{{ serviceName }}: Support Offers Provider – Service centre
{% endblock %}

{% block content %}

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">

        <!--------------------------side filtering-------------------------->

      

            <!--------------------------end of side filtering-------------------------->

            <!-------------------------------header-------------------------------->
            
            <div class="govuk-grid-column-three-quarters">
             
              <h1 class="govuk-heading-l">
          New referrals<br>
                <span class="govuk-caption-l">Referrals to acknowledge</span>
              </h1>

              <p>You have <strong>125</strong> new referrals</p>

              {{ govukRadios({
                name: "whereDoYouLive",
                fieldset: {
                  legend: {
                    text: "Do you want to acknowledge all new referrals?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--m"
                  }
                },
                items: [
                  {
                    value: "yes",
                    text: "Yes"
                  },
                  {
                    value: "no",
                    text: "No"
                  }
                ]
              }) }}

              {{ govukButton({
                text: "Continue",
                href: "referrals-acknowledge"
              }) }}
            </div>



            <!--------------------------table-------------------------->
            
            
          

        {% endblock %}