{% extends "layouts/so-main-rm.html" %}

{% block pageTitle %} New referrals –
{{ serviceName }}: Support Offers Provider – Service centre
{% endblock %}

{% block content %}

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">

        <!--------------------------side filtering-------------------------->

        <div class="govuk-grid-column-one-quarter">
          <label class="govuk-heading-m" for="search">
          Find someone
        </label>
          <div class="moj-search">
            <form action="individual-referral" method="post">
              <div class="govuk-form-group">
                <div id="search-hint" class="govuk-hint moj-search__hint ">
                Search by referral ID, NINO or citizen name
              </div>
                <input class="govuk-input moj-search__input " id="search" name="search" type="search"
                aria-describedby="search-hint">
              </div>
              <button class="govuk-button moj-search__button " data-module="govuk-button">
                <svg class="gem-c-search__icon" width="16" height="16" viewBox="0 0 26 26" fill="none"
                xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
                  <circle cx="12.0161" cy="11.0161" r="8.51613" stroke="white" stroke-width="3"></circle>
                  <line x1="17.8668" y1="17.3587" x2="26.4475" y2="25.9393" stroke="white" stroke-width="3"></line>
                </svg>
              </button>
            </form>
          </div>

          <br><br>

          <form action="opportunity-status" method="post" novalidate>
            <h2 class="govuk-heading-m">Filters</h2>
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-heading-s">
                    Status
                  </legend>
                  <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="status" name="status" type="checkbox" value="hmrc">
                      <label class="govuk-label govuk-checkboxes__label" for="status">
                        Cancelled
                      </label> 
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="status-2" name="status" type="checkbox"
                      value="employment-tribunal">
                      <label class="govuk-label govuk-checkboxes__label" for="status-2">
                        Early exit
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="status-3" name="status" type="checkbox" value="MOD">
                      <label class="govuk-label govuk-checkboxes__label" for="status-3">
                        Ended
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="status-3" name="status" type="checkbox" value="MOD">
                      <label class="govuk-label govuk-checkboxes__label" for="status-3">
                        Rejected
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-heading-s">
                    Opportunity
                  </legend>
                  <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="status" name="status" type="checkbox" value="hmrc">
                      <label class="govuk-label govuk-checkboxes__label" for="status">
                        Restart North East
                      </label> 
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="status-2" name="status" type="checkbox"
                      value="employment-tribunal">
                      <label class="govuk-label govuk-checkboxes__label" for="status-2">
                        Restart North West
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="status-3" name="status" type="checkbox" value="MOD">
                      <label class="govuk-label govuk-checkboxes__label" for="status-3">
                        Connect to Work North East
                      </label>
                    </div>
                  </div>
              </fieldset>
            </div>
          
                  <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
              Apply filters
            </button>
                  <p>
                    <a href="#">Clear filters</a>
                  </p>
              </form>
            </div>

            <!--------------------------end of side filtering-------------------------->

            <!-------------------------------header-------------------------------->
            
            <div class="govuk-grid-column-three-quarters">
              {% from "horizontal-navigation/macro.njk" import dwpHorizontalNavigation %}

              {{ 
                dwpHorizontalNavigation({
                      selectedItem: "referrals-closed",
                      containerClasses: "govuk-!-padding-bottom-5",
                      items: [
                          {
                            text: "All referrals",
                            href: "referrals-all",
                            id: "s-item-1"
                          },
                          {
                            text: "New",
                            href: "referrals-new",
                            id: "s-item-3"
                          },
                          {
                            text: "Received",
                            href: "referrals-received",
                            id: "s-item-2"
                          },
                          {
                            text: "Accepted",
                            href: "referrals-accepted",
                            id: "s-item-3"
                          },
                          {
                            text: "Active",
                            href: "referrals-active",
                            id: "s-item-3"
                          },
                          {
                            text: "Closed",
                            href: "referrals-closed",
                            id: "s-item-3"
                          }
                          
                      ]
                  })
              }}
              <h1 class="govuk-heading-l">
                Closed referrals<br>
                <span class="govuk-caption-l">Referrals that have rejected, cancelled or ended</span>
              </h1>
            </div>

            <!--------------------------table-------------------------->
            
            <div class="govuk-grid-column-three-quarters">
              <table class="govuk-table" data-module="moj-sortable-table" data-multi-select-checkbox="#select-all">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col" id="select-all">
                      <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                        <input type="checkbox" class="govuk-checkboxes__input" id="trevor-norman">
                        <label class="govuk-label govuk-checkboxes__label" for="trevor-norman">
                          <span class="govuk-visually-hidden">Select Trevor Norman</span>
                        </label>
                      </div>
                    </th>
                  </th>
                  <th scope="col" class="govuk-table__header" aria-sort="ascending">Referral ID</th>
                  <th scope="col" class="govuk-table__header" aria-sort="none">Citizen details</th>
                  <th scope="col" class="govuk-table__header" aria-sort="none">Opportunity details</th>
                  <th scope="col" class="govuk-table__header" aria-sort="none">Closed on</th>
                  <th scope="col" class="govuk-table__header" aria-sort="none">Status</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                      <input type="checkbox" class="govuk-checkboxes__input" id="trevor-wainwright">
                      <label class="govuk-label govuk-checkboxes__label" for="trevor-wainwright">
                        <span class="govuk-visually-hidden">Select Trevor Wainwright</span>
                      </label>
                    </div>
                  </td>
                  <td class="govuk-table__cell" data-sort-value="700986680">
                    <a href="individual-referral">70098681</a>
                  </td>
                  <td class="govuk-table__cell">Kenneth Graham <span class="govuk-hint">WA894578C</span>
                  </td>
                  
                  <td class="govuk-table__cell">Restart<br>North East</td>
                   <td class="govuk-table__cell" data-sort-value="30" class="close-date">7/1/2025</td>
<td class="govuk-table__cell">Ended</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                      <input type="checkbox" class="govuk-checkboxes__input" id="jane-eyre">
                      <label class="govuk-label govuk-checkboxes__label" for="jane-eyre">
                        <span class="govuk-visually-hidden">Select Jane Eyre</span>
                      </label>
                    </div>
                  </td>
                  <td class="govuk-table__cell" data-sort-value="700986680">
                    <a href="#">700986679</a>
                  </td>
                  <td class="govuk-table__cell">Jane Eyre <span class="govuk-hint">WD458945C</span>
                  </td>
                  <td class="govuk-table__cell">Restart<br>North East</td>
                   <td class="govuk-table__cell" data-sort-value="30" class="close-date">7/1/2025</td>
                   <td class="govuk-table__cell">Cancelled</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                      <input type="checkbox" class="govuk-checkboxes__input" id="david-note">
                      <label class="govuk-label govuk-checkboxes__label" for="david-note">
                        <span class="govuk-visually-hidden">Select David Note</span>
                      </label>
                    </div>
                  </td>
                  <td class="govuk-table__cell" data-sort-value="700986680">
                    <a href="#">700986678</a>
                  </td>
                  <td class="govuk-table__cell">David Note <span class="govuk-hint">RN000123A</span>
                  </td>
                  
                  <td class="govuk-table__cell">Restart<br>North East</td>
                   <td class="govuk-table__cell" data-sort-value="30" class="close-date">7/1/2025</td>
<td class="govuk-table__cell">Ended</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                      <input type="checkbox" class="govuk-checkboxes__input" id="billy-ocean">
                      <label class="govuk-label govuk-checkboxes__label" for="billy-ocean">
                        <span class="govuk-visually-hidden">Select Billy Ocean</span>
                      </label>
                    </div>
                  </td>
                  <td class="govuk-table__cell" data-sort-value="700986680">
                    <a href="#">700986677</a>
                  </td>
                  <td class="govuk-table__cell">Billy Ocean <span class="govuk-hint">RN000771T</span>
                  </td>
                  
                  <td class="govuk-table__cell">Restart<br>North East</td>
                   <td class="govuk-table__cell" data-sort-value="30" class="close-date">7/1/2025</td>
<td class="govuk-table__cell">Early exit</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                      <input type="checkbox" class="govuk-checkboxes__input" id="frank-sidebottom">
                      <label class="govuk-label govuk-checkboxes__label" for="frank-sidebottom">
                        <span class="govuk-visually-hidden">Select Frank Sidebottom</span>
                      </label>
                    </div>
                  </td>
                  <td class="govuk-table__cell" data-sort-value="700986680">
                    <a href="#">700986676</a>
                  </td>
                  <td class="govuk-table__cell">Frank Sidebottom <span class="govuk-hint">AE779196D</span>
                  </td>
                  
                  <td class="govuk-table__cell">Restart<br>North East</td>
                   <td class="govuk-table__cell" data-sort-value="30" class="close-date">7/1/2025</td>
<td class="govuk-table__cell">Rejected</td>
                </tr>
              </tbody>
            </table>

          </div>
          

        {% endblock %}