{% extends "layouts/so-citizen-active-rm.html" %}

{% block pageTitle %}
Referral started – {{ serviceName }} – Support Offers prototype
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">Self-employed outcome claim submitted</h1>
      <div class="govuk-panel__body govuk-!-font-size-27">
        Invoice number: ERS-4018693-15003851
      </div>
    </div>

      <p class=""govuk-body">To claim a self-employed outcome for another participant <a href="referrals-active-as">return to your active referrals</a></p>

      <p><a href="dashboard-as">Return to the dashboard</a></p>
  </div>
</div>

{% endblock %}