{% extends "layouts/so-citizen-active-rm.html" %}

{% block pageTitle %}
What general update do you want to make for this participant? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="start-or-cancel-check-answers-cancel" method="post" novalidate>
        {% from "govuk/components/radios/macro.njk" import govukRadios %}


        {{ govukRadios({
        name: "cancellation-reason",
        fieldset: {
          legend: {
           text: "Why are you cancelling this referral?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
         }
        },
        items: [
          {
            value: "Not engaging",
            text: "The citizen is not engaging",
            hint: {
              text: "You have made repeated attempts to engage with them, but they have not attended an initial meeting after 30 days"
            }
          },
          {
            value: "Duplicate referral",
            text: "They are employed",
            hint: {
              text: "You have already received a referral for this citizen or they are already a participant on this opportunity"
            }
          },
          {
            value: "Self-employed",
            text: "The citizen is not eligible",
            hint: {
              text: "They are employed, self-employed or on a different DWP national contracted opportunity"
            }
          },
          {
            value: "Referral sent in error",
            text: "The referral has been sent in error",
            hint: {
              text: "DWP have asked you to reject this referral"
            }
          }
        ]
        }) }}

        {{ govukButton({
        text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}