{% extends "layouts/so-citizen-active-rm.html" %}

{% block pageTitle %}
Referral started – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">Referral started</h1>
      <div class="govuk-panel__body govuk-!-font-size-27">
        You have successfully entered
        <b id="date-initial-meeting">Today</b>
        as the start date for this person.
      </div>
    </div>

      <p>This referral is now in your <a href="referrals-active-as">active referrals</a>.</p>

      <p class=""govuk-body">To start or cancel another referral, go to <a href="dashboard-as">return to the dashboard</a>.</p>
  </div>
</div>

<script>
  var today = new Date();

    var options = {
      year: 'numeric',
      day: 'numeric',
      month: 'long'
    };

  apptDate = document.getElementById("date-initial-meeting");
  apptDate.innerText = today.toLocaleDateString('en-UK', options);
</script>

{% endblock %}