{% extends "layout-esa.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}

{% block pageTitle %}
History and notes - Managing Working Age Claimants
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <!--
  
  <div class="govuk-grid-column-one-quarter">
    {{ govukButton({
      text: "Add a note",
      href: 'add-note-new'
    }) }}

    <h2 class="govuk-heading-m">Filters</h2>



    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <h1 class="govuk-fieldset__heading">
            Sort by
          </h1>
        </legend>
        <div class="govuk-radios govuk-radios--inline govuk-radios--small" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changed-name" name="sort" type="radio" value="month" checked>
            <label class="govuk-label govuk-radios__label" for="sort">
              Newest
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="sort-2" name="sort" type="radio" value="year">
            <label class="govuk-label govuk-radios__label" for="sort-2">
              Oldest
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <h1 class="govuk-fieldset__heading">
            Note type
          </h1>
        </legend>
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="type" name="type" type="checkbox" value="attended">
            <label class="govuk-label govuk-checkboxes__label" for="type">
              Appointments
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="type-2" name="type" type="checkbox" value="fta">
            <label class="govuk-label govuk-checkboxes__label" for="type-2">
              Claimant
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="type-2" name="type" type="checkbox" value="decisions">
            <label class="govuk-label govuk-checkboxes__label" for="type-2">
              Colleague
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <h1 class="govuk-fieldset__heading">
            Appointment status
          </h1>
        </legend>
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="status" name="status" type="checkbox" value="attended">
            <label class="govuk-label govuk-checkboxes__label" for="status">
              Attended
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="status-2" name="status" type="checkbox" value="fta">
            <label class="govuk-label govuk-checkboxes__label" for="status-2">
              Failed to attend
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="status-3" name="status" type="checkbox" value="rebooked">
            <label class="govuk-label govuk-checkboxes__label" for="status-3">
              Rebooked
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="status-4" name="status" type="checkbox" value="cancelled">
            <label class="govuk-label govuk-checkboxes__label" for="status-4">
              Cancelled
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <h1 class="govuk-fieldset__heading">
            Appointment type
          </h1>
        </legend>
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="apptype" name="apptype" type="checkbox" value="attended">
            <label class="govuk-label govuk-checkboxes__label" for="apptype">
              New claim appointment
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="apptype-2" name="apptype" type="checkbox" value="fta">
            <label class="govuk-label govuk-checkboxes__label" for="apptype-2">
              Health and work conversation
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="apptype-3" name="apptype" type="checkbox" value="rebooked">
            <label class="govuk-label govuk-checkboxes__label" for="apptype-3">
              Flexible appointment - Voluntary
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="apptype-4" name="apptype" type="checkbox" value="cancelled">
            <label class="govuk-label govuk-checkboxes__label" for="apptype-4">
              Flexible appointment - Mandatory
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="apptype-5" name="apptype" type="checkbox" value="cancelled">
            <label class="govuk-label govuk-checkboxes__label" for="apptype-5">
              Work coach support health - Voluntary
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="apptype-6" name="apptype" type="checkbox" value="cancelled">
            <label class="govuk-label govuk-checkboxes__label" for="apptype-6">
              Work coach support health - Mandatory
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="apptype-7" name="apptype" type="checkbox" value="cancelled">
            <label class="govuk-label govuk-checkboxes__label" for="apptype-7">
              Work and Health programme - Signposted
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="apptype-8" name="apptype" type="checkbox" value="cancelled">
            <label class="govuk-label govuk-checkboxes__label" for="apptype-8">
              Work and Health programme - Voluntary
            </label>
          </div>
          </div> 
        </div>
      </fieldset>
    </div>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <h1 class="govuk-fieldset__heading">
            Agent
          </h1>
        </legend>
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="workcoach" name="workcoach" type="checkbox" value="attended">
            <label class="govuk-label govuk-checkboxes__label" for="workcoach">
              Jon Clement
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="workcoach-2" name="workcoach" type="checkbox" value="fta">
            <label class="govuk-label govuk-checkboxes__label" for="workcoach-2">
              Sara Blythe
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="workcoach-3" name="workcoach" type="checkbox" value="rebooked">
            <label class="govuk-label govuk-checkboxes__label" for="workcoach-3">
              Gordon Smith
            </label>
          </div>

        </div>
      </fieldset>
    </div>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <h1 class="govuk-fieldset__heading">
            Appointment channel
          </h1>
        </legend>
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="channel" name="channel" type="checkbox" value="attended">
            <label class="govuk-label govuk-checkboxes__label" for="channel">
              Jobcentre
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="channel-2" name="channel" type="checkbox" value="fta">
            <label class="govuk-label govuk-checkboxes__label" for="channel-2">
              Phone
            </label>
          </div>
        </div>
      </fieldset>
    </div>

  </div>

-->

  <div class="govuk-grid-column-full">

    {{ govukButton({
      text: "Add a note",
      href: 'add-note-new'
    }) }}

    {{ govukNotificationBanner({
      text: "Work coach note was successfully added",
      type: "success"
    }) }}
    
    <table class="govuk-table govuk-!-font-size-19">
      <caption class="govuk-table__caption govuk-table__caption--m">History and notes</caption>

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" style="white-space: nowrap;">Date & time</th>
          <th scope="col" class="govuk-table__header">Type</th>
          <th scope="col" class="govuk-table__header">Preview</th>
          <th scope="col" class="govuk-table__header">Agent</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__header"><span style="white-space: nowrap;">10 Jun 2024</span><br> 2:00pm<br><strong class="govuk-tag govuk-tag--yellow govuk-!-margin-top-2">Provider</strong></td>
          <td class="govuk-table__cell"><a href="past-appointment-provider" class="govuk-link--no-visited-state">Universal Support activity</a></td>
          <td class="govuk-table__cell"><p style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">Claimant was made aware of the courses on offer at Reed via Universal Support programme</p></td>
          <td class="govuk-table__cell">Reed</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__header"><span style="white-space: nowrap;">28 Jun 2023</span><br> 2:00pm<br><strong class="govuk-tag govuk-tag--green govuk-!-margin-top-2">Attended</strong></td>
          <td class="govuk-table__cell"><a href="past-appointment" class="govuk-link--no-visited-state">Work Search Review</a></td>
          <td class="govuk-table__cell"><p style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">Claimant provided job applications via email and interview confirmations for 2 roles. Has said they will provide an update via email when they have</p></td>
          <td class="govuk-table__cell">Jon Clement</td>
        </tr>
        <!--  -->
        <tr class="govuk-table__row">
          <td class="govuk-table__header"><span style="white-space: nowrap;">14 Jun 2023</span><br> 3:30pm<br><strong class="govuk-tag govuk-tag--green govuk-!-margin-top-2">Attended</strong></td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link--no-visited-state">Work Search Review</a></td>
          <td class="govuk-table__cell"><p style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">No update on previous job applications. Waiting for companies to get back to them, has heard</p></td>
          <td class="govuk-table__cell">Jon Clement</td>
        </tr>
        <!--  -->
        <tr class="govuk-table__row">
          <td class="govuk-table__header" ><span style="white-space: nowrap;">1 Jun 2023</span><br> 2:00pm<br><strong class="govuk-tag govuk-tag--yellow govuk-!-margin-top-2">Colleague</strong></td>
          <td class="govuk-table__cell" ><a href="view-note-colleague" class="govuk-link--no-visited-state">Failure to accept an offered job</a></td>
          <td class="govuk-table__cell"><p style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">Referral raised and sent to decision maker, waiting for feedback and investigation</p></td>
          <td class="govuk-table__cell" >Jon Clement</td>
        </tr>
        <!--  -->
        <tr class="govuk-table__row">
          <td class="govuk-table__header" ><span style="white-space: nowrap;">1 Jun 2023</span><br> 2:00pm<br><strong class="govuk-tag govuk-tag--green govuk-!-margin-top-2">Attended</strong></td>
          <td class="govuk-table__cell" ><a href="#" class="govuk-link--no-visited-state">Work search review</a></td>
          <td class="govuk-table__cell"><p style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">Claimant mentioned they had declined a job offer so I will send in a referral to a decision maker</p></td>
          <td class="govuk-table__cell" >Jon Clement</td>
        </tr>
        <!--  -->
        <tr class="govuk-table__row">
          <td class="govuk-table__header"><span style="white-space: nowrap;">21 May 2024</span><br> 1:00pm<br><strong class="govuk-tag govuk-tag--orange govuk-!-margin-top-2">Rebooked</strong></td>
          <td class="govuk-table__cell"><a href="rebooked-appointment" class="govuk-link--no-visited-state">Work Search Review</a></td>
          <td class="govuk-table__cell"><p style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">Rebooked for the 1st of June. Claimant informed of new appointment via text message</p></td>
          <td class="govuk-table__cell">Jon Clement</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__header"><span style="white-space: nowrap;">21 May 2024</span><br> 1:00pm<br><strong class="govuk-tag govuk-tag--yellow govuk-!-margin-top-2">Provider</strong></td>
          <td class="govuk-table__cell"><a href="view-note-provider-2.html" class="govuk-link--no-visited-state">Universal Support activity</a></td>
          <td class="govuk-table__cell"><p style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">Claimant did not attend appointment at Reed. Rebooked for the 6th June</p></td>
          <td class="govuk-table__cell">Reed</td>
        </tr>
        <!--  -->
        <tr class="govuk-table__row">
          <td class="govuk-table__header"><span style="white-space: nowrap;">8 May 2024</span><br> 2:45pm<br><strong class="govuk-tag govuk-tag--grey govuk-!-margin-top-2">Claimant</strong></td>
          <td class="govuk-table__cell"><a href="view-note" class="govuk-link--no-visited-state">Illness</a></td>
          <td class="govuk-table__cell"><p style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">Claimant emailed to advise of illness. Appointment will be rebooked for the next suitable </p></td>
          <td class="govuk-table__cell">Gordon Smith</td>
        </tr>
        <!--  -->
        <tr class="govuk-table__row">
          <td class="govuk-table__header"><span style="white-space: nowrap;">24 Apr 2024</span><br> 2:10pm<br><strong class="govuk-tag govuk-tag--green govuk-!-margin-top-2">Attended</strong></td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link--no-visited-state">Flexible intervention</a></td>
          <td class="govuk-table__cell"><p style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">Claimant asked for support in searching for work online and how to apply via email</p></td>
          <td class="govuk-table__cell">Jon Clement</td>
        </tr>
        <!--  -->
        <tr class="govuk-table__row">
          <td class="govuk-table__header"><span style="white-space: nowrap;">20 Apr 2024</span><br> 2:00pm<br><strong class="govuk-tag govuk-tag--green govuk-!-margin-top-2">Attended</strong></td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link--no-visited-state">Work Search Review</a></td>
          <td class="govuk-table__cell"><p style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">Frustrated at having to search online. Claimant finding it very difficult to get a response</p></td>
          <td class="govuk-table__cell">Jon Clement</td>
        </tr>
        <!--  -->
        <tr class="govuk-table__row">
          <td class="govuk-table__header"><span style="white-space: nowrap;">6 Apr 2024</span><br> 2:00pm<br><strong class="govuk-tag govuk-tag--green govuk-!-margin-top-2">Attended</strong></td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link--no-visited-state">Work Search Review</a></td>
          <td class="govuk-table__cell"><p style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">Claimant finds it difficult to use a computer to search for work. Prefers to use job papers</p></td>
          <td class="govuk-table__cell">Jon Clement</td>
        </tr>
        <!--  -->
        <tr class="govuk-table__row">
          <td class="govuk-table__header"><span style="white-space: nowrap;">12 Mar 2024</span><br> 1:00pm<br><strong class="govuk-tag govuk-tag--orange govuk-!-margin-top-2">Rebooked</strong></td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link--no-visited-state">Work Search Review</a></td>
          <td class="govuk-table__cell"><p style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">Claimant called to rebook appointment. New appt booked in for 6th April as they are on jury duty</p></td>
          <td class="govuk-table__cell">Jon Clement</td>
        </tr>
        <!--  -->
        <tr class="govuk-table__row">
          <td class="govuk-table__header"><span style="white-space: nowrap;">9 Mar 2024</span><br> 11:00am<br><strong class="govuk-tag govuk-tag--red govuk-!-margin-top-2">Failed to attend</strong></td>
          <td class="govuk-table__cell"><a href="fta-appointment" class="govuk-link--no-visited-state">Work Search Review</a></td>
          <td class="govuk-table__cell"><p style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">Claimant did not show for the appointment and wasn't contactable by phone</p></td>
          <td class="govuk-table__cell">Jon Clement</td>
        </tr>
        <!--  -->
        <tr class="govuk-table__row">
          <td class="govuk-table__header"><span style="white-space: nowrap;">1 Mar 2024</span><br> 11:00am<br><strong class="govuk-tag govuk-tag--green govuk-!-margin-top-2">Attended</strong></td>
          <td class="govuk-table__cell"><a href="newclaim-appointment" class="govuk-link--no-visited-state">New claim appointment</a></td>
          <td class="govuk-table__cell"><p style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">Claimant commitment agreed and  we discussed what types of work they were going to look for</p></td>
          <td class="govuk-table__cell">Jon Clement</td>
        </tr>
      </tbody>
    </table>

    {{ govukPagination({
      previous: {
        href: "#"
      },
      next: {
        href: "history-new-page2"
      },
      items: [
        {
          number: 1,
          current: true,
          href: "#"
        },
        {
          number: 2,
          href: "history-new-page2"
        },
        {
          number: 3,
          href: "#"
        }
      ]
    }) }}

  </div>
</div>

{% endblock %}
