{% extends "layouts/internal-blank.html" %}

{% block pageTitle %}
Sorry there is a problem with the service – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Sorry there is a problem with the service</h1>
      <p class="govuk-body">Try again later.<br>
      </p>
      <p class="govuk-body">You can
          <a class="govuk-link" href="#" target="_blank">make the referral in LMS<a>.</a>
        </p>

      </div>
    </div>
  {% endblock %}