{% extends "layouts/idm-citizen.html" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/error-message/macro.njk" import govukErrorMessage %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
Is this phone number correct? – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukErrorSummary({
  titleText: "There is a problem",
  errorList: [
    {
      text: "Enter a phone number, like 01632 960 001, 07700 900 982 or +44 808 157 0192",
      href: "#contact"
    }
  ]
}) }}
      <h1 class="govuk-heading-l">Is their phone number correct?</h1>
      <p class="govuk-hint">If you provide a new phone number, this person’s CIS record will be updated.</p>
      <p class="govuk-body-l">07700 900 457</p>

      {% set phoneHtml %}
      {{ govukInput({
      id: "contact-by-phone",
      name: "ContactByPhone",
      spellcheck: false,
      value: "7007123",
      type: "tel",
      autocomplete: "tel",
      classes: "govuk-!-width-one-half",
      label: {
      text: "Enter the correct phone number"
      },
      errorMessage: {
      text: "Enter a phone number"
      }
      }) }}
      {% endset -%}

      {{ govukRadios({
      name: "contact",
      fieldset: {
      isPageHeading: true
      },
      items: [
      {
      value: "yes",
      text: "Yes"
      },
      {
      value: "no",
      text: "No",
      checked: true,
      conditional: {
      html: phoneHtml
      }
      }
      ]
      }) }}

      {{ govukButton({
      text: "Continue",
      preventDoubleClick: true,
      href: "email-a"
      }) }}
    </div>
  </div>
{% endblock %}