{% extends "layouts/so-citizen-2.html" %}

{% block pageTitle %}
  Why are you rejecting this citizen's referral? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {{ govukRadios({
  name: "request-reject",
  fieldset: {
    legend: {
      text: "Why are you rejecting this referral?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "duplicate-referral",
      text: "The referral is a duplicate",
      hint: {
        text: "You have already received a referral for this citizen, or they are already a participant on this opportunity"
      }
    },
    {
      value: "not-eligible",
      text: "The citizen is not eligible",
      hint: {
        text: "The citizen is employed, self-employed or on a different national DWP opportunity"
      }
    },
    {
      value: "started-in-error",
      text: "The referral has been sent in error",
      hint: {
        text: "You have been asked to reject the referral by a Jobcentre Plus work coach"
      }
    },
    {
      value: "not-engaging",
      text: "The citizen is not engaging",
      hint: {
        text: "You have made repeated attempts to engage with the citizen, but they have not attended an initial meeting after 30 days"
      }
    }
  ]
  }) }}

        {% from "govuk/components/button/macro.njk" import govukButton %}
        {{ govukButton({
  text: "Continue",
  href: "ea-not-eligible"
  }) }}
      </div>
    </div>
  </div>

{% endblock %}