{% extends "layouts/so-citizen-active-rm.html" %}

{% block pageTitle %}
What current provision update do you want to make for this participant? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Request submitted",
        html: "You have requested to pause provision for <strong>Alex Horncastle</strong>"
      }) }}

      <!--<p class="govuk-body">We have sent you a confirmation email.</p>-->

      <h2 class="govuk-heading-m">What happens next?</h2>

      <!--<p class="govuk-body">
        If your update requires action from DWP, you will receive a response once it has been resolved.
      </p>
      <p class="govuk-body">
        They may contact you either to confirm your update, or to ask for more information.
      </p>-->

      <p class="govuk-body">
        This request has been sent to DWP for review. 
      </p>

      <p class="govuk-body">
        DWP will not respond directly to this request.   
      </p>

      <p class="govuk-body">
        <!--You can <a href="report-progress" class="govuk-link">add another update</a> for this participant.-->

        To view another participant <a href="dashboard" class="govuk-link">return to the dashboard</a>
      </p>

    </div>
  </div>
{% endblock %}