{% extends "layouts/so-citizen-active-rm.html" %}

{% block pageTitle %}
Referral started – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">Start date submitted</h1>
      <div class="govuk-panel__body govuk-!-font-size-27">
        You have successfully entered
        <b>{{ data['when-started'] }}</b>
        as the start date for this participant.
      </div>
    </div>

      <p>This referral will now appear in your list of current participants where you can
        view all participants currently on an provision.</p>

      <p>Go back to <a href="dashboard">the dashboard</a> to see all referrals</p>
  </div>
</div>

{% endblock %}