{% extends "layouts/so-citizen-active-rm.html" %}
{% from "../../../govuk/components/password-input/macro.njk" import govukPasswordInput %}

{% block pageTitle %}
What general update do you want to make for this participant? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    
    {{ govukInput({
      label: {
        text: "Username"
      },
      id: "username-input",
      name: "userName"
    }) }}

    {{ govukPasswordInput({
      label: {
        text: "Password"
      },
      id: "password-input",
      name: "password"
    }) }}
    </div>
  </div>
{% endblock %}