{% extends "layouts/so-citizen-active-rm.html" %}

{% block pageTitle %}
What update do you want to make for this participant? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="general-update" method="post" novalidate>
        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {{ govukRadios({
        name: "pause-length",
        fieldset: {
          legend: {
           text: "For how long would you like to to pause the provision?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
         }
        },
        items: [
        {
            value: "1 month~pause-more-details",
             text: "1 month"
          },
          {
            value: "2 months-request~pause-more-details",
             text: "2 months"
          },
          {
            value: "3 months~pause-more-details",
            text: "3 months"
          },
          {
            value: "6 months~pause-more-details",
            text: "6 months"
          },
          {
            value: "custom length~pause-more-details",
            text: "Custom length"
          }
        ]
        }) }}

        {{ govukButton({
        text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}