{% extends "layouts/idm-citizen.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
Which email address do you want to send to the provider? – {{ serviceName }} – Support Offers prototype
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set emailHtml %}
      {{ govukInput({
  id: "contact-by-phone",
  name: "contactByPhone",
  type: "email",
  autocomplete: "email",
  classes: "govuk-!-width-one-third",
  label: {
    text: "Enter email address"
  }
}) }}
      {% endset -%}

      {{ govukRadios({
  name: "contact",
  fieldset: {
    legend: {
      text: "What is their email address?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "Select one email address to send to the provider. If you do not know the email address for this person, select 'no email address'."
  },
  items: [
    {
      value: "firstEmail",
      text: "sam.doe@example.com"
    },
    {
      value: "otherEmail",
      text: "Other email address",
      conditional: {
        html: emailHtml
      }
    },
    {
      value: "noEmail",
      text: "No email address"
    }
  ]
}) }}

      {{ govukButton({
      text: "Continue",
      preventDoubleClick: true
      }) }}
    </div>
  </div>
{% endblock %}