{% extends "layouts/so-citizen-active-rm.html" %}

{% block pageTitle %}
What general update do you want to make for this participant? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l">Check your answers before sending your update</h1>

    {{ govukSummaryList({
      classes: "govuk-!-margin-bottom-9",
      rows: [
        {
          key: {
            text: "Update"
          },
          value: {
            text: "Participant attended appointment"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "previous application number"
              }
            ]
          }
        },
        {
          key: {
            text: "Date"
          },
          value: {
            text: "Today"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "licence type"
              }
            ]
          }
        },
        {
          key: {
            text: "Notes on the appointment"
          },
          value: {
            text: "Participant applied for 2 job adverts posted on our main board. She is concerned that she will need reasonable adjustments in order to attend."
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "home address"
              }
            ]
          }
        },
        {
          key: {
            text: "Follow up required?"
          },
          value: {
            text: "No"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "licence period"
              }
            ]
          }
        }
      ]
    }) }}

    <h2 class="govuk-heading-m">This update is about to be added to the participant's case notes</h2>

    <p class="govuk-body">Please make sure the details you are providing are correct.</p>

    <form action="general-confirm-update" method="post" novalidate>

      <input type="hidden" name="answers-checked" value="true">

      {{ govukButton({
        text: "Accept and send"
      }) }}

    </form>

  </div>
</div>
{% endblock %}