{% extends "layouts/idm-citizen-us.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
There are 4 opportunities available – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/choose-programme_us-1-1" method="post" novalidate>
        {{ govukRadios({
  name: "select-programme",
  fieldset: {
    legend: {
      text: "There are 4 opportunities available",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "Select an opportunity for an overview and full eligibility criteria."
  },
  items: [
    {
      value: "us-1",
      text: "Universal Support - in work - Individual Placement and Support (IPS)",
      hint: {
        html: ""
      }
    },
    {
      value: "us-3",
      text: "Universal Support - out of work - Individual Placement and Support (IPS)",
      hint: {
        html: ""
      }
    },
    {
      value: "us-2",
      text: "Universal Support - in work - Supported Employment Quality Framework (SEQF)",
      hint: {
        html: ""
      }
    },
    {
      value: "us-4",
      text: "Universal Support - out of work - Supported Employment Quality Framework (SEQF)",
      hint: {
        html: ""
      }
    }
  ]
}) }}
        {{ govukButton({
  text: "Continue"
  }) }}
      </form>
    </div>
  </div>
{% endblock %}