{% extends "layouts/main.html" %}
{% block pageTitle %} Referral management prototypes –
{{serviceName}} – GOV.UK Prototype Kit {% endblock %}
{# {% block header %}
  {% from
"internal-service-header/macro.njk" import dwpHeader %}
  {{ dwpHeader({ 
    name: "Support offers", 
    container:true 
    }) }}
{% endblock %} #}
{% block beforeContent %}

  <!-- Do we need a breadcrumb? -->

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/index">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Referral management prototypes</a>
      </li>
    </ol>
  </div>

{% endblock %}

{% block content %}

  <!-- Header and Intro -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Prototype</span>
      <h1 class="govuk-heading-xl">Referral management</h1>
      <p class="govuk-body govuk-!-font-size-16">
        <strong>Last updated:</strong> 24th June 2024
    </p>
      <p class="govuk-!-margin-bottom-8">
      In the first stage of testing with Work coaches, understand where they would like to see updates from the provider and what kind of updates.
    </p>
    </div>

  </div>

  <div class="app-width-container">
    <class="govuk-main-wrapper govuk-main-wrapper--l">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-!-margin-bottom-8">

            {% set prapAdminScreens %}
              <h2 class="govuk-heading-l">Provider – PRaP admin screens</h2>
              <p>
                <strong class="govuk-tag govuk-tag--green">
                Latest version
              </strong>
              </p>

              {% from "govuk/components/button/macro.njk" import govukButton %}

              {{ govukButton({
                text: "Start version 1.3",
                href: "/referral-management/prap-admin/dashboard",
                isStartButton: true
              }) }}

              <h3 class="govuk-heading-m">Supporting information</h3>

              <dl class="govuk-summary-list govuk-!-margin-bottom-8">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Sprint version</dt>
                  <dd class="govuk-summary-list__value">Sprint 16</dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Summary of changes</dt>
                  <dd class="govuk-summary-list__value">
                  This prototype has been developed with the Restart Scheme in mind, with the intention that the final
                  design will be dynamic.
                </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Mural</dt>
                  <dd class="govuk-summary-list__value">
                    <ul class="govuk-list">
                      <li>
                        <a class="govuk-link"
                        href="https://app.mural.co/t/universalcredit7056/m/universalcredit7056/1663321985645/50ea730cceab1719fc646842175f74162a9616db?wid=0-1675089514631">Screenshots
                        on Mural</a>
                      </li>
                    </ul>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Design documentation</dt>
                  <dd class="govuk-summary-list__value">
                    <a class="govuk-link"
                    href="https://dwpdigital.atlassian.net/wiki/spaces/SORM/pages/132835115731/Interaction+design">Documented
                    design decisions</a>
                  </dd>
                </div>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Feature team</dt>
                  <dd class="govuk-summary-list__value">
                    <a class="govuk-link"
                    href="https://dwpdigital.atlassian.net/wiki/spaces/SORM/overview?homepageId=132820697551">Nidderdale</a>
                  </dd>
                </div>
              </dl>

              <h3 class="govuk-heading-m">Alternative screens</h3>
              <dl class="govuk-summary-list govuk-!-margin-bottom-2">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Alternative tables views</dt>
                  <dd class="govuk-summary-list__value">
                    <a class="govuk-link"
                    href="/referral-management/prap-admin/referrals-pending-b">Radio button versions</a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Summary</dt>
                  <dd class="govuk-summary-list__value">
                  We developed the intitial iteration of the table views from a Health based version. We have since
                  developed an alternative view using radio selection to filter the information. The plan is to include
                  this in future testing of the initial version.
                </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Generic citizen reject route</dt>
                  <dd class="govuk-summary-list__value">
                    <a class="govuk-link"
                    href="/referral-management/prap-admin/individual-referral-generic">Citizen referral page –
                    agnostic</a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Summary</dt>
                  <dd class="govuk-summary-list__value">
                  The initial design was based on the understanding that we could build in dynamic rejection reasons
                  specific to each programme. However, legacy tech dependencies mean that for our MVP we have had to
                  build a generic citizen rejection route that works for all programmes.
                </dd>
                </div>
              </dl>
            {% endset -%}

            {% set dwpScreens %}
              <h2 class="govuk-heading-l">Provider – employment adviser screens</h2>
              
              <p>
                <strong class="govuk-tag govuk-tag--green">
                Latest version
              </strong>
              </p>

              {% from "govuk/components/button/macro.njk" import govukButton %}

              {{ govukButton({
              text: "Start version 3.0",
              href: "/referral-management/provider-rm/v3/dashboard",
              isStartButton: true
              }) }}

              <h3 class="govuk-heading-m">Supporting information</h3>
              <dl class="govuk-summary-list govuk-!-margin-bottom-8">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Sprint version</dt>
                  <dd class="govuk-summary-list__value">Sprint 24</dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Summary</dt>
                  <dd class="govuk-summary-list__value">
                  This is the initial prototype for work coaches working in Jobcentres to see updates from the provider.
                </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Mural</dt>
                  <dd class="govuk-summary-list__value">
                    <ul class="govuk-list">
                      <li>
                        <a class="govuk-link"
                        href="https://app.mural.co/t/universalcredit7056/m/dwpdigital7412/1713878967942/82be1c019ddc27309dc04b7d3577303e78f73582?wid=0-1718098116776">Screenshots
                        on Mural</a>
                      </li>
                    </ul>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Design documentation</dt>
                  <dd class="govuk-summary-list__value">
                    <a class="govuk-link"
                    href="#">Documented
                    design decisions</a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Feature team</dt>
                  <dd class="govuk-summary-list__value">
                    <a class="govuk-link"
                    href="https://dwpdigital.atlassian.net/wiki/spaces/SO/overview?homepageId=132572119340">Nidderdale</a>
                  </dd>
                </div>
                
              </dl>
              <h3 class="govuk-heading-m">Previous versions</h3>
              <dl class="govuk-summary-list govuk-!-margin-bottom-8">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Version 1</dt>
                  <dd class="govuk-summary-list__value">
                    <a class="govuk-link"
                    href="/referral-management/provider-rm/v1/dashboard">Appointment and Change of circumstances</a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Summary</dt>
                  <dd class="govuk-summary-list__value">
                    Testing with senior employment advisors we looked at how they would mark attended and what information they would give DWP, 
                    failed to attend and how they indicate this to DWP, and how they communicate change of contact information.
                  </dd>
                </div>
                <div class="govuk-summary-list__row"></div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key"></dt>
                  <dd class="govuk-summary-list__value">
                  
                  </dd>
                </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Version 2</dt>
                <dd class="govuk-summary-list__value">
                  <a class="govuk-link"
                  href="/referral-management/provider-rm/v2/dashboard">Start a referral, end a provision and pause a provision</a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Summary</dt>
                <dd class="govuk-summary-list__value">
                  Testing with employment advisors we looked at their responsibilties around starting a provision. In what circumstances would they end a provision and is there a need to pause a provision.
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Design documentation</dt>
                <dd class="govuk-summary-list__value">
                  <a class="govuk-link" href="https://app.mural.co/t/universalcredit7056/m/dwpdigital7412/1713878967942/82be1c019ddc27309dc04b7d3577303e78f73582?wid=0-1723048542059">Documented design decisions</a>
                </dd>
              </div>
            </dl>

            <hr class="govuk-!-margin-bottom-8">

              <h2 class="govuk-heading-l">Previous prototype </h2>
              <dl class="govuk-summary-list govuk-!-margin-bottom-8">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Version 1.0</dt>
                  <dd class="govuk-summary-list__value"><a href="/referral-management/ea/referrals-ea-my-open-cases">Referrals - My open cases</a></dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Sprint version</dt>
                  <dd class="govuk-summary-list__value">Sprint 17</dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Summary</dt>
                  <dd class="govuk-summary-list__value">
                  This is the initial prototype for employment advisers that work within national providers. It has
                  not
                  yet
                  been tested with any users and is based on assumptions.
                </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Mural</dt>
                  <dd class="govuk-summary-list__value">
                    <ul class="govuk-list">
                      <li>
                        <a class="govuk-link"
                        href="https://app.mural.co/t/universalcredit7056/m/universalcredit7056/1663321985645/50ea730cceab1719fc646842175f74162a9616db?wid=0-1676043441986">Screenshots
                        on Mural</a>
                      </li>
                    </ul>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Design documentation</dt>
                  <dd class="govuk-summary-list__value">
                    <a class="govuk-link"
                    href="https://dwpdigital.atlassian.net/wiki/spaces/SORM/pages/132835115731/Interaction+design">Documented
                    design decisions</a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Feature team</dt>
                  <dd class="govuk-summary-list__value">
                    <a class="govuk-link"
                    href="https://dwpdigital.atlassian.net/wiki/spaces/SORM/overview?homepageId=132820697551">Nidderdale</a>
                  </dd>
                </div>
              </dl>
              <h3 class="govuk-heading-m">Alternative screens</h3>
              <dl class="govuk-summary-list govuk-!-margin-bottom-2">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Generic citizen reject route</dt>
                  <dd class="govuk-summary-list__value">
                    <a class="govuk-link"
                    href="/referral-management/prap-admin/individual-referral-generic">Citizen referral page –
                    agnostic</a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Summary</dt>
                  <dd class="govuk-summary-list__value">
                  The initial design was based on the understanding that we could build in dynamic rejection reasons
                  specific to each programme. However, legacy tech dependencies mean that for our MVP we have had to
                  build a generic citizen rejection route that works for all programmes.
                </dd>
                </div>
              </dl>

            {% endset -%}

            {% set jcScreens %}
              <h2 class="govuk-heading-l">DWP – work coach screens</h2>
              <p>
                <strong class="govuk-tag govuk-tag--green">
                Latest version
              </strong>
              </p>

              {% from "govuk/components/button/macro.njk" import govukButton %}

              {{ govukButton({
              text: "Start version 2.0",
              href: "/referral-management/rm-ui/v2/searchlight",
              isStartButton: true
              }) }}

              <h3 class="govuk-heading-m">Supporting information</h3>
              <dl class="govuk-summary-list govuk-!-margin-bottom-8">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Sprint version</dt>
                  <dd class="govuk-summary-list__value">Sprint 26</dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Summary</dt>
                  <dd class="govuk-summary-list__value">
                  This is the initial prototype for work coaches working in Jobcentres to see updates from the provider.
                </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Mural</dt>
                  <dd class="govuk-summary-list__value">
                    <ul class="govuk-list">
                      <li>
                        <a class="govuk-link"
                        href="https://app.mural.co/t/universalcredit7056/m/dwpdigital7412/1713878967942/82be1c019ddc27309dc04b7d3577303e78f73582?wid=0-1718098116776">Screenshots
                        on Mural</a>
                      </li>
                    </ul>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Design documentation</dt>
                  <dd class="govuk-summary-list__value">
                    <a class="govuk-link"
                    href="#">Documented
                    design decisions</a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Feature team</dt>
                  <dd class="govuk-summary-list__value">
                    <a class="govuk-link"
                    href="https://dwpdigital.atlassian.net/wiki/spaces/SO/overview?homepageId=132572119340">Nidderdale</a>
                  </dd>
                </div>
              </dl>

              <h3 class="govuk-heading-m">Previous versions</h3>
              <dl class="govuk-summary-list govuk-!-margin-bottom-8">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Version 1</dt>
                  <dd class="govuk-summary-list__value">
                    <a class="govuk-link"
                    href="/referral-management/rm-ui/v1/searchlight">Appointment and Change of circumstances</a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Summary</dt>
                  <dd class="govuk-summary-list__value">
                    Testing history and notes page as a way to receive information from the provider alongside notes regarding appointments at the job centre/job searches and notifications of illness.
                  </dd>
                </div>
      
              
            </dl>
            {% endset -%}

            {% set allProviderScreens %}
              <h2 class="govuk-heading-l">Provider – all roles</h2>
              <p>
                <strong class="govuk-tag govuk-tag--green">
                Latest version
              </strong>
              </p>

              {% from "govuk/components/button/macro.njk" import govukButton %}

              {{ govukButton({
              text: "Start version 2.0",
              href: "/referral-management/manage-a-referral/v2-0/dashboard",
              isStartButton: true
              }) }}
              
              <h3 class="govuk-heading-m">User journeys</h3>
              <dl class="govuk-summary-list govuk-!-margin-bottom-8">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Download</dt>
                  <dd class="govuk-summary-list__value"><a class="govuk-link"
                    href="/referral-management/manage-a-referral/v2-0/referrals-new"> New Individual Referral</a></dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Accept or reject</dt>
                  <dd class="govuk-summary-list__value">
                    <a class="govuk-link"
                        href="/referral-management/manage-a-referral/v2-0/individual-referral-received">Received Individual Referral</a>
                </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Start or cancel</dt>
                  <dd class="govuk-summary-list__value">
                    <ul class="govuk-list">
                      <li>
                        <a class="govuk-link"
                        href="referral-management/manage-a-referral/v2-0/individual-referral-accepted">Accepted Individual Referral</a>
                      </li>
                    </ul>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Early exit/Extension/Self-employed outcome</dt>
                  <dd class="govuk-summary-list__value">
                    <a class="govuk-link"
                    href="/referral-management/manage-a-referral/v2-0/individual-referral-active">Active Individual Referral</a>
                  </dd>
                </div>
              </dl>

              <h3 class="govuk-heading-m">Supporting information</h3>
              <dl class="govuk-summary-list govuk-!-margin-bottom-8">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Sprint version</dt>
                  <dd class="govuk-summary-list__value">Sprint 33</dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Summary</dt>
                  <dd class="govuk-summary-list__value">
                  Covers all core functionality from iSupplier except for generating reports and making payments.
                </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Mural</dt>
                  <dd class="govuk-summary-list__value">
                    <ul class="govuk-list">
                      <li>
                        <a class="govuk-link"
                        href="https://app.mural.co/t/universalcredit7056/m/universalcredit7056/1727428334140/563ce586520937bf54d165e56832cdfb4e38b7d1">Screenshots
                        on Mural</a>
                      </li>
                    </ul>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Design documentation</dt>
                  <dd class="govuk-summary-list__value">
                    <a class="govuk-link"
                    href="https://app.mural.co/t/universalcredit7056/m/universalcredit7056/1727428334140/563ce586520937bf54d165e56832cdfb4e38b7d1?wid=0-1728641901201">Documented
                    design decisions</a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Feature team</dt>
                  <dd class="govuk-summary-list__value">
                    <a class="govuk-link"
                    href="https://dwpdigital.atlassian.net/wiki/spaces/SO/overview?homepageId=132572119340">Nidderdale</a>
                  </dd>
                </div>
              </dl>

              <h3 class="govuk-heading-m">Previous versions</h3>
              <dl class="govuk-summary-list govuk-!-margin-bottom-8">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Version 1.1</dt>
                  <dd class="govuk-summary-list__value">
                    <a class="govuk-link"
                    href="//referral-management/manage-a-referral/v1-1/dashboard">Self-employed outcome application</a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Summary</dt>
                  <dd class="govuk-summary-list__value">
                    Understanding the self-employed outcome journey, including submitting the relevant information for DWP to assess a self-employed outcome claim.
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Version 1</dt>
                  <dd class="govuk-summary-list__value">
                    <a class="govuk-link"
                    href="//referral-management/manage-a-referral/v1/dashboard">Download and start a referral</a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Summary</dt>
                  <dd class="govuk-summary-list__value">
                    Process for downloading/approving a new referral and starting or cancelling after the download.
                  </dd>
                </div>
      
              
            </dl>
            {% endset -%}
          </div>


            {{ govukTabs({
              items: [
                {
                  label: "Provider PRaP admin",
                  id: "prap-admin-screens",
                  panel: {
                    html: prapAdminScreens
                  }
                },
                {
                  label: "Provider Employment advisers",
                  id: "dwp-screens",
                  panel: {
                    html: dwpScreens
                  }
                },
                {
                  label: "Work coaches",
                  id: "jc-screens",
                  panel: {
                    html: jcScreens
                  }
                },
                {
                  label: "Provider - all roles",
                  id: "all-provider-screens",
                  panel: {
                    html: allProviderScreens
                  }
                }
              ]
            }) }}
        </div>

      {% endblock %}
    </class>
  </div>