{% extends "layouts/idm-citizen.html" %}

{% block pageTitle %}
Acknowledgement– {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-width-container">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">Sam Doe has been referred to Restart</h1>
          <div class="govuk-panel__body">Referral ID:<br>
            <strong>201-743-277</strong>
          </div>
        </div>

        <p class="govuk-body">You can <a href="#" class="govuk-link">view this citizen's progress</a>. This will show you:</p>

        <ul class="govuk-list govuk-list--bullet govuk-list">
          <li>
            a copy of this referral
          </li>
          <li>
            the referral ID        
          </li>
          <li>
            when the citizen starts the programme
          </li>

        </ul>

        <p class="govuk-body">If you made this referral by mistake, you need to contact the single point of contact (SPOC) for your <a href="#" class="govuk-link">jobcentre’s</a> Employer & Partnership team.</p>

        <p>
          <a href="JavaScript:window.close()" class="govuk-link">Close this referral</a>
        </p>

      </div>
    </div>
  </div>

</div>

{% endblock %}