{% extends "layouts/idm-citizen.html" %}

{% block pageTitle %}
Citizen details – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-width-container">

        <h1 class="govuk-heading-l">Personal details</h1>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              Sam Doe
            </dd>

          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              4 June 1972
            </dd>

          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              National Insurance number
            </dt>
            <dd class="govuk-summary-list__value">
              QQ 12 34 56 C
            </dd>

          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              72 Guild Street<br>London<br>SE23 6FH
            </dd>

          </div>

        </dl>
        <h1 class="govuk-heading-l">Contact details</h1>
        <div id="check-details" class="govuk-body govuk-!-margin-bottom-4">
          You must check with the citizen that these details are correct and enter an email address and at least one mobile or landline telephone number.
        </div>

        <dl class="govuk-summary-list govuk-!-margin-bottom-7">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Mobile
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['tel-mobile'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/identify-match-refer/V1_0/sam-doe-mobile">
                Change<span class="govuk-visually-hidden"> mobile number</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Landline
            </dt>
            <dd class="govuk-summary-list__value">
              <p>{{ data['tel-landline'] }}</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/identify-match-refer/V1_0/sam-doe-landline">
                Add<span class="govuk-visually-hidden"> landline number</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email address
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['email-address'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/identify-match-refer/V1_0/sam-doe-email">
                Change<span class="govuk-visually-hidden"> email address</span>
              </a>
            </dd>
          </div>

        </dl>

        <form action="sam-doe-opportunity-matched" method="post" novalidate>
          <input type="hidden" name="answers-checked" value="true">
          <button class="govuk-button" data-module="govuk-button">
          Confirm and continue
        </button>
        </form>
      </div>
    </div>
  </main>
</div>

</div>

</div>

{% endblock %}