{% extends "layouts/idm-citizen.html" %}

{% block pageTitle %}
Not suitable – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-width-container">

        <h1 class="govuk-heading-l">You cannot refer Sam Doe to the WHP Disability Condition opportunity</h1>

        <p class="govuk-body">A citizen must meet all the eligibility and suitability criteria when you refer them.</p>

        <p class="govuk-body">If their circumstances change and they become eligible and suitable, you may be able to make a new referral.</p>

        <p>
          <a href="JavaScript:window.close()" class="govuk-link">Close this referral</a>
        </p>

      </div>
    </div>
  </div>

</div>

</div>

{% endblock %}