{% extends "layouts/so-start.html" %}

{% block pageTitle %}
Summary of referrals – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<main class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Summary</h1>
    </div>

    <div class="govuk-grid-column-full">

      <div class="container-full-width">
        <div class="moj-search">
        <h2>
          <label class="govuk-heading-m" for="search">
          Find someone
          </label>
        </h2>
        
          <form action="individual-referral" method="post">
            <div class="govuk-form-group">
              <div id="search-hint" class="govuk-hint moj-search__hint ">
              Search by referral ID, NINO or citizen name
            </div>
              <input class="govuk-input moj-search__input " id="search" name="search" type="search"
              aria-describedby="search-hint">
            </div>
            <button class="govuk-button moj-search__button wrap-column3" data-module="govuk-button">
              Search
            </button>
          </form>
        </div>
      </div>

      <div class="flex-container">
        <div class="box-half">
          <div class="govuk-dashboard-summary2" data-module="govuk-dashboard-summary2">
            <p class="govuk-dashboard-summary__title2">All pending referrals</p>
            <p class="govuk-dashboard-summary__amount2">56</p>
            <div class="govuk-dashboard-summary__links">
              <a href="referrals-pending">Referrals to start or cancel</a>
            </div>
          </div>
        </div>
        <div class="box-half">
          <div class="govuk-dashboard-summary2" data-module="govuk-dashboard-summary2">
            <p class="govuk-dashboard-summary__title2">People on Restart</p>
            <p class="govuk-dashboard-summary__amount2">56</p>
            <div class="govuk-dashboard-summary__links">
              <a href="referrals-pending">Current participants</a>
            </div>
          </div>
        </div>
        <div class="box-half">
          <div class="govuk-dashboard-summary2" data-module="govuk-dashboard-summary2">
            <p class="govuk-dashboard-summary__title2">People on Universal Support</p>
            <p class="govuk-dashboard-summary__amount2">26</p>
            <div class="govuk-dashboard-summary__links">
              <a href="referrals-returned">Current participants</a>
            </div>
          </div>
        </div>
        <div class="box-half">
          <div class="govuk-dashboard-summary2" data-module="govuk-dashboard-summary2">
            <p class="govuk-dashboard-summary__title2">People on Work and Health Programme</p>
            <p class="govuk-dashboard-summary__amount2">275</p>
            <div class="govuk-dashboard-summary__links">
              <a href="referrals-active">Current participants</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

 
  </div>
</main>

{% endblock %}