{% extends "layouts/so-citizen-active-rm.html" %}

{% block pageTitle %}
Referral started – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">Self-employment outcome claim submitted</h1>
    </div>
    <h2 class="govuk-heading-m">What you can do next?</h2>

      <p class=""govuk-body">To claim a self-employed outcome for another participant <a href="referrals-active-as">return to your active referrals</a>.</p>
  </div>
</div>

{% endblock %}