{% extends "layouts/so-citizen-active-rm.html" %}

{% block pageTitle %}
What update do you want to make for this participant? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">These are the participant's business details</h1>
      
      {{ govukInsetText({
        html: "1 Washington Street<br>Worcester<br>WR1 1NL<br><br>xxxxx xxx xxx<br><br>alexhorncastle@horncast.com"
        }) }}


      <form action="self-employed-confirm-personal-contact-details" method="post" novalidate>
        
        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {{ govukRadios({
        name: "what-update",
        fieldset: {
          legend: {
           text: "Can DWP use the business address, phone number and email to contact the participant about their self-employment?",
            classes: "govuk-fieldset__legend--m"
         }
        },
        items: [
        {
            value: "yes~self-employed-check-answers-same",
             text: "Yes"
          },
          {
            value: "no~self-employed-personal-address",
          text: "No - enter personal contact details"
          }
        ]
        }) }}

        {{ govukButton({
        text: "Continue"
        }) }}
      </form>
      </fieldset>
    </div>
  </div>
{% endblock %}