{% extends "layouts/so-citizen-active-rm.html" %}

{% block pageTitle %}
What update do you want to make for this participant? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="self-employed-business-end-date" method="post" novalidate>
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading"> What are their business phone number and email address?</h1>
          </legend>

          {{ govukInput({
            label: {
              text: "Phone number"
            },
            id: "phone-number",
            name: "business-phone-number",
            type: "tel",
            autocomplete: "tel",
            classes: "govuk-input--width-20"
          }) }}

          {{ govukInput({
            label: {
              text: "Email address (optional)"
            },
            id: "email",
            name: "business-email",
            type: "email",
            autocomplete: "email",
            spellcheck: false
          }) }}

          {{ govukButton({
          text: "Continue"
          }) }}
        </form>
      </fieldset>
    </div>
  </div>
{% endblock %}