{% extends "layouts/so-citizen-active-rm.html" %}

{% block pageTitle %}
What update do you want to make for this participant? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Submit a self-employmed outcome</h1>
       <p>Submit all details to help DWP in determining where the partcipant is self-employed.</p>

       <p>You will have the option to add more than one job if applicable. You must input these dates in order starting with the first time during the provision that the participant started self employment</p>

      <form action="self-employed-business-name" method="post" novalidate>
        {{ govukDateInput({
          id: "self-employed-start-date",
          namePrefix: "self-employed-start-date",
          fieldset: {
            legend: {
              text: "What date did they start elf-employment?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, 27 3 2007"
          }
        }) }}

        {{ govukButton({
        text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}