{% extends "layouts/so-citizen-active-rm.html" %}

{% block pageTitle %}
What update do you want to make for this participant? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="#" method="post" novalidate>
        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {{ govukRadios({
        name: "end-reason",
        fieldset: {
          legend: {
           text: "Do you want to start or cancel the referral?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
         }
        },
        items: [
        {
            value: "Start the referral~start-or-cancel-attended",
             text: "Start the referral",
             hint: {
              text: "You can start the referral once the initial meeting has taken place."
            }
          },
          {
            value: "Participant is outside of eligible area~start-or-cancel-reason",
             text: "Cancel the referral",
             hint: {
              text: "You can cancel the referral if the person is not engaging, no longer eligible, or if there is a problem with the referral."
            }
          }
        ]
        }) }}

        {{ govukButton({
        text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}