{% extends "layouts/so-citizen-active-rm.html" %}

{% block pageTitle %}
Referral started – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">Referral started</h1>
      <div class="govuk-panel__body govuk-!-font-size-27">
        You have successfully entered
        <b>{{ data['when-initial-meeting'] }}</b>
        as the start date for this person.
      </div>
    </div>

      <p>This referral is now in your <a href="referrals-active-as">active referrals</a>.</p>

      <p class=""govuk-body">To start or cancel another referral, go to <a href="referral-pending">pending referrals</a> or <a href="dashboard-as">return to the dashboard</a>.</p>
  </div>
</div>

{% endblock %}