{% extends "layouts/so-citizen-active-rm.html" %}

{% block pageTitle %}
What general update do you want to make for this participant? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="start-or-cancel-check-answers-start" method="post" novalidate>
        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {% set customDateHtml %}
        {{ govukDateInput({
              id: "custom-date",
              namePrefix: "custom-date",
              fieldset: {

              },
              hint: {
                text: "For example, 27 3 2007"
              }
            }) }}
        {% endset -%}

        {{ govukRadios({
        name: "when-initial-meeting",
        fieldset: {
          legend: {
           text: "When did they attend the initial meeting?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
         }
        },
        items: [
          {
            value: "Today",
          text: "Today",
          id: "todays-date"
          },
          {
            value: "Previous working day",
             text: "Previous working day",
             id: "prev-date"
          },
          {
            value: "Previous date",
            text: "Previous date",
            conditional: {
              html: customDateHtml
            }
          }
        ]
        }) }}

        {{ govukButton({
        text: "Continue"
        }) }}
      </form>
    </div>
  </div>

  <script>
    /* var today = new Date();
    var options = {
      year: 'numeric',
      day: 'numeric',
      month: 'long'
    };

    var todayDate = document.getElementById("todays-date");
    todayDate.parentElement.lastElementChild.innerHTML = "Today, " + today.toLocaleDateString('en-UK', options); */
  </script>

  <script>
    /* var today = new Date();
    var prevWorkDay;
    if (today.getDay() == 0) {
      prevWorkDay = new Date(today.getFullYear(), today.getMonth(), today.getDate() - 2);
    } else if (today.getDay() == 1) {
      prevWorkDay = new Date(today.getFullYear(), today.getMonth(), today.getDate() - 3);
    } else {
      prevWorkDay = new Date(today.getFullYear(), today.getMonth(), today.getDate() - 1);
    }
    var day = prevWorkDay.getDate();
    var month = prevWorkDay.getMonth();
    var year = prevWorkDay.getFullYear();
    var monthNames = [
      "January",
      "February",
      "March",
      "April",
      "May",
      "June",
      "July",
      "August",
      "September",
      "October",
      "November",
      "December"
    ];
    prevDate = document.getElementById("prev-date");
    prevDate.parentElement.lastElementChild.innerHTML = "Previous working day,  " + day + " " + monthNames[month] + " " + year; */
  </script>

{% endblock %}