{% extends "imr-layouts/us-new-1.html" %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
Enter person details – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="with-hint">
      Is this their current address?
    </label>
      </h1>
      <div id="with-hint-hint" class="govuk-hint">
    This is the address we have on record.
  </div>
      <div class="govuk-body-l">
      1165 Leeds Road<br>Huddersfield<br>HD2 1UX</div>
      <form action="third-contact-details" method="post" novalidate>

        {{ govukRadios({
            classes:"govuk-radios",
            name: "correct-address",
            fieldset: {
            },
            items: [
            {
              value: "correct~contact-journey-c-2",
              text: "Yes"
            },
            {
              value: "incorrect~enter-address-manually",
              text: "No, enter a new address"
            }
            ]
          }) }}

        {{ govukButton({
            value: "none",
            text: "Continue",
            preventDoubleClick: true
          }) }}
      </form>
    </div>
  </div>
{% endblock %}