{% extends "imr-layouts/us-new-1.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block pageTitle %}
Enter their contact details – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="with-hint">
      What is their email address?
    </label>
      </h1>

      {{ govukInput({
  id: "email",
  name: "email",
  type: "email",
  autocomplete: "email",
  spellcheck: false
}) }}

      {{ govukButton({
  text: "Continue",
      preventDoubleClick: true,
      href: "check-answers"
}) }}
    </div>
  </div>
{% endblock %}