{% extends "layouts/so-citizen-active-rm.html" %}

{% block pageTitle %}
What general update do you want to make for this participant? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l">Check your answers before submitting your update</h1>

    {{ govukSummaryList({
      classes: "govuk-!-margin-bottom-9",
      rows: [
      {
        key: {
          text: "Request type"
        },
        value: {
          text: data['what-update']
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "previous application number"
            }
          ]
        }
      },
        {
          key: {
            text: "Last appointment"
          },
          value: {
            html: data['disengagement-date-day'] + "/" + data['disengagement-date-month'] + "/" + data['disengagement-date-year']
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "previous application number"
              }
            ]
          }
        },
        {
          key: {
            text: "Reason"
          },
          value: {
            text: data['disengagement-reason']
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "home address"
              }
            ]
          }
        }
      ]
    }) }}

    <h2 class="govuk-heading-m">These updates are not reviewed regularly. You will not receive a direct response from DWP</h2>

    <p class="govuk-body">Please make sure the details you are providing are correct.</p>

    <form action="disengagement-confirm-update" method="post" novalidate>

      <input type="hidden" name="answers-checked" value="true">

      {{ govukButton({
        text: "Submit request"
      }) }}

    </form>

  </div>
</div>
{% endblock %}