{% extends "layouts/so-citizen-active-rm.html" %}

{% block pageTitle %}
What general update do you want to make for this participant? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Update submitted",
        html: "Your update has been added to the case notes for <br><strong>Alex Horncastle</strong>"
      }) }}

      <!--<p class="govuk-body">We have sent you a confirmation email.</p>-->

      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">
        This update has been sent to DWP. You will not receive a direct response. 
      </p>

      <p class="govuk-body">
        <!--You can <a href="report-progress" class="govuk-link">add another update</a> for this participant.-->

        To view another participant <a href="dashboard" class="govuk-link">return to the dashboard</a>
      </p>
    </div>
  </div>
{% endblock %}