{% extends "layouts/idm-citizen.html" %}
{% block pageTitle %}
Check LMS for employment and training restrictions – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Check LMS for employment and training restrictions</h1>
      <p class="govuk-body">You must check this person's record in LMS. If restrictions are in place, there will be a note in the address field.</p>
      <h2 class="govuk-heading-m">Do they have employment and training restrictions?</h2>

      <form action="/restrictions_2-whp" method="post" novalidate>
        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {{ govukRadios({
            classes:"govuk-radios",
            name: "restrictions",
            fieldset: {
            },
           items: [
            {
            value: "not-suitable-restrictions",
            text: "Yes"
            },
            {
            value: "suitable",
            text: "No"
            }
            ]
            }) }}
        {% from "govuk/components/button/macro.njk" import govukButton %}
        {{ govukButton({
           text: "Continue"
          }) }}
      </form>
    </div>
  </div>
{% endblock %}