{% extends "layouts/idm-citizen.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
Check LMS for employment and training restrictions – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Check LMS for employment and training restrictions</h1>
      <p class="govuk-body">You must check this person's record in LMS. If restrictions are in place, there will be a note in the address field.</p>
      <form action="/restrictions_2-whp" method="post" novalidate>
        {{ govukRadios({
            classes:"govuk-radios",
            name: "restrictions",
              fieldset: {
                legend: {
                  text: "Do they have employment and training restrictions?",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--m"
                }
              },
              items: [
            {
              value: "not-suitable-restrictions",
              text: "Yes"
            },
            {
              value: "suitable",
              text: "No"
            }
            ]
           }) }}

        {{ govukButton({
           text: "Continue"
          }) }}
      </form>
    </div>
  </div>
{% endblock %}