{% extends "layouts/idm-citizen.html" %}

{% block pageTitle %}
WHP Disability Condition referral sent {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">WHP Disability Condition referral sent</h1>
        <div class="govuk-panel__body">Referral ID:<br>
          <strong>321743288</strong>
        </div>
      </div>
      <h2 class="govuk-heading-m">What happens next?</h2>
      <p class="govuk-body">The provider will contact the person to arrange an initial meeting.</p>
      <p class="govuk-body">To print a referral confirmation letter, go to the <a href="https://cn.prod.iag-prod.dwpcloud.uk/agent/agent-dashboard" class="govuk-link">Customer Content Portal</a> and search for 'WHPL003'.</p>
      <p class="govuk-body">If you don't already have access, you can <a href="https://intranet.dwp.gov.uk/section/operational-instructions/customer-products/customer-content-portal/access" class="govuk-link">request access to the Customer Content Portal</a>.</p>

      <h3 class="govuk-heading-s">Referral history</h3>
      <p class="govuk-body">Details of this referral are now in the <a href="whp-dc-progress" class="govuk-link">referral history</a>.</p>

      <p class="govuk-body">This includes the:</p>
      <ul class="govuk-list govuk-list--bullet govuk-list">
        <li>
            referral ID
        </li>
        <li>
            opportunity name        
        </li>
        <li>
            referral date        
        </li>
        <li>
            status        
        </li>
      </ul>
      <h3 class="govuk-heading-s">If you made this referral by mistake</h3>

      <p class="govuk-body">You will need to contact the provider so they can reject the referral. They may ask for the referral ID.</p>
      <p>
        <a href="JavaScript:window.close()" class="govuk-link">Close this referral</a>
      </p>
    </div>
  </div>
{% endblock %}