.rate-label-sml {
  font-family: GDS Transport, Arial, Helvetica, sans-serif;
  color: #0b0b0c;
  font-weight: 400;
  font-size: 19px;
  padding-right: 16px;
}

.rate-label-med {
  font-family: GDS Transport, Arial, Helvetica, sans-serif;
  color: #0b0b0c;
  font-weight: 400;
  font-size: 19px;
  padding-right: 10px;
}