.app-masthead-support-offers{
  background-color:  govuk-colour("blue");
  padding-top: 30px;
  padding-bottom: 30px;

  
}
.app-masthead-support-offers h1 {

  color: govuk-colour("white");


}
.app-masthead-support-offers p {
  color: govuk-colour("white")
}
 .background{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 260px;
  background-color: govuk-colour("light-grey")
  

   
}
.strategy{
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #b1b4b6;
  background-color: #f8f8f8	;
}