{% extends "layouts/idm-citizen-2.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
Is their address correct? – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-label govuk-label--l">Is their address correct?</h1>
      <p class="govuk-hint">The provider will use this information if they need to contact the person by post.</p>
      <div class="govuk-body-l">
      26 Greengate Lane<br>Kendal<br>LA9 5LL</div>

      <form action="/address-pioneer-error-2-4" method="post">
        {{ govukRadios({
            classes:"govuk-radios",
            name: "correct-address",
            fieldset: {
            },
            items: [
            {
              value: "correct",
              text: "Yes"
            },
            {
              value: "incorrect",
              text: "No"
            }
            ]
          }) }}

        {{ govukButton({
            value: "none",
            text: "Continue",
            preventDoubleClick: true
          }) }}
      </form>
    </div>
  </div>
{% endblock %}