{% extends "layouts/idm-citizen-2.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
You must use LMS to make this referral – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-label govuk-label--l">You must use LMS to make this referral</h1>
      <p class="govuk-body">We do not have address on record for this person. You will need to make this referral in LMS.</p>

      <p class="govuk-body">You can close this window.</p>
    </div>
  </div>
{% endblock %}