{% extends "layouts/idm-citizen-2.html" %}

{% block pageTitle %}
Referral history – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
          Referral history
        </h1>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Opportunity</th>
            <th scope="col" class="govuk-table__header">Referral ID</th>
            <th scope="col" class="govuk-table__header">Referred</th>
            <th scope="col" class="govuk-table__header">Started</th>
            <th scope="col" class="govuk-table__header">Completed</th>
            <th scope="col" class="govuk-table__header">Status</th>
            <th scope="col" class="govuk-table__header">Reason</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Universal Support -<br>Disability Condition</td>
            <td class="govuk-table__cell">343566874</td>
            <td class="govuk-table__cell">28 Nov 2024</td>
            <td class="govuk-table__cell">2 Dec 2024</td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">Started</strong>
            </td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Restart<br>
              <span class="govuk-hint">Ingeus UK Ltd</span></td>
            <td class="govuk-table__cell">321743277</td>
            <td class="govuk-table__cell">28 Feb 2023</td>
            <td class="govuk-table__cell">3 Mar 2023</td>
            <td class="govuk-table__cell">10 Dec 2023</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--grey">Ended</strong>
            </td>
            <td class="govuk-table__cell">Final outcome claimed</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">WHP -<br>Disability Condition<br>
              <span class="govuk-hint">Ingeus UK Ltd</span></td>
            <td class="govuk-table__cell">721743875</td>
            <td class="govuk-table__cell">15 Feb 2022</td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--red">Cancelled</strong>
            </td>
            <td class="govuk-table__cell">Did not attend interview</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Daily Support<br>
              <span class="govuk-hint">Jobcentre Plus</span></td>
            <td class="govuk-table__cell">122898</td>
            <td class="govuk-table__cell">19 Mar 2018</td>
            <td class="govuk-table__cell">17 Apr 2018</td>
            <td class="govuk-table__cell">17 Jun 2018</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--grey">Ended</strong>
            </td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Go for I.T.<br>
              <span class="govuk-hint">Jobcentre Plus</span></td>
            <td class="govuk-table__cell">122684</td>
            <td class="govuk-table__cell">21 Jul 2017</td>
            <td class="govuk-table__cell">21 Jul 2017</td>
            <td class="govuk-table__cell">28 Jul 2017</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--grey">Ended</strong>
            </td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Working Well Personal<br>
              <span class="govuk-hint">Ingeus</span></td>
            <td class="govuk-table__cell">122645</td>
            <td class="govuk-table__cell">1 Mar 2017</td>
            <td class="govuk-table__cell">1 Mar 2017</td>
            <td class="govuk-table__cell">15 Mar 2017</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--grey">Ended</strong>
            </td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Work Programme<br>
              <span class="govuk-hint">Remploy</span></td>
            <td class="govuk-table__cell">921743875</td>
            <td class="govuk-table__cell">22 Jun 2011</td>
            <td class="govuk-table__cell">24 Jun 2011</td>
            <td class="govuk-table__cell">11 Aug 2012</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--grey">Ended</strong>
            </td>
            <td class="govuk-table__cell">Found work</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}