{% extends "imr-layouts/us-new-3.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageTitle %}
Which is their US delivery area? – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukErrorSummary({
  titleText: "There is a problem",
  errorList: [
    {
      text: "Delivery area cannot be blank",
      href: "#SelectJobcentre"
    }
  ]
}) }}

      <div class="govuk-form-group">
        <div class="govuk-form-group govuk-form-group--error">
          <h1 class="govuk-label-wrapper">

            <label class="govuk-label govuk-label--l" for="event-name">
      Which is their delivery area?
    </label>
          </h1>
          <div id="event-name-hint" class="govuk-hint">
    Enter delivery area
  </div>
          <p id="contact-by-email-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Delivery area cannot be blank
          </p>
          <label class="govuk-label" id="event-name" name="office-autocomplete" type="text" aria-describedby="event-name-hint"></label>
          <div class="autocomplete-wrapper govuk-body" id="office-autocomplete-container"></div>
        </div>

        <!-- Includes -->

        {# {%- set office %}
        <label class="govuk-label" for="office-autocomplete">Enter name of jobcentre</label>
        <div class="autocomplete-wrapper govuk-body" id="office-autocomplete-container"></div>

        {% endset -%}
        {{ govukRadios({
            name: "location",
            fieldset: {
              legend: {
                text: "Which jobcentre are you referring them from?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "",
                text: "Leeds Park Place Jobcentre (your current location)"
              },
              {
                value: "",
                text: "Other",
                conditional: {
                    html: office
                  }
              }
            ]
          }) }} #}

        {{ govukButton({
          text: "Continue",
          href: "available-opportunities"
        }) }}
      </div>
    </div>
  {% endblock %}

  {% block bodyEnd %}
    {{ super() }}
    <script type="text/javascript">
      const type = ['France', 'Germany', 'United Kingdom']

      var element = document.querySelector('#type-autocomplete-container')
      var id = 'type-autocomplete'
      accessibleAutocomplete({
        element: element,
        id: id,
        source: type,
        showAllValues: true,
        dropdownArrow: () => ''
      })
    </script>

    <script type="text/javascript">
      const office = [
        'Anglesey County Council',
        'Barking and Dagenham',
        'Barnet',
        'Barnsley Metropolitan Borough Council',
        'Bath and North East Somerset Council',
        'Bedford Borough Council',
        'Bexley',
        'Birmingham City Council',
        'Blackburn with Darwen Borough Council',
        'Blackpool Council',
        'Blaenau Gwent County Borough Council',
        'Bolton Borough Council',
        'Bournemouth, Christchurch and Poole Council',
        'Bracknell Forest Council',
        'Bradford City',
        'Brent',
        'Bridgend County Borough Council',
        'Brighton & Hove City Council',
        'Bristol City Council',
        'Bromley',
        'Buckinghamshire Council',
        'Bury Borough Council',
        'Caerphilly County Borough Council',
        'Calderdale Borough Council',
        'Cambridgeshire & Peterborough Combined Authority',
        'Cambridgeshire County Council',
        'Camden',
        'Cardiff Council',
        'Carmarthenshire County Council',
        'Central Bedfordshire Council',
        'Ceredigion County Council',
        'Cheshire East Council',
        'Cheshire West & Chester Council',
        'City of London',
        'City of Wolverhampton Council',
        'City of York Council',
        'Conwy County Borough Council',
        'Cornwall Council',
        'Council of the Isles of Scilly',
        'Coventry City Council',
        'Croydon',
        'Cumberland Council',
        'Darlington Borough Council',
        'Denbighshire County Council',
        'Derby City Council',
        'Derbyshire County Council',
        'Devon County Council',
        'Doncaster Borough Council',
        'Dorset Council',
        'Dudley Borough Council',
        'Durham County Council',
        'Ealing',
        'East Midlands Combined County Authority',
        'East Riding Yorkshire Council',
        'East Sussex County Council',
        'Enfield',
        'Essex County Council',
        'Flintshire County Council',
        'Gateshead Borough Council',
        'Gloucestershire County Council',
        'Greater Manchester Combined Authority',
        'Greenwich',
        'Gwynedd Council',
        'Hackney',
        'Halton Borough Council',
        'Hammersmith and Fulham',
        'Hampshire County Council',
        'Harringay',
        'Harrow',
        'Hartlepool Borough Council',
        'Havering',
        'Herefordshire Council',
        'Hertfordshire County Council',
        'Hillingdon',
        'Hounslow',
        'Isle of Wight Council',
        'Islington',
        'Kensington and Chelsea',
        'Kent County Council',
        'Kingston Upon Thames',
        'Kirklees Borough Council',
        'Knowsley Borough Council',
        'Lambeth',
        'Lancashire County Council',
        'Leeds City Council',
        'Leicester City Council',
        'Leicestershire County Council',
        'Lewisham',
        'Lincolnshire County Council',
        'Liverpool City Council',
        'Luton Borough Council',
        'Manchester City Council',
        'Medway Council',
        'Merthyr Tydfil County Borough Council',
        'Merton',
        'Middlesbrough Borough Council',
        'Milton Keynes Council',
        'Monmouthshire County Council',
        'Neath Port Talbot Council',
        'Newcastle City Council',
        'Newham',
        'Newport City Council',
        'Norfolk County Council',
        'North East Combined Authority',
        'North East Lincolnshire Council',
        'North Lincolnshire Council',
        'North Northamptonshire Council',
        'North Somerset Council',
        'North Tyneside Council',
        'North Yorkshire County Council',
        'Northumberland Council',
        'Nottingham City Council',
        'Nottinghamshire County Council',
        'Oldham Borough Council',
        'Oxfordshire County Council',
        'Pembrokeshire County Council',
        'Peterborough City Council',
        'Plymouth City Council',
        'Portsmouth City Council',
        'Powys County Council',
        'Reading Borough Council',
        'Redbridge',
        'Redcar & Cleveland Borough Council',
        'Rhondda Cynon Taf County Borough Council',
        'Richmond Upon Thames',
        'Rochdale Borough Council',
        'Rotherham Borough Council',
        'Royal Borough of Windsor & Maidenhead',
        'Rutland County Council',
        'Salford City Council',
        'Sandwell Borough Council',
        'Sefton Borough Council',
        'Sheffield City Council',
        'Shropshire Council',
        'Slough Borough Council',
        'Solihull Borough Council',
        'Somerset Council',
        'South Gloucestershire Council',
        'South Tyneside Council',
        'South Yorkshire Mayoral Combined Authority',
        'Southampton City Council',
        'Southend-on-Sea Borough Council',
        'Southwark',
        'St Helens Borough Council',
        'Staffordshire County Council',
        'Stockport Borough Council',
        'Stockton-on-Tees Borough Council',
        'Stoke-on-Trent City Council',
        'Suffolk County Council',
        'Sunderland City Council',
        'Surrey County Council',
        'Sutton',
        'Swansea Council',
        'Swindon Borough Council',
        'Tameside Borough Council',
        'Tees Valley Combined Authority',
        'Telford & Wrekin Council',
        'Thurrock Council',
        'Torbay Council',
        'Torfaen County Borough Council',
        'Tower Hamlets',
        'Trafford Borough Council',
        'Vale of Glamorgan Council',
        'Wakefield City Council',
        'Walsall Borough Council',
        'Waltham Forest',
        'Wandsworth',
        'Warrington Borough Council',
        'Warwickshire County Council',
        'West Berkshire Council',
        'West Midlands Combined Authority',
        'West Northamptonshire Council',
        'West Sussex County Council',
        'West Yorkshire Combined Authority',
        'Westminster',
        'Westmorland & Furness Council',
        'Wigan Borough Council',
        'Wiltshire Council',
        'Wirral Borough Council',
        'Wokingham Borough Council',
        'Worcestershire County Council',
        'Wrexham County Borough Council',
        'York & North Yorkshire Combined Authority'

      ]

      var element = document.querySelector('#office-autocomplete-container')
      var id = 'office-autocomplete'
      accessibleAutocomplete({
        element: element,
        id: id,
        source: office,
        showAllValues: true,
        dropdownArrow: () => ''
      })

      document
        .getElementById("office-autocomplete")
        .onclick = function () {
          document
            .getElementById("channel")
            .style
            .display = "block";
        }
    </script>
  {% endblock %}