{% extends "layouts/so-start.html" %}

{% block pageTitle %}
Summary of referrals – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<main class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Summary</h1>
    </div>

    <div class="govuk-grid-column-full">

      <div class="flex-container">
        <div class="box-half">
          <div class="govuk-dashboard-summary2" data-module="govuk-dashboard-summary2">
            <p class="govuk-dashboard-summary__title2">Pending referrals</p>
            <p class="govuk-dashboard-summary__amount2">56</p>
            <div class="govuk-dashboard-summary__links">
              <a href="referrals-pending">Referrals to start or cancel</a>
            </div>
          </div>
        </div>
        <div class="box-half">
          <div class="govuk-dashboard-summary2" data-module="govuk-dashboard-summary2">
            <p class="govuk-dashboard-summary__title2">Cancelled referrals</p>
            <p class="govuk-dashboard-summary__amount2">26</p>
            <div class="govuk-dashboard-summary__links">
              <a href="referrals-returned">Referrals you have returned to DWP</a>
            </div>
          </div>
        </div>
        <div class="box-half">
          <div class="govuk-dashboard-summary2" data-module="govuk-dashboard-summary2">
            <p class="govuk-dashboard-summary__title2">Current participants</p>
            <p class="govuk-dashboard-summary__amount2">2,875</p>
            <div class="govuk-dashboard-summary__links">
              <a href="referrals-active">Your current referrals</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

 
  </div>
</main>

{% endblock %}