{% extends "layouts/so-citizen-active-rm.html" %}

{% block pageTitle %}
What update do you want to make for this participant? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="general-update" method="post" novalidate>
        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {{ govukRadios({
        name: "end-reason",
        fieldset: {
          legend: {
           text: "For what reason would you like to request to pause the provision?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
         }
        },
        items: [
        {
            value: "Participant has a health condition~time-of-pause",
             text: "Participant has a health condition"
          },
          {
            value: "Participant is outside of eligible area~time-of-pause",
             text: "Partipcant is temporarily living outside of an eligible area"
          },
          {
            value: "Other~time-of-pause",
            text: "Other"
          }
        ]
        }) }}

        {{ govukButton({
        text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}