{% extends "layouts/internal-blank.html" %}

{% block pageTitle %}
Accessibility statement – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Accessibility statement for Support Offers (***Draft***)</h1>
            <p class="govuk-body">This service is run by the Department for Work and Pensions (DWP). We want as many people as possible to be able to use this service. For example, that means you should be able to:
        </p>

            <ul class="govuk-list govuk-list--bullet">
                <li>change colours, contrast levels and fonts</li>
                <li>zoom in up to 300% without the text spilling off the screen</li>
                <li>get from the start of the service to the end using just a keyboard</li>
                <li>get from the start of the service to the end using speech recognition software</li>
                <li>listen to the service using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
            </ul>

            <p class="govuk-body">We have also made the service text as simple as possible to understand.</p>
            <p class="govuk-body">
                <a class="govuk-link" href="https://mcmw.abilitynet.org.uk" target="_blank">AbilityNet</a> has advice on making your device easier to use if you have a disability.</a>
        </p>
        <h2 class="govuk-heading-m">How accessible this service is</h2>
        <p class="govuk-body">This service has been fully tested with JAWS, Dragon, VoiceOver and Zoom Text.</p>
        <h2 class="govuk-heading-m">Feedback and contact information</h2>
        <p class="govuk-body">If you need information on this service in a different format like accessible PDF, large print, easy read, audio recording or braille please get in touch with your line manager.</p>
        <h2 class="govuk-heading-m">Reporting accessibility problems with this service</h2>
        <p class="govuk-body">We are always looking to improve the accessibility of this service. If you find any problems not listed on this page or you think we are not meeting accessibility requirements, contact us by email: <a class="govuk-link" href="#">email TBC</a>
        </p>
        <h2 class="govuk-heading-m">Enforcement procedure</h2>
        <p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the accessibility regulations™). If you are not happy with how we respond to your complaint, <a class="govuk-link" href="https://www.equalityadvisoryservice.com" target="_blank">contact the Equality Advisory and Support Service (EASS)</a>.</p>
        <h2 class="govuk-heading-m">Technical information about this service’s accessibility</h2>
        <p class="govuk-body">DWP is committed to making this service accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
        <h2 class="govuk-heading-m">Compliance status</h2>
        <p class="govuk-body">This service is fully compliant with the Web Content Accessibility Guidelines version 2.1 AA standard.</p>
        <h2 class="govuk-heading-m">What we are doing to improve accessibility</h2>
        <p class="govuk-body">We will continue to test accessibility on all new features and improvements to the service with each release.</p>
        <h2 class="govuk-heading-m">Preparation of this accessibility statement</h2>
        <p class="govuk-body">TBC</p>
        <p class="govuk-body">This service was last tested in XXXX. The test was carried out by the Department for Work and Pensions.</p>
        <p class="govuk-body">Testing was carried out using a combination of automated and manual testing, including assistive technologies: JAWS, Dragon, VoiceOver and Zoom Text.</p>
        <p class="govuk-body">All pages in this service have been tested.</p>
    </div>
</div>
{% endblock %}