{% extends "layouts/idm-citizen.html" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/error-message/macro.njk" import govukErrorMessage %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/hint/macro.njk" import govukHint %}

{% block pageTitle %}
Enter their contact details – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukErrorSummary({
  titleText: "There is a problem",
  errorList: [
    {
      text: "Enter an email address in the correct format, like name@example.com",
      href: "#EmailAddress"
    }
  ]
}) }}
      <div class="govuk-form-group govuk-form-group--error">

        {% call govukFieldset({
  legend: {
    text: "Enter their contact details",
    classes: "govuk-fieldset__legend--l",
    isPageHeading: true
  }
}) %}

        {{ govukHint({
    text: "Enter all the contact details you have available. You must provide either a phone number or email address."
  }) }}

        {{ govukInput({
          classes: "govuk-input--width-20",
        id: "PreferredNumber",
        name: "Preferred",
        label: {
          text: "Preferred phone number"
        },
  hint: {
    text: "Use a mobile number where their preference is not known"
  }
      }) }}

        {{ govukInput({
        classes: "govuk-input--width-20",
        id: "additional-number",
        name: "additional",
          label: {
            text: "Additional phone number"
          }
}) }}

        {{ govukInput({
  classes: "govuk-input--width-20",
  id: "EmailAddress",
  name: "email",
  spellcheck: false,
  value: "janedoegoogle@com",
          label: {
          text: "Email address",
          value: "email"
          },
        errorMessage: {
          text: "Enter an email address in the correct format, like name@example.com"
        }
}) }}
        {% endcall %}
      </div>

      {{ govukButton({
      text: "Continue",
      preventDoubleClick: true,
      href: "pioneer-reasonable-adjustments"
      }) }}
    </div>
  </div>
{% endblock %}