{% extends "layouts/idm-citizen.html" %}

{% block pageTitle %}
WHP Minister – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">WHP Minister</h1>
      <h2 class="govuk-heading-m">Overview</h2>
      <p class="govuk-body">The Work and Health Programme (WHP) provides dedicated and flexible support for up to 15 months. It focuses on:</p>
      <ul class="govuk-list govuk-list--bullet govuk-list">
        <li>
            breaking down barriers to working
          </li>
        <li>
            learning new skills
          </li>
        <li>
            building confidence        
          </li>
        <li>
            increasing work experience
          </li>
      </ul>
      <p class="govuk-body">6 months of in-work support is also available.</p>

      <p class="govuk-body">It is voluntary to take part in the opportunity, unless the person has been unemployed for 24 months or more.</p>
      <h2 class="govuk-heading-m">Eligibility</h2>
      <h3 class="govuk-heading-s">To be eligible they must be claiming Jobseeker's Allowance (JSA).</h3>
      <p class="govuk-body">They must also:</p>

      <ul class="govuk-list govuk-list--bullet govuk-list">
        <li>
            be disabled, as defined by the Equality Act 2010
          </li>
        <li>
            be autistic
          </li>
        <li>
            be over 18 years old in England, or 16 years old in Wales        
          </li>
        <li>
            have the right to live and work in the UK
          </li>
        <li>
            not be in any paid work, including zero hours contracts
          </li>
        <li>
            not currently be on the WHP
          </li>
        <li>
            not have been on the WHP before         
          </li>
        <li>
            not currently be on another national contracted opportunity          
          </li>
        <li>
            have recourse to public funds          
          </li>
      </ul>
      <h2 class="govuk-heading-m">Suitability</h2>

      <p class="govuk-body">To be suitable they must:</p>
      <ul class="govuk-list govuk-list--bullet govuk-list">
        <li>
            have committed to the goal of finding work in 12 months          
          </li>
        <li>
            need extra support to find work          
          </li>
      </ul>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-7">To take part in this opportunity, they must meet all the
        eligibility and suitability criteria.</h3>

      {% from "govuk/components/button/macro.njk" import govukButton %}
      {{ govukButton({
      text: "Start referral",
      href: "employment-and-training-restrictions-a"
      }) }}
    </div>
  </div>
{% endblock %}