{% extends "layouts/onboard-1.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% block pageTitle %}
Opportunity details – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Create a new provision</span>
      <h1 class="govuk-heading-l">Create opportunity description for {{ data['opportunityName'] }}</h1>

      <form action="opportunity-information-2a" method="post" novalidate>

        {{ govukTextarea({
  name: "overview",
  id: "overview",
  rows: "8",
  label: {
    text: "Overview",
    classes: "govuk-label--m",
    isPageHeading: true
  }
}) }}

        {{ govukTextarea({
  name: "eligibility",
  id: "eligibility",
  rows: "18",
  label: {
    text: "Eligibility",
    classes: "govuk-label--m",
    isPageHeading: true
  }
}) }}

        {{ govukTextarea({
  name: "suitability",
  id: "suitability",
  rows: "8",
  label: {
    text: "Suitability",
    classes: "govuk-label--m",
    isPageHeading: true
  }
}) }}

        {{ govukTextarea({
  name: "otherInfo",
  id: "other-info",
  rows: "4",
  label: {
    text: "Other information",
    classes: "govuk-label--m",
    isPageHeading: true
  }
}) }}

        <p class="govuk-body govuk-!-margin-bottom-7">
          <a href="#" class="govuk-link">Preview this page</a>. Opens in a new tab.
</p>
        {{ govukButton({
  text: "Save and continue"
  }) }}

      </form>
    </div>
  </div>
{% endblock %}