{% extends "layouts/onboard-1.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageTitle %} 
Outcome details – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Create a new provision</span>
      <h1 class="govuk-heading-l">Outcome details</h1>

      <form action="outcome-information-3" method="post" novalidate>

        {{ govukInput({
  label: {
    text: "What is the outcome name?",
    classes: "govuk-fieldset__legend--s"
  },
  classes: "govuk-input--width-20",
  id: "outcomeName",
  name: "outcomeName"
}) }}

        {{ govukRadios({
  name: "offBenefitCheck",
  fieldset: {
    legend: {
      text: "Will there be a payment for this outcome?",
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      value: "Yes~outcome-information-1a",
      text: "Yes"
    },
    {
      value: "No",
      text: "No"
    }
  ]
}) }}
        {{ govukRadios({
  name: "offBenefitCheck",
  fieldset: {
    legend: {
      text: "Does the participant have to be off benefits before the outcome fee can be paid?",
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      value: "Yes",
      text: "Yes"
    },
    {
      value: "No",
      text: "No"
    }
  ]
}) }}

        {{ govukRadios({
  name: "flexDays",
  fieldset: {
    legend: {
      text: "Do you want to add flex days to the off-benefit-check period?",
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      value: "Yes",
      text: "Yes"
    },
    {
      value: "No",
      text: "No"
    }
  ]
}) }}

        {# <h3 class="govuk-heading-s">Will the outcome payment need validating when:</h3> #}

        {{ govukRadios({
  name: "validation1",
  fieldset: {
    legend: {
      html: "Will the outcome payment need validating when:
      <br>a. An outcome is claimed manually?",
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      value: "Yes",
      text: "Yes"
    },
    {
      value: "No",
      text: "No"
    }
  ]
}) }}

        {{ govukRadios({
  name: "validation2",
  fieldset: {
    legend: {
      text: "b. Data affecting payment calculations has changed?",
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      value: "Yes",
      text: "Yes"
    },
    {
      value: "No",
      text: "No"
    }
  ]
}) }}

        {{ govukRadios({
  name: "validation3",
  fieldset: {
    legend: {
      text: "c. It is for self-employed earnings?",
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      value: "Yes",
      text: "Yes"
    },
    {
      value: "No",
      text: "No"
    }
  ]
}) }}

        {{ govukInput({
  label: {
    text: "What is the minimum number of working days before this outcome can be claimed?",
    classes: "govuk-fieldset__legend--s"
  },
  classes: "govuk-input--width-2",
  id: "minimumDays-1",
  name: "minimumDays"
}) }}

        {{ govukRadios({
  name: "feeBasis",
  fieldset: {
    legend: {
      text: "On what basis will an outcome fee be selected if it has changed over time?",
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      value: "Fee as referral date",
      text: "Fee as referral date"
    },
    {
      value: "Fee as start date",
      text: "Fee as start date"
    },
    {
      value: "Fee as claim date",
      text: "Fee as claim date"
    }
  ]
}) }}

        {% set claimHtml %}
        {{ govukInput({
  id: "claim-claimAfterTimes-time",
  name: "claimAfterTimes",
  type: "claim",
  autocomplete: "claim",
  spellcheck: false,
  classes: "govuk-input--width-2",
  id: "claimAfterTimes",
  name: "claimAfterTimes",
  label: {
    text: "For how many working days after ending can a provider claim an outcome?",
    classes: "govuk-fieldset__legend--s"
  }
}) }}
        {% endset -%}

        {{ govukRadios({
  name: "outcomeClaim",
  fieldset: {
    legend: {
      text: "Can this outcome be claimed after a participant's time on the provision has ended?",
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      value: "Yes",
      text: "Yes",
      conditional: {
        html: claimHtml
      }
    },
    {
      value: "No",
      text: "No"
    }
  ]
}) }}

        {% set timesHtml %}
        {{ govukInput({
  id: "numberOfDays",
  name: "numberOfDays",
  type: "times",
  autocomplete: "times",
  spellcheck: false,
  classes: "govuk-input--width-2",
  id: "numberOfDays",
  name: "numberOfDays",
  label: {
    text: "For how many working days do you want to check for this evidence?",
    classes: "govuk-fieldset__legend--s"
  }
}) }}
        {% endset -%}

        {{ govukRadios({
  name: "outcomeEvidence",
  fieldset: {
    legend: {
      text: "Does the provider have to include evidence when they claim this outcome?",
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      value: "Yes",
      text: "Yes",
      conditional: {
        html: timesHtml
      }
    },
    {
      value: "No",                                              
      text: "No"
    }
  ]
}) }}
        <div class="govuk-button-group">
          {{ govukButton({
  text: "Save and continue"
  }) }}
          {{ govukButton({
    text: "Save progress",
    classes: "govuk-button--secondary",
    href: "outcome-information-3"
  }) }}
        </div>
      </form>
    </div>
  {% endblock %}