{% extends "layouts/onboard-1.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{% block pageTitle %}
Outcome details – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Create a new provision</span>
      <h1 class="govuk-heading-l">Outcome name</h1>

      <form action="outcome-information-1a" method="post" novalidate>

        {{ govukInput({
  label: {
    text: "What is the outcome name?",
    classes: "govuk-fieldset__legend--s"
  },
  classes: "govuk-input--width-20",
  id: "outcomeName",
  name: "outcomeName"
}) }}

        {{ govukRadios({
  name: "offBenefitCheck",
  fieldset: {
    legend: {
      text: "Will there be a payment for this outcome?",
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      value: "Yes~outcome-information-1a",
      text: "Yes"
    },
    {
      value: "No",
      text: "No"
    }
  ]
}) }}
        <div class="govuk-button-group">
          {{ govukButton({
  text: "Save and continue"
  }) }}
          {{ govukButton({
    text: "Save progress",
    classes: "govuk-button--secondary"
  }) }}
        </div>
      </form>
    </div>
  </div>
{% endblock %}