{% extends "layouts/onboard-1.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}

{% block pageTitle %}
Provision summary – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <span class="govuk-caption-xl">Summary</span>
      <h1 class="govuk-heading-l">Provision build summary</h1>

      {{ mojSubNavigation({
  label: 'Sub navigation',
  items: [{
    text: 'Provision details',
    href: 'programme-full-summary-1'
  }, {
    text: 'Outcome details',
    href: 'programme-full-summary-2'
  }, {
    text: 'Opportunity details',
    href: 'programme-full-summary-3',
    active: true
  }]
}) }}

      <h2 class="govuk-heading-m">Opportunity and outcome details</h2>
      <h2 class="govuk-heading-m">1. Individual Placement and Support - In Work Retention Support</h2>

      {{ govukSummaryList({
      classes: "govuk-!-margin-bottom-6",
  rows: [
    {
      key: {
        text: "First date referrals accepted"
      },
      value: {
        text: "20 January 2026"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "Last date referrals accepted"
      },
      value: {
        text: "1 February 2028"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
    {
      key: {
        text: "Working days a citizen can spend on an opportunity"
      },
      value: {
        html: "365"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "Is an extension available?"
      },
      value: {
        html: "Yes"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "How many additional working days is the extension?"
      },
      value: {
        html: "180"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "contact details"
          }
        ]
      }
    }
  ]
}) }}

      <h2 class="govuk-heading-m">Opportunity description</h2>
      {{ govukSummaryList({
      classes: "govuk-!-margin-bottom-6",
  rows: [
    {
      key: {
        text: "Overview"
      },
      value: {
        html: "<p>The Pioneer Work and Health Programme (WHP) helps people who face a range of complex barriers to finding work.</p> <p>WHP advisers will support participants for up to 15 months by:</p>
<p><li>understanding their goals, strengths and experience</li>
<li>helping them to find and start work as soon as possible
providing ongoing in-work support</li></p>
<p>The opportunity is voluntary.</p>"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "Eligibility"
      },
      value: {
        html: "<p>To be eligible they must not be claiming Jobseeker's Allowance (JSA).</p>
<p>They may be claiming:</p>

<li>Employment and Support Allowance (ESA)</li>
<li>Employment and Support Allowance Contributory (ESAC)</li>
<li>Incapacity Benefit (IB)</li>
<li>Income Support (IS)</li>
<li>Passport Incapacity Benefit (PIB)</li>
<li>Severe Disablement Allowance (SDA)</li>
<li>Training Allowance (TA)</li>
<li>no 'out of work' benefits</li>"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
    {
      key: {
        text: "Suitability"
      },
      value: {
        html: "<p>To be suitable they must:</p>

<li>have committed to the goal of finding work in 12 months</li>
<li>need extra support to find work</li>"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "Other information"
      },
      value: {
        text: "To take part in this opportunity, they must meet all the eligibility and suitability criteria."
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    }    
  ]
}) }}

      <h2 class="govuk-heading-m">Outcomes</h2>
      {{ govukSummaryList({
      classes: "govuk-!-margin-bottom-9",
  rows: [
    {
      key: {
        text: "Start on Opportunity"
      },
      value: {
        text: ""
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "Earnings Threshold 1"
      },
      value: {
        text: ""
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
    {
      key: {
        text: "Earnings Threshold 2"
      },
      value: {
        html: ""
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "End"
      },
      value: {
        html: ""
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    }
  ]
}) }}

      <h2 class="govuk-heading-m">2. Individual Placement and Support - Out of Work</h2>

      {{ govukSummaryList({
      classes: "govuk-!-margin-bottom-6",
  rows: [
    {
      key: {
        text: "First date referrals accepted"
      },
      value: {
        text: "20 January 2026"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "Last date referrals accepted"
      },
      value: {
        text: "1 February 2028"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
    {
      key: {
        text: "Working days a citizen can spend on an opportunity"
      },
      value: {
        html: "365"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "Is an extension available?"
      },
      value: {
        html: "Yes"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "How many additional working days is the extension?"
      },
      value: {
        html: "180"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "contact details"
          }
        ]
      }
    }
  ]
}) }}

      <h2 class="govuk-heading-m">Opportunity description</h2>
      {{ govukSummaryList({
      classes: "govuk-!-margin-bottom-6",
  rows: [
    {
      key: {
        text: "Overview"
      },
      value: {
        html: "<p>The Pioneer Work and Health Programme (WHP) helps people who face a range of complex barriers to finding work.</p> <p>WHP advisers will support participants for up to 15 months by:</p>
<p><li>understanding their goals, strengths and experience</li>
<li>helping them to find and start work as soon as possible
providing ongoing in-work support</li></p>
<p>The opportunity is voluntary.</p>"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "Eligibility"
      },
      value: {
        html: "<p>To be eligible they must not be claiming Jobseeker's Allowance (JSA).</p>
<p>They may be claiming:</p>

<li>Employment and Support Allowance (ESA)</li>
<li>Employment and Support Allowance Contributory (ESAC)</li>
<li>Incapacity Benefit (IB)</li>
<li>Income Support (IS)</li>
<li>Passport Incapacity Benefit (PIB)</li>
<li>Severe Disablement Allowance (SDA)</li>
<li>Training Allowance (TA)</li>
<li>no 'out of work' benefits</li>"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
    {
      key: {
        text: "Suitability"
      },
      value: {
        html: "<p>To be suitable they must:</p>

<li>have committed to the goal of finding work in 12 months</li>
<li>need extra support to find work</li>"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "Other information"
      },
      value: {
        text: "To take part in this opportunity, they must meet all the eligibility and suitability criteria."
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    }    
  ]
}) }}

      <h2 class="govuk-heading-m">Outcomes</h2>

      {{ govukSummaryList({
      classes: "govuk-!-margin-bottom-9",
  rows: [
    {
      key: {
        text: "Start on Opportunity"
      },
      value: {
        text: ""
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "Earnings Threshold 1"
      },
      value: {
        text: ""
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
    {
      key: {
        text: "Earnings Threshold 2"
      },
      value: {
        html: ""
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "End on Opportunity"
      },
      value: {
        html: ""
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    }
  ]
}) }}

      <h2 class="govuk-heading-m">3. Supported Employment Quality Framework (SEQF) - In Work Retention Support</h2>

      {{ govukSummaryList({
      classes: "govuk-!-margin-bottom-6",
  rows: [
    {
      key: {
        text: "First date referrals accepted"
      },
      value: {
        text: "20 January 2026"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "Last date referrals accepted"
      },
      value: {
        text: "1 February 2028"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
    {
      key: {
        text: "Working days a citizen can spend on an opportunity"
      },
      value: {
        html: "365"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "Is an extension available?"
      },
      value: {
        html: "Yes"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "How many additional working days is the extension?"
      },
      value: {
        html: "180"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "contact details"
          }
        ]
      }
    }
  ]
}) }}

      <h2 class="govuk-heading-m">Opportunity description</h2>
      {{ govukSummaryList({
      classes: "govuk-!-margin-bottom-6",
  rows: [
    {
      key: {
        text: "Overview"
      },
      value: {
        html: "<p>The Pioneer Work and Health Programme (WHP) helps people who face a range of complex barriers to finding work.</p> <p>WHP advisers will support participants for up to 15 months by:</p>
<p><li>understanding their goals, strengths and experience</li>
<li>helping them to find and start work as soon as possible
providing ongoing in-work support</li></p>
<p>The opportunity is voluntary.</p>"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "Eligibility"
      },
      value: {
        html: "<p>To be eligible they must not be claiming Jobseeker's Allowance (JSA).</p>
<p>They may be claiming:</p>

<li>Employment and Support Allowance (ESA)</li>
<li>Employment and Support Allowance Contributory (ESAC)</li>
<li>Incapacity Benefit (IB)</li>
<li>Income Support (IS)</li>
<li>Passport Incapacity Benefit (PIB)</li>
<li>Severe Disablement Allowance (SDA)</li>
<li>Training Allowance (TA)</li>
<li>no 'out of work' benefits</li>"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
    {
      key: {
        text: "Suitability"
      },
      value: {
        html: "<p>To be suitable they must:</p>

<li>have committed to the goal of finding work in 12 months</li>
<li>need extra support to find work</li>"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "Other information"
      },
      value: {
        text: "To take part in this opportunity, they must meet all the eligibility and suitability criteria."
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    }    
  ]
}) }}

      <h2 class="govuk-heading-m">Outcomes</h2>

      {{ govukSummaryList({
      classes: "govuk-!-margin-bottom-9",
  rows: [
    {
      key: {
        text: "Start on Opportunity"
      },
      value: {
        text: ""
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "Earnings Threshold 1"
      },
      value: {
        text: ""
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
    {
      key: {
        text: "Earnings Threshold 2"
      },
      value: {
        html: ""
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "End on Opportunity"
      },
      value: {
        html: ""
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    }
  ]
}) }}

      <h2 class="govuk-heading-m">4. Supported Employment Quality Framework (SEQF) - Out of Work</h2>

      {{ govukSummaryList({
      classes: "govuk-!-margin-bottom-6",
  rows: [
    {
      key: {
        text: "First date referrals accepted"
      },
      value: {
        text: "20 January 2026"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "Last date referrals accepted"
      },
      value: {
        text: "1 February 2028"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
    {
      key: {
        text: "Working days a citizen can spend on an opportunity"
      },
      value: {
        html: "365"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "Is an extension available?"
      },
      value: {
        html: "Yes"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "How many additional working days is the extension?"
      },
      value: {
        html: "180"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "contact details"
          }
        ]
      }
    }
  ]
}) }}

      <h2 class="govuk-heading-m">Opportunity description</h2>
      {{ govukSummaryList({
      classes: "govuk-!-margin-bottom-6",
  rows: [
    {
      key: {
        text: "Overview"
      },
      value: {
        html: "<p>The Pioneer Work and Health Programme (WHP) helps people who face a range of complex barriers to finding work.</p> <p>WHP advisers will support participants for up to 15 months by:</p>
<p><li>understanding their goals, strengths and experience</li>
<li>helping them to find and start work as soon as possible
providing ongoing in-work support</li></p>
<p>The opportunity is voluntary.</p>"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "Eligibility"
      },
      value: {
        html: "<p>To be eligible they must not be claiming Jobseeker's Allowance (JSA).</p>
<p>They may be claiming:</p>

<li>Employment and Support Allowance (ESA)</li>
<li>Employment and Support Allowance Contributory (ESAC)</li>
<li>Incapacity Benefit (IB)</li>
<li>Income Support (IS)</li>
<li>Passport Incapacity Benefit (PIB)</li>
<li>Severe Disablement Allowance (SDA)</li>
<li>Training Allowance (TA)</li>
<li>no 'out of work' benefits</li>"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
    {
      key: {
        text: "Suitability"
      },
      value: {
        html: "<p>To be suitable they must:</p>

<li>have committed to the goal of finding work in 12 months</li>
<li>need extra support to find work</li>"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "Other information"
      },
      value: {
        text: "To take part in this opportunity, they must meet all the eligibility and suitability criteria."
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    }    
  ]
}) }}

      <h2 class="govuk-heading-m">Outcomes</h2>

      {{ govukSummaryList({
      classes: "govuk-!-margin-bottom-9",
  rows: [
    {
      key: {
        text: "Start on Opportunity"
      },
      value: {
        text: ""
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "Earnings Threshold 1"
      },
      value: {
        text: ""
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
    {
      key: {
        text: "Earnings Threshold 2"
      },
      value: {
        html: ""
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "End on Opportunity"
      },
      value: {
        html: ""
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    }
  ]
}) }}
      {{ govukCheckboxes({
  items: [
    {
      value: "approveProvision",
      text: "Check the box once you are satisfied that all the information you have entered is correct."
    }
  ]
}) }}
      {{ govukButton({
  text: "Send for approval",
  href: "programme-approval"
  }) }}

    </form>
  </div>
</div>
{% endblock %}