{% extends "layouts/onboard-1.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "side-navigation/macro.njk" import dwpSideNavigation %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block pageTitle %}
Provision details – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-three-quarters">
      <span class="govuk-caption-xl">Create a new provision</span>
      <h1 class="govuk-heading-l">Check provision details</h1>
      {{ govukSummaryList({
      classes: "govuk-!-margin-bottom-7",
  rows: [
    {
      key: {
        text: "Provision type"
      },
      value: {
        text: data['provisionType'] or "Not given"
      },
      actions: {
        items: [
          {
            href: "programme-information-2",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "Days to start an opportunity"
      },
      value: {
        text: data['days1'] or "Days not given"
      },
      actions: {
        items: [
          {
            href: "programme-information-2",
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
    {
      key: {
        text: "Earnings or employment check"
      },
      value: {
        text: data['checkEarnings'] or "Not given"
      },
      actions: {
        items: [
          {
            href: "programme-information-2",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "Number of days to check for employment or earnings"
      },
      value: {
        text: data['numberOfDays'] or "Not applicable"
      },
      actions: {
        items: [
          {
            href: "programme-information-2",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "Cancel check if participant leaves early"
      },
      value: {
        text: data['leavesEarly'] or "Not given"
      },
      actions: {
        items: [
          {
            href: "programme-information-2",
            text: "Change",
            visuallyHiddenText: "contact details"
          }
        ]
      }
    },
    {
      key: {
        text: "Pay fees by SOP"
      },
      value: {
        text: data['outcomeFees'] or "Not given"
      },
      actions: {
        items: [
          {
            href: "programme-information-2",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "Limit the number of manual outcome claims"
      },
      value: {
        text: data['times'] or "Not given"
      },
      actions: {
        items: [
          {
            href: "programme-information-2",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "Maximum number of manual outcome claims"
      },
      value: {
        text: data['numberOfTimes'] or "Not applicable"
      },
      actions: {
        items: [
          {
            href: "programme-information-2",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    }
  ]
}) }}

      {{ govukButton({
  text: "Return to task list",
  href: "provision-build-tasks-2"
  }) }}
    </form>
  </div>
{% endblock %}