{% extends "layouts/idm-citizen.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block pageTitle %}
Contact details – {{ serviceName }} – Support Offers prototype
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Is their email address correct?</h1>
      <p class="govuk-body-l">sam.doe@example.com</p>


      {% set phoneHtml %}
      {{ govukInput({
      id: "contact-by-phone",
      name: "contactByPhone",
      type: "tel",
      autocomplete: "tel",
      classes: "govuk-!-width-one-half",
      label: {
      text: "Enter the correct email address"
      }
      }) }}
      {% endset -%}


      {{ govukRadios({
      name: "contact",
      fieldset: {
      isPageHeading: true
      },
      items: [
      {
      value: "sam-doe-contact-details-b",
      text: "Yes"
      },
      {
      value: "phone",
      text: "No",
      conditional: {
      html: phoneHtml
      }
      }
      ]
      }) }}

  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">What to do if you are unsure</span>
    </summary>
    <div class="govuk-details__text">
      <p>This is the email address held in CIS and may not be up to date. When you update this address it will update CIS so only update it if you are not 100% certain it is theirs.</p>
      <p>If you are unsure then <class="govuk-body"><a href="whp-reasonable-adjustments-a" class="govuk-link">continue without providing an email address</a></p>
    </div>
  </details>

      {{ govukButton({
      text: "Continue",
      preventDoubleClick: true,
      href: "whp-reasonable-adjustments-a"
      }) }}
  </div>
</div>
{% endblock %}