{% extends "layouts/idm-citizen.html" %}
{% block pageTitle %}
You cannot use this service to refer this person – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">You cannot use this service to refer someone who has employment and training restrictions</h1>

      <p class="govuk-body">You will need to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>speak to the single point of contact (SPOC) for your jobcentre's Employer and Partnership team</li>
        <li>start a new referral in LMS</li>
      </ul>
      <p class="govuk-body">
        <a href="JavaScript:window.close()" class="govuk-link">Close this referral</a>
      </p>
    </div>
  </div>
{% endblock %}