{% extends "layouts/idm-citizen.html" %}
{% block pageTitle %}
Citizen's progress – {{ serviceName }} – Support Offers prototype
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">
          Referral history
        </h1>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Opportunity</th>
          <th scope="col" class="govuk-table__header">Referral ID</th>
          <th scope="col" class="govuk-table__header">Referred</th>
          <th scope="col" class="govuk-table__header">Started</th>
          <th scope="col" class="govuk-table__header">Completed</th>
          <th scope="col" class="govuk-table__header">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">WHP Disability Condition</span></td>
          <td class="govuk-table__cell">321743277</td>
          <td class="govuk-table__cell">28 Jul 2023</td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"> </td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">pending</strong></td>          
        </tr>                   
      </tbody>
    </table>
        <p>
         <a href="JavaScript:window.close()" class="govuk-link">Close this page</a>
        </p>
    </div>
</div>
{% endblock %}