{% extends "layouts/idm-citizen.html" %}
{% block pageTitle %}
Contact details – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Is their email address correct?</h1>    
        <dl class="govuk-summary-list govuk-!-margin-bottom-7">     
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email address 
            </dt>
            <dd class="govuk-summary-list__value">
              sam.doe@example.com            </dd>
            <dd class="govuk-summary-list__actions">          
            </dd>
          </div>
        </dl>      
          
        <form action="/contact-b_2" method="post" novalidate>
          {% from "govuk/components/radios/macro.njk" import govukRadios %}
          {{ govukRadios({
            classes:"govuk-radios--inline",
  name: "which-outcome",
  fieldset: {
  },
  items: [
    {
      value: "sam-doe-opportunity-matched-c",
      text: "Yes"
    },
    {
      value: "sam-doe-contact-details-update-b",
      text: "No"
    }
  ]
}) }}
          {% from "govuk/components/button/macro.njk" import govukButton %}
          {{ govukButton({
  text: "Continue"
  }) }}
        </form>
      </div>
    </div>
{% endblock %}