{% extends "layouts/onboard-6.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{% block pageTitle %}
Contract information – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      {% from "side-navigation/macro.njk" import dwpSideNavigation %}
      {{ 
    dwpSideNavigation({
        pageId: "side-navigation-1",
        selectedItem: "contract-information-1",
        items: [
            {
              text: "Contract",
              href: "contract-information-1",
              id: "d-item-1"
            }
        ]
    })
}}
    </div>
    <div class="govuk-grid-column-three-quarters">
      <span class="govuk-caption-xl">Create a new contract</span>
      <h1 class="govuk-heading-l">CPA 1 – Central England</h1>

      <form action="contract-information-6" method="post" novalidate>

        {{ govukDateInput({
  id: "serviceFeeDate",
  namePrefix: "serviceFeeDate",
  fieldset: {
    legend: {
      text: "When is the first service fee due?",
      isPageHeading: true,
    classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      name: "day",
      classes: "govuk-input--width-2"
    },
    {
      name: "month",
      classes: "govuk-input--width-2"
    },
    {
      name: "year",
      classes: "govuk-input--width-4"
    }
  ]
}) }}

        {{ govukRadios({
  name: "paymentSchedule",
  fieldset: {
    legend: {
      text: "What is the agreed payment schedule for service fees?",
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      value: "monthly",
      text: "Monthly"
    },
    {
      value: "3months",
      text: "Every 3 months"
    },
    {
      value: "6months",
      text: "Every 6 months"
    },
    {
      value: "annual",
      text: "Annualy"
    }    
  ]
}) }}

        {{ govukInput({
  id: "service-fee",
  name: "serviceFee",
  label: {
    text: "What is the agreed service fee?",
    classes: "govuk-fieldset__legend--s",
    isPageHeading: false
  },
  prefix: {
    text: "£"
  },
  classes: "govuk-input--width-10",
  spellcheck: false
}) }}

        <div class="govuk-button-group">
          {{ govukButton({
  text: "Save and continue"
  }) }}
          {{ govukButton({
    text: "Save progress",
    classes: "govuk-button--secondary"
  }) }}
        </div>
      </form>
    </div>
  </div>
{% endblock %}