{% extends "layouts/onboard-1.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{% block pageTitle %}
Contract information – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      {% from "side-navigation/macro.njk" import dwpSideNavigation %}
      {{ 
    dwpSideNavigation({
        pageId: "side-navigation-1",
        selectedItem: "contract-information-1",
        items: [
            {
              text: "Contract",
              href: "contract-information-1",
              id: "d-item-1"
            }
        ]
    })
}}
    </div>
    <div class="govuk-grid-column-three-quarters">
      <span class="govuk-caption-xl">Create a new contract</span>
      <h1 class="govuk-heading-l">CPA 1 – Central England</h1>

      <form action="contract-information-5" method="post" novalidate>
        {{ govukInput({
  label: {
    text: "What is the payment accelerator name?",
    classes: "govuk-fieldset__legend--s"
  },
  classes: "govuk-input--width-20",
  id: "accel-name",
  name: "accelName"
}) }}

        {{ govukDateInput({
  id: "acceleratorStartDate",
  namePrefix: "acceleratorStartDate",
  fieldset: {
    legend: {
      text: "What is the start date of the accelerator?",
      isPageHeading: true,
    classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      name: "day",
      classes: "govuk-input--width-2"
    },
    {
      name: "month",
      classes: "govuk-input--width-2"
    },
    {
      name: "year",
      classes: "govuk-input--width-4"
    }
  ]
}) }}

        {{ govukInput({
  label: {
    text: "Percentage of outcome starts",
    classes: "govuk-fieldset__legend--s"
  },
  classes: "govuk-input--width-2",
  suffix: {
    text: "%"
  },
  id: "percent-starts",
  name: "percentStarts"
}) }}

        {{ govukInput({
  label: {
    text: "Percentage paid at low rate",
    classes: "govuk-fieldset__legend--s"
  },
  classes: "govuk-input--width-2",
  suffix: {
    text: "%"
  },
  id: "percent-lowrate",
  name: "percentLowRate"
}) }}

        <div class="govuk-button-group">
          {{ govukButton({
  text: "Save and continue"
  }) }}
          {{ govukButton({
    text: "Save progress",
    classes: "govuk-button--secondary"
  }) }}
        </div>
      </form>
    </div>
  </div>
{% endblock %}