{% extends "layouts/onboard-6.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% block pageTitle %}
Contract variation information – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      {% from "side-navigation/macro.njk" import dwpSideNavigation %}
      {{ 
    dwpSideNavigation({
        pageId: "side-navigation-1",
        selectedItem: "contract-variation-1",
        items: [
            {
              text: "Contract",
              href: "contract-information-1",
              id: "d-item-1"
            },
            {
              text: "Variations",
              href: "contract-variation-1",
              id: "d-item-2",
              subItems: [
                {
                    text: data['outcomeName'] or "Var one",
                    href: "#s-sn-item-1",
                    id: "s-sn-item-1"
                }
            ]              
            }
        ]
    })
}}
    </div>
    <div class="govuk-grid-column-three-quarters">
      <span class="govuk-caption-xl">Create a new contract</span>
      <h1 class="govuk-heading-l">CPA 1 – Central England</h1>

      <form action="contract-variation-5" method="post" novalidate>
        <h2 class="govuk-heading-m">What are the associated outcome fees for <-WHP Disability Condition->?</h2>

          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s govuk-!-padding-bottom-2" for="currency">
    Outcome 1: Start
  </label>
            <div class="govuk-button-group">
              <div id="currency-hint" class="rate-label-sml">Low rate</div>
              <div class="govuk-input__wrapper">
                <div class="govuk-input__prefix" aria-hidden="true">£</div>
                <input class="govuk-input govuk-input--width-10" id="currency" name="currency" type="text" spellcheck="false" aria-describedby="currency-hint">
              </div>
            </div>
            <div class="govuk-button-group">
              <div id="currency-hint" class="rate-label-med">High rate</div>
              <div class="govuk-input__wrapper">
                <div class="govuk-input__prefix" aria-hidden="true">£</div>
                <input class="govuk-input govuk-input--width-10" id="currency" name="currency" type="text" spellcheck="false" aria-describedby="currency-hint">
              </div>
            </div>
          </div>
          <br>
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s govuk-!-padding-bottom-2" for="currency">Outcome 2: Earnings Threshold 1</label>
            <div class="govuk-button-group">
              <div id="currency-hint" class="rate-label-sml">Low rate</div>
              <div class="govuk-input__wrapper">
                <div class="govuk-input__prefix" aria-hidden="true">£</div>
                <input class="govuk-input govuk-input--width-10" id="currency" name="currency" type="text" spellcheck="false" aria-describedby="currency-hint">
              </div>
            </div>
            <div class="govuk-button-group">
              <div id="currency-hint" class="rate-label-med">High rate</div>
              <div class="govuk-input__wrapper">
                <div class="govuk-input__prefix" aria-hidden="true">£</div>
                <input class="govuk-input govuk-input--width-10" id="currency" name="currency" type="text" spellcheck="false" aria-describedby="currency-hint">
              </div>
            </div>
          </div>
          <br>
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s govuk-!-padding-bottom-2" for="currency">Outcome 3: Earnings Threshold 2</label>
            <div class="govuk-button-group">
              <div id="currency-hint govuk-label" class="rate-label-sml">Low rate</div>
              <div class="govuk-input__wrapper">
                <div class="govuk-input__prefix" aria-hidden="true">£</div>
                <input class="govuk-input govuk-input--width-10" id="currency" name="currency" type="text" spellcheck="false" aria-describedby="currency-hint">
              </div>
            </div>
            <div class="govuk-button-group">
              <div id="currency-hint" class="rate-label-med">High rate</div>
              <div class="govuk-input__wrapper">
                <div class="govuk-input__prefix" aria-hidden="true">£</div>
                <input class="govuk-input govuk-input--width-10" id="currency" name="currency" type="text" spellcheck="false" aria-describedby="currency-hint">
              </div>
            </div>
          </div>

          <div class="govuk-button-group">
            {{ govukButton({
  text: "Save and continue"
  }) }}
            {{ govukButton({
    text: "Save progress",
    classes: "govuk-button--secondary"
  }) }}
          </div>
        </form>
      </div>
    </div>
  {% endblock %}