{% extends "layouts/onboard-2.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/task-list/macro.njk" import govukTaskList %}

{% block pageTitle %}
Create a new provision – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Create a new contract</span>
      <h1 class="govuk-heading-l">Task list</h1>

      <form action="programme-information-1" method="post" novalidate>
        <h2 class="govuk-heading-m">1. Contract</h2>
        <h3 class="govuk-heading-s">Contract 1</h3>

        {{ govukTaskList({
  classes: "govuk-!-margin-bottom-9",
  idPrefix: "company-details",
  items: [
    {
      title: {
        text: " Contract name and start date"
      },
      href: "contract-information-1",
      status: {
        text: "Not started"
      }
    },
    {
      title: {
        text: "Provider details"
      },
      status: {
        tag: {
          text: "Cannot start yet",
          classes: "govuk-tag--blue"
        }
      }
    }
  ]
}) }}

        <h2 class="govuk-heading-m">2. Contract variations</h2>
        <h3 class="govuk-heading-s">Variation 1</h3>
        {% from "govuk/components/task-list/macro.njk" import govukTaskList %}
        {{ govukTaskList({
  classes: "govuk-!-margin-bottom-9",
  idPrefix: "company-details",
  items: [
    {
      title: {
        text: "Variation name"
      },
      status: {
        tag: {
          text: "Cannot start yet",
          classes: "govuk-tag--blue"
        }
      }
    },
    {
      title: {
        text: "Variation details"
      },
      status: {
        tag: {
          text: "Cannot start yet",
          classes: "govuk-tag--blue"
        }
      }
    }
  ]
}) }}
      </form>
    </div>
  </div>
{% endblock %}