{% extends "layouts/onboard-6.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block pageTitle %}
Contract information – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <span class="govuk-caption-xl">Create a new contract</span>
      <h1 class="govuk-heading-l">CPA 1 – Central England</h1>
      <h2 class="govuk-heading-m">Contract details</h2>

      {{ govukSummaryList({
      classes: "govuk-!-margin-bottom-9",
  rows: [
    {
      key: {
        text: "CPA"
      },
      value: {
        text: data['shortName'] or "CPA1"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "CPA name"
      },
      value: {
        text: data['cpaName'] or "North South England"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
    {
      key: {
        text: "First date of the contract"
      },
      value: {
        html: "Date 1"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "Last date of the contract"
      },
      value: {
        html: "Date 2"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "Provider"
      },
      value: {
        text: data['provider'] or "Company XX"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "contact details"
          }
        ]
      }
    },
    {
      key: {
        text: "Cost centre name"
      },
      value: {
        text: data['costCentre'] or "Cost Centre AA"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "contact details"
          }
        ]
      }
    },
    {
      key: {
        text: "Percentage of outcomes put on hold if claimed manually?"
      },
      value: {
        text: data['percentOutcomes'] + "%" or "47%"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "contact details"
          }
        ]
      }
    },
    {
      key: {
        text: "Cohort tracking on this contract?"
      },
      value: {
        html: "How should I know?!"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "contact details"
          }
        ]
      }
    },
    {
      key: {
        text: "Payment accelerator name"
      },
      value: {
        text: data['accelName'] or "Geoffrey"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "contact details"
          }
        ]
      }
    },
    {
      key: {
        text: "Payment accelerator start date"
      },
      value: {
        html: "Date 3"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "contact details"
          }
        ]
      }
    },
    {
      key: {
        text: "Percentage of outcome starts"
      },
      value: {
        text: data['percentStarts'] + "%" or "47%"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "contact details"
          }
        ]
      }
    },
    {
      key: {
        text: "Percentage paid at low rate"
      },
      value: {
        text: data['percentLowRate'] + "%" or "47%"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "contact details"
          }
        ]
      }
    }
  ]
}) }}

      <h2 class="govuk-heading-m">Payment schedule</h2>

      {{ govukSummaryList({
      classes: "govuk-!-margin-bottom-9",
  rows: [
    {
      key: {
        text: "First date service fee due"
      },
      value: {
        html: "Date 4"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "Agreed service fee"
      },
      value: {
        text: "£" + data['serviceFee'] or "£2.50"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    }
      ]
}) }}
      {{ govukRadios({
  classes: "govuk-radios",
  name: "changedName",
  fieldset: {
    legend: {
      text: "Do you want to create a variation to this contract?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No, return to task list"
    }
  ]
}) }}
      {{ govukButton({
  text: "Save and continue",
  href: "contract-build-tasks-1"
  }) }}
    </form>
  </div>
</div>
{% endblock %}