{% extends "layouts/onboard-1.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{% block pageTitle %}
Contract information – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Create contract details</span>
      <h1 class="govuk-heading-l">CPA 1 – Central England</h1>

      <form action="contract-information-3" method="post" novalidate>

        {{ govukInput({
  label: {
    text: "Select the provider who will deliver this contract",
    classes: "govuk-fieldset__legend--s"
  },
  classes: "govuk-input--width-20",
  id: "width-20",
  name: "width20"
}) }}

        {{ govukInput({
  label: {
    text: "What is the cost centre?",
    classes: "govuk-fieldset__legend--s"
  },
  classes: "govuk-input--width-20",
  id: "width-20",
  name: "width5"
}) }}

        {{ govukInput({
  label: {
    text: "What is the percentage of outcomes that will be put on hold if claimed manually?",
    classes: "govuk-fieldset__legend--s"
  },
  suffix: {
    text: "%"
  },
  classes: "govuk-input--width-2",
  id: "width-5",
  name: "width5"
}) }}

        <div class="govuk-button-group">
          {{ govukButton({
  text: "Save and continue"
  }) }}
          {{ govukButton({
    text: "Save progress",
    classes: "govuk-button--secondary"
  }) }}
        </div>
      </form>
    </div>
  </div>
{% endblock %}