{% extends "layouts/onboard-1.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{% block pageTitle %}
Contract information – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      {% from "side-navigation/macro.njk" import dwpSideNavigation %}
      {{ 
    dwpSideNavigation({
        pageId: "side-navigation-1",
        selectedItem: "contract-information-1",
        items: [
            {
              text: "Contract",
              href: "contract-information-1",
              id: "d-item-1"
            }
        ]
    })
}}
    </div>
    <div class="govuk-grid-column-three-quarters">
      <span class="govuk-caption-xl">Create a new contract</span>
      <h1 class="govuk-heading-l">CPA 1 – Central England</h1>

      <form action="contract-information-4" method="post" novalidate>

        {{ govukRadios({
  name: "tracking",
  fieldset: {
    legend: {
      text: "Does cohort tracking apply to this contract?",
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      value: "tracking-yes",
      text: "Yes"
    },
    {
      value: "tracking-no",
      text: "No"
    }
  ]
}) }}

        <div class="govuk-button-group">
          {{ govukButton({
  text: "Save and continue"
  }) }}
          {{ govukButton({
    text: "Save progress",
    classes: "govuk-button--secondary"
  }) }}
        </div>
      </form>
    </div>
  </div>
{% endblock %}