{% extends "layouts/onboard-1.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% block pageTitle %}
Contract variation information – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Create variation details</span>
      <h1 class="govuk-heading-l">CPA 1 – Central England</h1>

      <form action="contract-variation-4" method="post" novalidate>
        {{ govukCheckboxes({
  name: "waste",
  fieldset: {
    legend: {
      text: "Select the outcomes from <WHP Disability Condition> that apply to this variation",
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      value: "start",
      text: "Start"
    },
    {
      value: "et1",
      text: "Earnings Threshold 1"
    },
    {
      value: "et2",
      text: "Earnings Threshold 2"
    }
  ]
}) }}

        <div class="govuk-button-group">
          {{ govukButton({
  text: "Save and continue"
  }) }}
          {{ govukButton({
    text: "Save progress",
    classes: "govuk-button--secondary"
  }) }}
        </div>
      </form>
    </div>
  </div>
{% endblock %}