{% extends "layouts/onboard-6.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageTitle %} 
Outcome details – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      {% from "side-navigation/macro.njk" import dwpSideNavigation %}

      {{ 
    dwpSideNavigation({
        pageId: "side-navigation-1",
        selectedItem: "outcome-information",
        items: [
            {
              text: "Provision",
              href: "programme-information-1",
              id: "d-item-1"
            },
            {
              text: "Outcomes",
              href: "outcome-information",
              id: "d-item-2",
              subItems: [
                {
                    text: data['outcomeName'] or "Not given",
                    href: "#s-sn-item-1",
                    id: "s-sn-item-1"
                }
            ]              
            }
        ]
    })
}}
    </div>
    <div class="govuk-grid-column-three-quarters">
      <span class="govuk-caption-xl">Create a new provision</span>
      <h1 class="govuk-heading-l">Outcome details for {{ data['outcomeName'] }}</h1>

      <form action="outcome-information-2" method="post" novalidate>

        {{ govukRadios({
  name: "offBenefitCheck",
  fieldset: {
    legend: {
      text: "Does the participant have to be off benefits before the outcome fee can be paid?",
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      value: "Yes",
      text: "Yes"
    },
    {
      value: "No",
      text: "No"
    }
  ]
}) }}

        {{ govukRadios({
  name: "flexDays",
  fieldset: {
    legend: {
      text: "Do you want to add flex days to the off-benefit-check period?",
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      value: "Yes",
      text: "Yes"
    },
    {
      value: "No",
      text: "No"
    }
  ]
}) }}

        {# <h3 class="govuk-heading-s">Will the outcome payment need validating when:</h3> #}

        {{ govukRadios({
  name: "validation1",
  fieldset: {
    legend: {
      html: "Will the outcome payment need validating when:
      <br>a. An outcome is claimed manually?",
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      value: "Yes",
      text: "Yes"
    },
    {
      value: "No",
      text: "No"
    }
  ]
}) }}

        {{ govukRadios({
  name: "validation2",
  fieldset: {
    legend: {
      text: "b. Data affecting payment calculations has changed?",
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      value: "Yes",
      text: "Yes"
    },
    {
      value: "No",
      text: "No"
    }
  ]
}) }}

        {{ govukRadios({
  name: "validation3",
  fieldset: {
    legend: {
      text: "c. It is for self-employed earnings?",
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      value: "Yes",
      text: "Yes"
    },
    {
      value: "No",
      text: "No"
    }
  ]
}) }}

        <div class="govuk-button-group">
          {{ govukButton({
  text: "Save and continue"
  }) }}
          {{ govukButton({
    text: "Save progress",
    classes: "govuk-button--secondary"
  }) }}
        </div>
      </form>
    </div>
  </div>
{% endblock %}