{% extends "layouts/onboard-1.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageTitle %}
Outcome information – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Create outcome details</span>
      <h1 class="govuk-heading-l">Outcome details for {{ data['outcomeName'] }}</h1>

      <form action="outcome-information-2" method="post" novalidate>

        {{ govukRadios({
  name: "outcomePayment",
  fieldset: {
    legend: {
      text: "Will there be a payment for this outcome?",
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      value: "Yes",
      text: "Yes"
    },
    {
      value: "No",
      text: "No"
    }
  ]
}) }}

        {{ govukRadios({
  name: "offBenefitCheck",
  fieldset: {
    legend: {
      text: "Does the citizen have to be off benefits before the outcome fee can be paid to the provider?",
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      value: "Yes",
      text: "Yes"
    },
    {
      value: "No",
      text: "No"
    }
  ]
}) }}

        {{ govukRadios({
  name: "flexDays",
  fieldset: {
    legend: {
      text: "Do you want to add flex days to the off-benefit-check period?",
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      value: "Yes",
      text: "Yes"
    },
    {
      value: "No",
      text: "No"
    }
  ]
}) }}

        {{ govukRadios({
  name: "validation1",
  fieldset: {
    legend: {
      text: "Will the outcome payment be put on hold until validation has occurred, where an outcome is claimed manually by the provider?",
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      value: "Yes",
      text: "Yes"
    },
    {
      value: "No",
      text: "No"
    }
  ]
}) }}

        {{ govukRadios({
  name: "validation2",
  fieldset: {
    legend: {
      text: "Will the outcome payment be put on hold until validation has occurred, where data affecting payment calculations has changed?",
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      value: "Yes",
      text: "Yes"
    },
    {
      value: "No",
      text: "No"
    }
  ]
}) }}

        {{ govukRadios({
  name: "validation3",
  fieldset: {
    legend: {
      text: "Will the outcome payment be put on hold until validation has occurred, where the outcome relates to self-employed earnings?",
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      value: "Yes",
      text: "Yes"
    },
    {
      value: "No",
      text: "No"
    }
  ]
}) }}

        <div class="govuk-button-group">
          {{ govukButton({
  text: "Save and continue"
  }) }}
          {{ govukButton({
    text: "Save progress",
    classes: "govuk-button--secondary"
  }) }}
        </div>
      </form>
    </div>
  </div>
{% endblock %}