{% extends "layouts/onboard-6.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageTitle %}
Outcome details – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      {% from "side-navigation/macro.njk" import dwpSideNavigation %}

      {{ 
    dwpSideNavigation({
        pageId: "side-navigation-1",
        selectedItem: "outcome-information",
        items: [
            {
              text: "Provision",
              href: "programme-information-1",
              id: "d-item-1"
            },
            {
              text: "Outcomes",
              href: "outcome-information",
              id: "d-item-2",
              subItems: [
                {
                    text: data['outcomeName'] or "Not given",
                    href: "#s-sn-item-1",
                    id: "s-sn-item-1"
                }
            ]              
            }
        ]
    })
}}
    </div>
    <div class="govuk-grid-column-three-quarters">
      <span class="govuk-caption-xl">Create a new provision</span>
      <h1 class="govuk-heading-l">Outcome details for {{ data['outcomeName'] }}</h1>

      <form action="outcome-information-3" method="post" novalidate>

        {{ govukInput({
  label: {
    text: "What is the minimum number of working days before this outcome can be claimed?",
    classes: "govuk-fieldset__legend--s"
  },
  classes: "govuk-input--width-2",
  id: "minimumDays-1",
  name: "minimumDays"
}) }}

        {{ govukRadios({
  name: "feeBasis",
  fieldset: {
    legend: {
      text: "On what basis will an outcome fee be selected if it has changed over time?",
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      value: "Fee as referral date",
      text: "Fee as referral date"
    },
    {
      value: "Fee as start date",
      text: "Fee as start date"
    },
    {
      value: "Fee as claim date",
      text: "Fee as claim date"
    }
  ]
}) }}

        {% set claimHtml %}
        {{ govukInput({
  id: "claim-claimAfterTimes-time",
  name: "claimAfterTimes",
  type: "claim",
  autocomplete: "claim",
  spellcheck: false,
  classes: "govuk-input--width-2",
  id: "claimAfterTimes",
  name: "claimAfterTimes",
  label: {
    text: "For how many working days after ending can a provider claim an outcome?",
    classes: "govuk-fieldset__legend--s"
  }
}) }}
        {% endset -%}

        {{ govukRadios({
  name: "outcomeClaim",
  fieldset: {
    legend: {
      text: "Can this outcome be claimed after a participant's time on the provision has ended?",
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      value: "Yes",
      text: "Yes",
      conditional: {
        html: claimHtml
      }
    },
    {
      value: "No",
      text: "No"
    }
  ]
}) }}

        {% set timesHtml %}
        {{ govukInput({
  id: "numberOfDays",
  name: "numberOfDays",
  type: "times",
  autocomplete: "times",
  spellcheck: false,
  classes: "govuk-input--width-2",
  id: "numberOfDays",
  name: "numberOfDays",
  label: {
    text: "For how many working days do you want to check for this evidence?",
    classes: "govuk-fieldset__legend--s"
  }
}) }}
        {% endset -%}

        {{ govukRadios({
  name: "outcomeEvidence",
  fieldset: {
    legend: {
      text: "Does the provider have to include evidence when they claim this outcome?",
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      value: "Yes",
      text: "Yes",
      conditional: {
        html: timesHtml
      }
    },
    {
      value: "No",                                              
      text: "No"
    }
  ]
}) }}
        <div class="govuk-button-group">
          {{ govukButton({
  text: "Save and continue"
  }) }}
          {{ govukButton({
    text: "Save progress",
    classes: "govuk-button--secondary"
  }) }}
        </div>
      </form>
    </div>
  </div>
{% endblock %}