{% extends "layouts/onboard-5.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block pageTitle %}
Outcome details – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      {% from "side-navigation/macro.njk" import dwpSideNavigation %}

      {{ 
    dwpSideNavigation({
        pageId: "side-navigation-1",
        selectedItem: "outcome-information",
        items: [
            {
              text: "Provision",
              href: "programme-information-1",
              id: "d-item-1"
            },
            {
              text: "Outcomes",
              href: "outcome-information",
              id: "d-item-2",
              subItems: [
                {
                    text: data['outcomeName'] or "Not given",
                    href: "#s-sn-item-1",
                    id: "s-sn-item-1"
                }
            ]              
            }
        ]
    })
}}
    </div>
    <div class="govuk-grid-column-three-quarters">
      <span class="govuk-caption-xl">Create a new provision</span>
      <h1 class="govuk-heading-l">Check outcome details for {{ data['outcomeName'] }}</h1>
      {{ govukSummaryList({
      classes: "govuk-!-margin-bottom-9",
  rows: [
    {
      key: {
        text: "Outcome  payment"
      },
      value: {
        text: data['outcomePayment'] or "Not given"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "Citizen to be off benefits before outcome paid"
      },
      value: {
        text: data['offBenefitCheck'] or "Not given"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
    {
      key: {
        text: "Add flex days to the off-benefit check"
      },
      value: {
        text: data['flexDays'] or "Not given"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "Payment needs validating on manual outcome claims"
      },
      value: {
        text: data['validation1'] or "Not given"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "Payment needs validating where date affecting payment calculations has changed"
      },
      value: {
        text: data['validation2'] or "Not given"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "contact details"
          }
        ]
      }
    },
    {
      key: {
        text: "Payment needs validating for self-employed earnings"
      },
      value: {
        text: data['validation3'] or "Not given"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "Minimum working days before this outcome can be claimed"
      },
      value: {
        text: data['minimumDays'] or "Not given"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "Basis outcome fee selected if it has changed over time?"
      },
      value: {
        text: data['feeBasis'] or "Not given"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "Outcome can be claimed after a participant's time on provision ends"
      },
      value: {
        text: data['outcomeClaim'] or "Not given"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "Number of working days after ending that a provider can still claim an outcome"
      },
      value: {
        text: data['claimAfterTimes'] or "Not applicable"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "Evidence needed when claiming this outcome"
      },
      value: {
        text: data['outcomeEvidence'] or "Not given"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "Number of working days to check for evidence"
      },
      value: {
        text: data['numberOfDays'] or "Not applicable"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    }
  ]
}) }}

      {{ govukRadios({
  name: "addAnotherOutcome",
  fieldset: {
    legend: {
      text: "Do you want to add another outcome?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No, return to task list"
    }
  ]
}) }}

      {{ govukButton({
  text: "Save and continue",
  href: "provision-build-tasks-3"
  }) }}

    </form>
  </div>
</div>
{% endblock %}