{% extends "layouts/onboard-1.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}

{% block pageTitle %}
Provision summary – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <span class="govuk-caption-xl">Summary</span>
      <h1 class="govuk-heading-l">Provision build summary</h1>

      {{ mojSubNavigation({
  label: 'Sub navigation',
  items: [{
    text: 'Provision details',
    href: 'programme-full-summary-1'
  }, {
    text: 'Outcome details',
    href: 'programme-full-summary-2',
    active: true
  }, {
    text: 'Opportunity details',
    href: 'programme-full-summary-3'
  }]
}) }}

      <h2 class="govuk-heading-m">Start</h2>

      {{ govukSummaryList({
      classes: "govuk-!-margin-bottom-9",
  rows: [
    {
      key: {
        text: "Is there a payment for this outcome?"
      },
      value: {
        text: data['outcomePayment'] or "Not given"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "Does the citizen have to be off benefits before the outcome fee can be paid to the provider?"
      },
      value: {
        text: data['offBenefitCheck'] or "Not given"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
    {
      key: {
        text: "Do you want to add flex days to the off-benefit check period?"
      },
      value: {
        text: data['flexDays'] or "Not given"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "Payment on hold until validation has occurred, where an outcome is claimed manually by the provider?"
      },
      value: {
        text: data['validation1'] or "Not given"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "Payment on hold until validation has occurred, where data affecting payment calculations has changed?"
      },
      value: {
        text: data['validation2'] or "Not given"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "contact details"
          }
        ]
      }
    },
    {
      key: {
        text: "Payment on hold until validation has occurred, where the outcome relates to self-employed earnings?"
      },
      value: {
        text: data['validation3'] or "Not given"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "Minimum working days before an outcome can be claimed?"
      },
      value: {
        text: data['minimumDays'] or "Not given"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "Basis outcome fee selected if it has changed over time?"
      },
      value: {
        text: data['feeBasis'] or "Not given"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "Can an outcome be claimed after a citizen's allotted time and extension have elapsed?"
      },
      value: {
        text: data['outcomeClaim'] or "Not given"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "How many more working days after can a provider still claim an outcome?"
      },
      value: {
        text: data['claimAfterTimes'] or "Not applicable"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "Does the provider have to include any evidence when they claim this outcome has been achieved for a citizen?"
      },
      value: {
        text: data['outcomeEvidence'] or "Not given"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "Working days this check will run for?"
      },
      value: {
        text: data['numberOfDays'] or "Not applicable"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    }
  ]
}) }}

      <h2 class="govuk-heading-m">Earnings Threshold 2</h2>

      {{ govukSummaryList({
      classes: "govuk-!-margin-bottom-9",
  rows: [
    {
      key: {
        text: "Is there a payment for this outcome?"
      },
      value: {
        text: "Yes"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "Does the citizen have to be off benefits before the outcome fee can be paid to the provider?"
      },
      value: {
        text: "Yes"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
    {
      key: {
        text: "Do you want to add flex days to the off-benefit check period?"
      },
      value: {
        html: "Yes"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "Payment on hold until validation has occurred, where an outcome is claimed manually by the provider?"
      },
      value: {
        html: "Yes"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "Payment on hold until validation has occurred, where data affecting payment calculations has changed?"
      },
      value: {
        html: "Yes"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "contact details"
          }
        ]
      }
    },
    {
      key: {
        text: "Payment on hold until validation has occurred, where the outcome relates to self-employed earnings?"
      },
      value: {
        html: "Yes"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "Minimum working days before an outcome can be claimed?"
      },
      value: {
        html: "30"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "Basis outcome fee selected if it has changed iver time?"
      },
      value: {
        html: "Fee as at claim date"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "Can an outcome be claimed after a citizen's allotted time and extension have elapsed?"
      },
      value: {
        html: "Yes"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "How many more working days after can a provider still claim an outcome?"
      },
      value: {
        html: "90"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "Does the provider have to include any evidence when they claim this outcome has been achieved for a citizen?"
      },
      value: {
        html: "Yes"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "Working days this check will run for?"
      },
      value: {
        html: "90"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    }
  ]
}) }}

      <h2 class="govuk-heading-m">End</h2>

      {{ govukSummaryList({
      classes: "govuk-!-margin-bottom-9",
  rows: [
    {
      key: {
        text: "Is there a payment for this outcome?"
      },
      value: {
        text: "Yes"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "Does the citizen have to be off benefits before the outcome fee can be paid to the provider?"
      },
      value: {
        text: "Yes"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
    {
      key: {
        text: "Do you want to add flex days to the off-benefit check period?"
      },
      value: {
        html: "Yes"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "Payment on hold until validation has occurred, where an outcome is claimed manually by the provider?"
      },
      value: {
        html: "Yes"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "Payment on hold until validation has occurred, where data affecting payment calculations has changed?"
      },
      value: {
        html: "Yes"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "contact details"
          }
        ]
      }
    },
    {
      key: {
        text: "Payment on hold until validation has occurred, where the outcome relates to self-employed earnings?"
      },
      value: {
        html: "Yes"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "Minimum working days before an outcome can be claimed?"
      },
      value: {
        html: "30"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "Basis outcome fee selected if it has changed iver time?"
      },
      value: {
        html: "Fee as at claim date"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "Can an outcome be claimed after a citizen's allotted time and extension have elapsed?"
      },
      value: {
        html: "Yes"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "How many more working days after can a provider still claim an outcome?"
      },
      value: {
        html: "90"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "Does the provider have to include any evidence when they claim this outcome has been achieved for a citizen?"
      },
      value: {
        html: "Yes"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "Working days this check will run for?"
      },
      value: {
        html: "90"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    }
  ]
}) }}

      {{ govukCheckboxes({
  items: [
    {
      value: "approveProvision",
      text: "Check the box once you are satisfied that all the information you have entered is correct."
    }
  ]
}) }}

      {{ govukButton({
  text: "Approve and check opportunities",
  href: "programme-full-summary-3"
  }) }}
    </form>
  </div>
</div>
{% endblock %}