{% extends "layouts/onboard-5.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% block pageTitle %}
Provision summary – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <span class="govuk-caption-xl">Summary</span>
      <h1 class="govuk-heading-l">Provision build summary</h1>

      {{ mojSubNavigation({
  label: 'Sub navigation',
  items: [{
    text: 'Provision details',
    href: 'programme-full-summary-1',
    active: true
  }, {
    text: 'Outcome details',
    href: 'programme-full-summary-2'
  }, {
    text: 'Opportunity details',
    href: 'programme-full-summary-3'
  }]
}) }}

      <h2 class="govuk-heading-m">Provision details</h2>
      {{ govukSummaryList({
      classes: "govuk-!-margin-bottom-9",
  rows: [
    {
      key: {
        text: "What kind of provision is this?"
      },
      value: {
        text: data['provisionType'] or "Not given"
      },
      actions: {
        items: [
          {
            href: "programme-information-2",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "Days to start an opportunity under this provision?"
      },
      value: {
        text: data['days1'] or "Days not given"
      },
      actions: {
        items: [
          {
            href: "programme-information-2",
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
    {
      key: {
        text: "Check citizens’ earnings or employment?"
      },
      value: {
        text: data['checkEarnings'] or "Not given"
      },
      actions: {
        items: [
          {
            href: "programme-information-2",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "How many days will this check run for?"
      },
      value: {
        text: data['numberOfDays'] or "Not applicable"
      },
      actions: {
        items: [
          {
            href: "programme-information-2",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "If a citizen leaves early, do you want the check to be cancelled?"
      },
      value: {
        text: data['leavesEarly'] or "Not given"
      },
      actions: {
        items: [
          {
            href: "programme-information-2",
            text: "Change",
            visuallyHiddenText: "contact details"
          }
        ]
      }
    },
    {
      key: {
        text: "Are fees for this provision to be paid by SOP?"
      },
      value: {
        text: data['outcomeFees'] or "Not given"
      },
      actions: {
        items: [
          {
            href: "programme-information-2",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "Limit the number of times a manual outcome can be claimed?"
      },
      value: {
        text: data['times'] or "Not given"
      },
      actions: {
        items: [
          {
            href: "programme-information-2",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "What is the maximum number of times a provider can attempt this?"
      },
      value: {
        text: data['numberOfTimes'] or "Not applicable"
      },
      actions: {
        items: [
          {
            href: "programme-information-2",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    }
  ]
}) }}

      {{ govukCheckboxes({
  items: [
    {
      value: "approveProvision",
      text: "Check the box once you are satisfied that all the information you have entered is correct."
    }
  ]
}) }}

      {{ govukButton({
  text: "Approve and check outcomes",
  href: "programme-full-summary-2"
  }) }}
    </form>
  </div>
</div>
{% endblock %}