{% extends "layouts/onboard-2.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block pageTitle %}
Provision information – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
  titleText: "Provision name and start date completed successfully"
}) }}

      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">
        You can now add all the provision details. Then you can add outcomes to the provision.
      </p>

      {{ govukButton({
  text: "Return to task list",
  href: "provision-build-tasks-1"
  }) }}

    </form>
  </div>
</div>
{% endblock %}