{% extends "layouts/so-citizen-active-rm.html" %}

{% block pageTitle %}
What general update do you want to make for this participant? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">   

      <form action="add-new-update-contact-confirmation" method="post" novalidate>
        
        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {{ govukRadios({
        name: "what-update",
        fieldset: {
          legend: {
           text: "Is their new address outside of the eligible area for this provision?",
           isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
         }
        },
        items: [
        {
            value: "yes~request-to-end",
             text: "Yes"
          },
          {
            value: "no~add-new-update-contact-confirmation",
          text: "No"
          }
        ]
        }) }}

        {{ govukButton({
        text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}