{% extends "layouts/so-citizen-active-rm.html" %}

{% block pageTitle %}
What general update do you want to make for this participant? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">This is their current address</h1>
      
      {{ govukInsetText({
        html: "1 Washington Street<br>Worcester<br>WR1 1NL"
        }) }}

      <form action="add-new-update-contact-confirmation" method="post" novalidate>
        
        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {{ govukRadios({
        name: "what-update",
        fieldset: {
          legend: {
           text: "Is the current address correct?",
            classes: "govuk-fieldset__legend--m"
         }
        },
        items: [
        {
            value: "yes~add-new-update-contact-confirmation",
             text: "Yes"
          },
          {
            value: "no~enter-address-manually",
          text: "No"
          }
        ]
        }) }}

        {{ govukButton({
        text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}