{% extends "layouts/so-citizen-active-rm.html" %}

{% block pageTitle %}
What general update do you want to make for this participant? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="report-progress" method="post" novalidate>

        {% set updateOtherHtml %}
            {{ govukInput({
              label: {
                text: "Please specify"
              },
              classes: "govuk-input--width-20",
              id: "width-20",
              name: "width20"
            }) }}
            
        {% endset -%}

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {{ govukRadios({
        name: "employment-type",
        fieldset: {
          legend: {
           text: "What type of employment??",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
         }
        },
        items: [
        {
            value: "Employed full time~add-new-update-employment-support",
             text: "Full time employment"
          },
          {
            value: "Self employed~add-new-update-employment-support",
            text: "Part time employment"
          },
          {
            value: "Self employed~add-new-update-employment-support",
            text: "Self-employment"
          },
          {
            value: "other",
            text: "Other",
            conditional: {
              html: updateOtherHtml
            }
          }
        ]
        }) }}

        {{ govukButton({
        text: "Continue"
        }) }}
      </form>
    </div>
    
  </div>
{% endblock %}