{% extends "layouts/so-citizen-active-rm.html" %}

{% block pageTitle %}
What current provision update do you want to make for this participant? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Update submitted"
      }) }}

      <!--<p class="govuk-body">We have sent you a confirmation email.</p>-->

      <h2 class="govuk-heading-m">What happens next?</h2>

      <!--<p class="govuk-body">
        If your update requires action from DWP, you will receive a response once it has been resolved.
      </p>
      <p class="govuk-body">
        They may contact you either to confirm your update, or to ask for more information.
      </p>-->

      <p class="govuk-body">
        This update has been added to their referral history. The provider has been notified.
      </p>

      <p class="govuk-body">
        <!--You can <a href="report-progress" class="govuk-link">add another update</a> for this participant.-->

        To add another update <a href="referral-history" class="govuk-link">return to the referral history</a>
      </p>

    </div>
  </div>
{% endblock %}