{% extends "layout-rm.html" %}
{% from "timeline/macro.njk" import dwpTimeline %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block pageTitle %}
View note - Managing Working Age Claimants
{% endblock %}

{% block beforeContent %}


    {{ govukBackLink({
        text: "Back",
        href: "referral-history-provision-pioneer-1page"
      }) }}
{% endblock %}

{% block content %}


<!-- Includes -->
{%- set interpreter %}
{{ govukInput({
  id: "contact-by-phone",
  name: "contact-by-phone",
  type: "text",
  classes: "govuk-!-width-one-third",
  label: {
    text: "Enter language required"
  }
}) }}
{% endset -%}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

      {% set html %}
        <h3 class="govuk-notification-banner__heading">
          You have marked this message as read
        </h3>
      {% endset %}

      {{ govukNotificationBanner({
        html: html,
        type: "success"
      }) }}

      <span class="govuk-caption-l">Provider note</span>
      <h2 class="govuk-heading-l">17 July 2024 - 11:00am</h2>
      <p>{{govukTag({
        text: "Read",
        classes: "govuk-tag--green"
      })}}</p>

        <!-- <h3 class="govuk-heading-m">ID check <strong class="govuk-tag govuk-tag--green" style="margin-left: 140px;">completed</strong></h3> -->

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h3 class="govuk-heading-s">Title</h3>

        <p>Did not attend appointment</p>

        <h3 class="govuk-heading-s">Note detail</h3>

        <p>No reason given</p>
  
    </div>

    <!-- <div class="govuk-grid-column-one-third">
      <h3 class="govuk-heading-m" style="border-top: #1d70b8 solid 4px; padding-top: 4px;">Actions</h3>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="pinned-hint">
          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="pinned" name="pinned" type="checkbox" value="pinned">
              <label class="govuk-label govuk-checkboxes__label" for="pinned">
                Pin this note
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      {{ govukButton({
        text: "Save and continue",
        href: 'claimant-view#history'
      }) }}

    </div> -->

</div>

{% endblock %}
