{% extends "layouts/layout-acct-management-1.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block pageTitle %}
Accountable body
{% endblock %}

{% block beforeContent %}{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h2 class="govuk-heading-l" id="address">Manage your account</h2>

      <div class="govuk-grid-column-full govuk-!-margin-bottom-6 account-management-card">
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">City of London Corporation<strong class="govuk-tag govuk-tag--green govuk-!-margin-left-2">Approved</strong>
          </caption>
          <thead class="govuk-table__head"></thead>

          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-!-width-one-third">
                <strong>Administrator</strong>
              </td>
              <td class="govuk-table__cell">Gill Bates</td>
              <td class="govuk-table__cell" style="text-align: right;"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <strong>Email address</strong>
              </td>
              <td class="govuk-table__cell">
                gill.bates@cityoflondon.gov.uk
              </td>

            </tr>
          </tbody>
        </table>

        <details class="govuk-details govuk-!-margin-bottom-1" data-module="govuk-details">
          <summary class="govuk-details__summary govuk-!-margin-bottom-3">
            <span class="govuk-details__summary-text">
            View or change account details
          </span>
          </summary>

          {{ govukTable({

  firstCellIsHeader: true,
  rows: [
    [
      {
        text: "Phone number"
      },
      {
        text: "07788 123456"
      }
    ],
    [
      {
        text: "Job title"
      },
      {
        text: "Social care manager"
      }
    ],
    [
      {
        text: "Department"
      },
      {
        html: "Adult Social Care&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;"
      }
    ]
  ]
}) }}

          {{ govukTable({

  firstCellIsHeader: true,
  rows: [
    [
      {
        text: "Administrator"
      },
      {
        text: "Millie Burray"
      }
    ],
    [
      {
        text: "Email address"
      },
      {
        text: "mill.burray@cityoflondon.gov.uk"
      }
    ],
    [
      {
        text: "Phone number"
      },
      {
        text: "07788 987654"
      }
    ],
    [
      {
        text: "Job title"
      },
      {
        text: "Social care manager"
      }
    ],
    [
      {
        text: "Department"
      },
      {
        html: "Adult Social Care&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;"
      }
    ]
  ]
}) }}

          {{ govukTable({

  firstCellIsHeader: true,
  rows: [
    [
      {
        text: "Administrative body"
      },
      {
        text: "Central London Forward"
      }
    ],
    [
      {
        text: "Address"
      },
      {
        html: "City of London<br>Guildhall<br>London<br>EC2V 7HH"
      }
    ],
    [
      {
        text: "Department"
      },
      {
        html: "Department of Community Services&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;"
      }
    ]
  ]
}) }}

          {{ govukButton({
  text: "Edit details",
  classes: "govuk-button--secondary",
  href: "ab-account-edit-details"
}) }}
        </details>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">Enter an email address to invite a new user</h2>

          <div class="govuk-form-group">
            <input class="govuk-input govuk-input--width-20" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
            {% from "govuk/components/button/macro.njk" import govukButton %}
            {{ govukButton({
  classes: "govuk-!-margin-left-1",
  text: "Send invite",
  href: "ab-account-dashboard-invited"
  }) }}
          </div>
        </div>
      </div>
      <table class="govuk-table govuk-table--small-text-until-tablet">
        <h2 class="govuk-heading-m">Organisation users</h2>
        <p class="govuk-body">You don't have any members yet. Invite someone to join your team.</p>
      </table>
    </div>
  </div>
{% endblock %}

govuk-!-margin-left-1