{% extends "layouts/layout-acct-management-1.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block pageTitle %}
Accountable body
{% endblock %}

{% block beforeContent %}{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h2 class="govuk-heading-l">Manage access for accountable bodies</h2>
      <div class="govuk-!-margin-bottom-6">
        <span class="govuk-list govuk-!-margin-right-3">
          <a class="govuk-!-font-weight-bold govuk-!-font-size-24" href="#">A</a>
        </span>
        <span class="govuk-list govuk-!-margin-right-3">
          <a class="govuk-!-font-weight-bold govuk-!-font-size-24" href="#">B</a>
        </span>
        <span class="govuk-list govuk-!-margin-right-3">
          <a class="govuk-!-font-weight-bold govuk-!-font-size-24" href="#">C</a>
        </span>
        <span class="govuk-list govuk-!-margin-right-3">
          <a class="govuk-!-font-weight-bold govuk-!-font-size-24" href="#">D</a>
        </span>
        <span class="govuk-list govuk-!-margin-right-3">
          <a class="govuk-!-font-weight-bold govuk-!-font-size-24" href="#">E</a>
        </span>
        <span class="govuk-list govuk-!-margin-right-3">
          <a class="govuk-!-font-weight-bold govuk-!-font-size-24" href="#">F</a>
        </span>
        <span class="govuk-list govuk-!-margin-right-3">
          <a class="govuk-!-font-weight-bold govuk-!-font-size-24" href="#">G</a>
        </span>
        <span class="govuk-list govuk-!-margin-right-3">
          <a class="govuk-!-font-weight-bold govuk-!-font-size-24" href="#">H</a>
        </span>
        <span class="govuk-list govuk-!-margin-right-3">
          <a class="govuk-!-font-weight-bold govuk-!-font-size-24" href="#">I</a>
        </span>
        <span class="govuk-list govuk-!-margin-right-3">
          <a class="govuk-!-font-weight-bold govuk-!-font-size-24" href="#">J</a>
        </span>
        <span class="govuk-list govuk-!-margin-right-3">
          <a class="govuk-!-font-weight-bold govuk-!-font-size-24" href="#">K</a>
        </span>
        <span class="govuk-list govuk-!-margin-right-3">
          <a class="govuk-!-font-weight-bold govuk-!-font-size-24" href="#">L</a>
        </span>
        <span class="govuk-list govuk-!-margin-right-3">
          <a class="govuk-!-font-weight-bold govuk-!-font-size-24" href="#">M</a>
        </span>
        <span class="govuk-list govuk-!-margin-right-3">
          <a class="govuk-!-font-weight-bold govuk-!-font-size-24" href="#">N</a>
        </span>
        <span class="govuk-list govuk-!-margin-right-3">
          <a class="govuk-!-font-weight-bold govuk-!-font-size-24" href="#">O</a>
        </span>
        <span class="govuk-list govuk-!-margin-right-3">
          <a class="govuk-!-font-weight-bold govuk-!-font-size-24" href="#">P</a>
        </span>
        <span class="govuk-list govuk-!-margin-right-3">
          <a class="govuk-!-font-weight-bold govuk-!-font-size-24" href="#">Q</a>
        </span>
        <span class="govuk-list govuk-!-margin-right-3">
          <a class="govuk-!-font-weight-bold govuk-!-font-size-24" href="#">R</a>
        </span>
        <span class="govuk-list govuk-!-margin-right-3">
          <a class="govuk-!-font-weight-bold govuk-!-font-size-24" href="#">S</a>
        </span>
        <span class="govuk-list govuk-!-margin-right-3">
          <a class="govuk-!-font-weight-bold govuk-!-font-size-24" href="#">T</a>
        </span>
        <span class="govuk-list govuk-!-margin-right-3">
          <a class="govuk-!-font-weight-bold govuk-!-font-size-24" href="#">U</a>
        </span>
        <span class="govuk-list govuk-!-margin-right-3">
          <a class="govuk-!-font-weight-bold govuk-!-font-size-24" href="#">V</a>
        </span>
        <span class="govuk-list govuk-!-margin-right-3">
          <a class="govuk-!-font-weight-bold govuk-!-font-size-24" href="#">W</a>
        </span>
        <span class="govuk-list govuk-!-margin-right-3">
          <a class="govuk-!-font-weight-bold govuk-!-font-size-24" href="#">X</a>
        </span>
        <span class="govuk-list govuk-!-margin-right-3">
          <a class="govuk-!-font-weight-bold govuk-!-font-size-24" href="#">Y</a>
        </span>
        <span class="govuk-list govuk-!-margin-right-3">
          <a class="govuk-!-font-weight-bold govuk-!-font-size-24" href="#">Z</a>
        </span>
      </div>

      <!-- Beginning of individual section -->

      <div class="govuk-grid-column-full govuk-!-margin-bottom-6 account-management-card">
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">City of London Corporation<strong class="govuk-tag govuk-tag--green govuk-!-margin-left-2">Approved</strong>
          </caption>
          <thead class="govuk-table__head"></thead>

          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-!-width-one-third">
                <strong>Administrator</strong>
              </td>
              <td class="govuk-table__cell">Gill Bates</td>
              <td class="govuk-table__cell" style="text-align: right;"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <strong>Email address</strong>
              </td>
              <td class="govuk-table__cell">
                gill.bates@cityoflondon.gov.uk
              </td>

            </tr>
          </tbody>
        </table>

        <details class="govuk-details govuk-!-margin-bottom-1" data-module="govuk-details">
          <summary class="govuk-details__summary govuk-!-margin-bottom-3">
            <span class="govuk-details__summary-text">
            View or change account details
          </span>
          </summary>

          {{ govukTable({

  firstCellIsHeader: true,
  rows: [
    [
      {
        text: "Phone number"
      },
      {
        text: "07788 123456"
      }
    ],
    [
      {
        text: "Job title"
      },
      {
        text: "Social care manager"
      }
    ],
    [
      {
        text: "Department"
      },
      {
        html: "Adult Social Care&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;"
      }
    ]
  ]
}) }}

          {{ govukTable({

  firstCellIsHeader: true,
  rows: [
    [
      {
        text: "Administrator"
      },
      {
        text: "Millie Burray"
      }
    ],
    [
      {
        text: "Email address"
      },
      {
        text: "mill.burray@cityoflondon.gov.uk"
      }
    ],
    [
      {
        text: "Phone number"
      },
      {
        text: "07788 987654"
      }
    ],
    [
      {
        text: "Job title"
      },
      {
        text: "Social care manager"
      }
    ],
    [
      {
        text: "Department"
      },
      {
        html: "Adult Social Care&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;"
      }
    ]
  ]
}) }}

          {{ govukTable({

  firstCellIsHeader: true,
  rows: [
    [
      {
        text: "Administrative body"
      },
      {
        text: "Central London Forward"
      }
    ],
    [
      {
        text: "Address"
      },
      {
        html: "City of London<br>Guildhall<br>London<br>EC2V 7HH"
      }
    ],
    [
      {
        text: "Department"
      },
      {
        html: "Department of Community Services&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;"
      }
    ]
  ]
}) }}
          <form action="abActions" method="post" novalidate>

            {{ govukRadios({
  name: "addAnotherOutcome",
  fieldset: {
    legend: {
      text: "What would you like to do?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: ""
  },
  items: [
    {
      value: "edit",
      text: "Change admin organisation details"
    },    
        {
      value: "change",
      text: "Change admin user details"
    },
    {
      value: "yes",
      text: "Invite another admin user"
    },
    {
      value: "email",
      text: "Deactivate this account"
    }
  ]
}) }}

            {{ govukButton({
  text: "Continue",
  href: "#"
  }) }}
          </form>

        </details>
      </div>
      <!-- End of individual section -->
      <!-- Beginning of individual section -->

      <div class="govuk-grid-column-full govuk-!-margin-bottom-6 account-management-card">
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Kent County Council<strong class="govuk-tag govuk-tag--yellow govuk-!-margin-left-2">Awaiting approval</strong>
          </caption>
          <thead class="govuk-table__head"></thead>

          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-!-width-one-third">
                <strong>Administrator</strong>
              </td>
              <td class="govuk-table__cell">Jarad Jones</td>
              <td class="govuk-table__cell" style="text-align: right;"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <strong>Email address</strong>
              </td>
              <td class="govuk-table__cell">
                j.jones@kent.gov.uk
              </td>

            </tr>
          </tbody>
        </table>

        <details class="govuk-details govuk-!-margin-bottom-1" data-module="govuk-details">
          <summary class="govuk-details__summary govuk-!-margin-bottom-3">
            <span class="govuk-details__summary-text">
            View or change account details
          </span>
          </summary>

          {{ govukTable({

  firstCellIsHeader: true,
  rows: [
    [
      {
        text: "Phone number"
      },
      {
        text: "07788 123456"
      }
    ],
    [
      {
        text: "Job title"
      },
      {
        text: "Social care manager"
      }
    ],
    [
      {
        text: "Department"
      },
      {
        html: "Adult Social Care&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;"
      }
    ]
  ]
}) }}

          {{ govukTable({

  firstCellIsHeader: true,
  rows: [
    [
      {
        text: "Administrative body"
      },
      {
        text: "Central London Forward"
      }
    ],
    [
      {
        text: "Address"
      },
      {
        html: "City of London<br>Guildhall<br>London<br>EC2V 7HH"
      }
    ],
    [
      {
        text: "Department"
      },
      {
        html: "Department of Community Services&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;"
      }
    ]
  ]
}) }}

          <form action="abActions" method="post" novalidate>
            {{ govukRadios({
  name: "addAnotherOutcome",
  fieldset: {
    legend: {
      text: "What would you like to do?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: ""
  },
  items: [
    {
      value: "edit",
      text: "Approve this account"
    },
    {
      value: "edit",
      text: "Edit admin organisation details"
    },        
        {
      value: "change",
      text: "Change admin user details"
    },
    {
      value: "yes",
      text: "Invite another admin user"
    },
    {
      value: "email",
      text: "Deactivate this account"
    }
  ]
}) }}

            {{ govukButton({
  text: "Continue",
  href: "#"
  }) }}
          </form>

        </details>
      </div>
      <!-- End of individual section -->
      <!-- Beginning of individual section -->

      <div class="govuk-grid-column-full govuk-!-margin-bottom-6 account-management-card">
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Portsmouth County Council<strong class="govuk-tag govuk-tag--green govuk-!-margin-left-2">Approved</strong>
          </caption>
          <thead class="govuk-table__head"></thead>

          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-!-width-one-third">
                <strong>Administrator</strong>
              </td>
              <td class="govuk-table__cell">Jason Hogg</td>
              <td class="govuk-table__cell" style="text-align: right;"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <strong>Email address</strong>
              </td>
              <td class="govuk-table__cell">
                jason.hogg@plymouth.gov.uk
              </td>

            </tr>
          </tbody>
        </table>

        <details class="govuk-details govuk-!-margin-bottom-1" data-module="govuk-details">
          <summary class="govuk-details__summary govuk-!-margin-bottom-3">
            <span class="govuk-details__summary-text">
            View or change account details
          </span>
          </summary>

          {{ govukTable({

  firstCellIsHeader: true,
  rows: [
    [
      {
        text: "Phone number"
      },
      {
        text: "07788 123456"
      }
    ],
    [
      {
        text: "Job title"
      },
      {
        text: "Social care manager"
      }
    ],
    [
      {
        text: "Department"
      },
      {
        html: "Adult Social Care&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;"
      }
    ]
  ]
}) }}

          {{ govukTable({

  firstCellIsHeader: true,
  rows: [
    [
      {
        text: "Administrative body"
      },
      {
        text: "Central London Forward"
      }
    ],
    [
      {
        text: "Address"
      },
      {
        html: "City of London<br>Guildhall<br>London<br>EC2V 7HH"
      }
    ],
    [
      {
        text: "Department"
      },
      {
        html: "Department of Community Services&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;"
      }
    ]
  ]
}) }}

          <form action="abActions" method="post" novalidate>
            {{ govukRadios({
  name: "addAnotherOutcome",
  fieldset: {
    legend: {
      text: "What would you like to do?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: ""
  },
  items: [
    {
      value: "edit",
      text: "Change admin organisation details"
    },    
        {
      value: "change",
      text: "Change admin user details"
    },
    {
      value: "yes",
      text: "Invite another admin user"
    },
    {
      value: "email",
      text: "Deactivate this account"
    }
  ]
}) }}

            {{ govukButton({
  text: "Continue",
  href: "#"
  }) }}
          </form>

        </details>
      </div>
      <!-- End of individual section -->
      <!-- Beginning of individual section -->

      <div class="govuk-grid-column-full govuk-!-margin-bottom-6 account-management-card">
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Preston County Council<strong class="govuk-tag govuk-tag--green govuk-!-margin-left-2">Approved</strong>
          </caption>
          <thead class="govuk-table__head"></thead>

          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-!-width-one-third">
                <strong>Administrator</strong>
              </td>
              <td class="govuk-table__cell">David Moorhouse</td>
              <td class="govuk-table__cell" style="text-align: right;"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <strong>Email address</strong>
              </td>
              <td class="govuk-table__cell">
                david.moorhouse@preston.gov.uk
              </td>

            </tr>
          </tbody>
        </table>

        <details class="govuk-details govuk-!-margin-bottom-1" data-module="govuk-details">
          <summary class="govuk-details__summary govuk-!-margin-bottom-3">
            <span class="govuk-details__summary-text">
            View or change account details
          </span>
          </summary>

          {{ govukTable({

  firstCellIsHeader: true,
  rows: [
    [
      {
        text: "Phone number"
      },
      {
        text: "07788 123456"
      }
    ],
    [
      {
        text: "Job title"
      },
      {
        text: "Social care manager"
      }
    ],
    [
      {
        text: "Department"
      },
      {
        html: "Adult Social Care&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;"
      }
    ]
  ]
}) }}

          {{ govukTable({

  firstCellIsHeader: true,
  rows: [
    [
      {
        text: "Administrator"
      },
      {
        text: "Millie Burray"
      }
    ],
    [
      {
        text: "Email address"
      },
      {
        text: "mill.burray@cityoflondon.gov.uk"
      }
    ],
    [
      {
        text: "Phone number"
      },
      {
        text: "07788 987654"
      }
    ],
    [
      {
        text: "Job title"
      },
      {
        text: "Social care manager"
      }
    ],
    [
      {
        text: "Department"
      },
      {
        html: "Adult Social Care&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;"
      }
    ]
  ]
}) }}

          {{ govukTable({

  firstCellIsHeader: true,
  rows: [
    [
      {
        text: "Administrative body"
      },
      {
        text: "Central London Forward"
      }
    ],
    [
      {
        text: "Address"
      },
      {
        html: "City of London<br>Guildhall<br>London<br>EC2V 7HH"
      }
    ],
    [
      {
        text: "Department"
      },
      {
        html: "Department of Community Services&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;"
      }
    ]
  ]
}) }}

          <form action="abActions" method="post" novalidate>
            {{ govukRadios({
  name: "addAnotherOutcome",
  fieldset: {
    legend: {
      text: "What would you like to do?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: ""
  },
  items: [
    {
      value: "edit",
      text: "Change admin organisation details"
    },    
        {
      value: "change",
      text: "Change admin user details"
    },
    {
      value: "yes",
      text: "Invite another admin user"
    },
    {
      value: "email",
      text: "Deactivate this account"
    }
  ]
}) }}

            {{ govukButton({
  text: "Continue",
  href: "#"
  }) }}
          </form>

        </details>
      </div>
      <!-- End of individual section -->
      <!-- Beginning of individual section -->

      <div class="govuk-grid-column-full govuk-!-margin-bottom-6 account-management-card">
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Suffolk County Council<strong class="govuk-tag govuk-tag--green govuk-!-margin-left-2">Approved</strong>
          </caption>
          <thead class="govuk-table__head"></thead>

          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-!-width-one-third">
                <strong>Administrator</strong>
              </td>
              <td class="govuk-table__cell">Kemi Felakuti</td>
              <td class="govuk-table__cell" style="text-align: right;"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <strong>Email address</strong>
              </td>
              <td class="govuk-table__cell">
                kemi.felakuti@suffolk.gov.uk
              </td>

            </tr>
          </tbody>
        </table>

        <details class="govuk-details govuk-!-margin-bottom-1" data-module="govuk-details">
          <summary class="govuk-details__summary govuk-!-margin-bottom-3">
            <span class="govuk-details__summary-text">
            View or change account details
          </span>
          </summary>

          {{ govukTable({

  firstCellIsHeader: true,
  rows: [
    [
      {
        text: "Phone number"
      },
      {
        text: "07788 123456"
      }
    ],
    [
      {
        text: "Job title"
      },
      {
        text: "Social care manager"
      }
    ],
    [
      {
        text: "Department"
      },
      {
        html: "Adult Social Care&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;"
      }
    ]
  ]
}) }}

          {{ govukTable({

  firstCellIsHeader: true,
  rows: [
    [
      {
        text: "Administrator"
      },
      {
        text: "Millie Burray"
      }
    ],
    [
      {
        text: "Email address"
      },
      {
        text: "mill.burray@cityoflondon.gov.uk"
      }
    ],
    [
      {
        text: "Phone number"
      },
      {
        text: "07788 987654"
      }
    ],
    [
      {
        text: "Job title"
      },
      {
        text: "Social care manager"
      }
    ],
    [
      {
        text: "Department"
      },
      {
        html: "Adult Social Care&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;"
      }
    ]
  ]
}) }}

          {{ govukTable({

  firstCellIsHeader: true,
  rows: [
    [
      {
        text: "Administrative body"
      },
      {
        text: "Central London Forward"
      }
    ],
    [
      {
        text: "Address"
      },
      {
        html: "City of London<br>Guildhall<br>London<br>EC2V 7HH"
      }
    ],
    [
      {
        text: "Department"
      },
      {
        html: "Department of Community Services&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;"
      }
    ]
  ]
}) }}

          <form action="abActions" method="post" novalidate>
            {{ govukRadios({
  name: "addAnotherOutcome",
  fieldset: {
    legend: {
      text: "What would you like to do?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: ""
  },
  items: [
    {
      value: "edit",
      text: "Change admin organisation details"
    },    
        {
      value: "change",
      text: "Change admin user details"
    },
    {
      value: "yes",
      text: "Invite another admin user"
    },
    {
      value: "email",
      text: "Deactivate this account"
    }
  ]
}) }}

            {{ govukButton({
  text: "Continue",
  href: "#"
  }) }}
          </form>

        </details>

      </div>
      <!-- End of individual section -->
      <div class="govuk-grid-row">

        <div class="govuk-grid-column-full">

          {% from "govuk/components/pagination/macro.njk" import govukPagination %}

          {{ govukPagination({
  previous: {
    href: "#"
  },
  next: {
    href: "#"
  },
  items: [
    {
      number: 1,
      href: "#"
    },
    {
      number: 2,
      current: true,
      href: "#"
    },
    {
      number: 3,
      href: "#"
    }
  ]
}) }}
        </div>

      </div>
    </div>
  </div>
{% endblock %}

govuk-!-margin-left-1