{% extends "layouts/idm-citizen.html" %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
Which early access group is the citizen in? – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukCheckboxes({
  name: "access",
  fieldset: {
    legend: {
      text: "Which early access group is the citizen in?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "Select all that apply."
  },
  items: [
    {
      value: "offender",
      text: "Offender"
    },
    {
      value: "exOffender",
      text: "Ex-offender"
    },
    {
      value: "carer",
      text: "Carer"
    },
    {
      value: "exCarer",
      text: "Ex-carer"
    },
    {
      value: "homeless",
      text: "Homeless person"
    },
    {
      value: "armedForces",
      text: "Member of the HM Armed Forces personnel"
    },
    {
      value: "exArmedForces",
      text: "Former member of the HM Armed Forces personnel"
    },
    {
      value: "PartnerArmedForces",
      text: "Partner of member or former member of the HM Armed Forces personnel"
    },
    {
      value: "drug",
      text: "Person with a drug or alcohol dependency which creates a barrier to finding work"
    },
    {
      value: "careLeaver",
      text: "Care leaver"
    },
    {
      value: "refugee",
      text: "Refugee"
    },
    {
      value: "domesticViolence",
      text: "Victim of domestic violence"
    },
    {
      value: "gangMember",
      text: "Young person involved in or at risk of being involved in gangs or serious violence"
    },
    {
      value: "afghan",
      text: "Afghan resettler"
    },
    {
      value: "ukranian",
      text: "Ukranian evacuee"
    }
  ]
}) }}

      {{ govukButton({
      text: "Continue",
      preventDoubleClick: true,
      href: "email-c"
      }) }}
    </div>
  </div>
{% endblock %}