{% extends "layouts/idm-citizen.html" %}

{% block pageTitle %}
Pioneer - WHP Minister Early Entrant – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Pioneer - WHP Minister Early Entrant</h1>
      <h2 class="govuk-heading-m">Overview</h2>
      <p class="govuk-body">The Pioneer Work and Health Programme (WHP) helps people who face a range of complex barriers to
      finding work.</p>
      <p class="govuk-body">WHP advisers will support participants for up to 15 months by:</p>
      <ul class="govuk-list govuk-list--bullet govuk-list">
        <li>
        understanding their goals, strengths and experience
      </li>
        <li>
        helping them to find and start work as soon as possible
      </li>
        <li>
        providing ongoing in-work support
      </li>
      </ul>

      <p class="govuk-body">The opportunity is voluntary.</p>

      <h2 class="govuk-heading-m">Eligibility</h2>

      <h3 class="govuk-heading-s">To be eligible they must not be claiming Jobseeker's Allowance (JSA).</h3>
      <p class="govuk-body">They may be claiming:</p>
      <ul class="govuk-list govuk-list--bullet govuk-list">
        <li>
        Employment and Support Allowance (ESA)
      </li>
        <li>
        Employment and Support Allowance Contributory (ESAC)
      </li>
        <li>
        Incapacity Benefit (IB)
      </li>
        <li>
        Income Support (IS)
      </li>
        <li>
        Passport Incapacity Benefit (PIB)
      </li>
        <li>
        Severe Disablement Allowance (SDA)
      </li>
        <li>
        Training Allowance (TA)
      </li>
        <li>
        no "out of work" benefits
      </li>
      </ul>

      <p class="govuk-body">They must be in an early access disadvantaged group:</p>
      <ul class="govuk-list govuk-list--bullet govuk-list">
        <li>
        offenders and ex-offenders
      </li>
        <li>
        carers and ex-carers
      </li>
        <li>
        homeless people
      </li>
        <li>members and former members of the HM Armed Forces personnel
        </li>
        <li>
        partners of members and former members of the HM Armed Forces personnel
      </li>
        <li>
        people with a drug or alcohol dependency which creates a barrier to finding work
      </li>
        <li>
        care leavers
      </li>
        <li>
        refugees
      </li>
        <li>
        victims of domestic violence
      </li>
        <li>
        young people involved in or at risk of being involved in gangs or serious violence
      </li>
        <li>Afghan resettlers</li>
        <li>Ukranian evacuees</li>
      </ul>
      <p class="govuk-body">They must also:</p>
      <ul class="govuk-list govuk-list--bullet govuk-list">
        <li>
        be autistic
      </li>
        <li>
        be over 18 years old in England, or 16 years old in Wales
      </li>
        <li>
        have the right to live and work in the UK
      </li>
        <li>
        not be in any paid work, including zero hours contracts
      </li>
        <li>
        not currently be on the WHP
      </li>
        <li>
        not have been on the WHP before
      </li>
        <li>
        not currently be on another national contracted opportunity
      </li>
        <li>have recourse to public funds</li>
      </ul>

      <h2 class="govuk-heading-m">Suitability</h2>

      <p class="govuk-body">To be suitable they must:</p>

      <ul class="govuk-list govuk-list--bullet govuk-list">
        <li>
        have committed to the goal of finding work in 12 months
      </li>
        <li>
        need extra support to find work
      </li>
      </ul>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-7">To take part in this opportunity, they must meet all the
      eligibility and suitability criteria.</h3>

      {% from "govuk/components/button/macro.njk" import govukButton %}
      {{ govukButton({
    text: "Start referral",
    href: "employment-and-training-restrictions-a"
    }) }}

    </div>
  </div>
{% endblock %}