{% extends "layouts/idm-citizen-us.html" %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
What are their health conditions or disabilities? – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <fieldset class="govuk-fieldset" aria-describedby="participant-group">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
        What are their health conditions or disabilities?
      </h1>
        </legend>
        <div id="participant-hint" class="govuk-hint">
      Select all that apply.
      </div>
        {# <h2 class="govuk-heading-m">Health conditions and disabilities</h2> #}
        {{ govukCheckboxes({
  name: "participantGroup",
  items: [
        {
      value: "adhd",
      text: "ADHD"
    },
    {
      value: "autism",
      text: "autism"
    },
    {
      value: "cancer",
      text: "cancer"
    },
    {
      value: "breathing",
      text: "chest or breathing problem, asthma or bronchitis"
    },
    {
      value: "chronic",
      text: "chronic pain or fatigue condition, for example, fibromyalgia or ME"
    },
    {
      value: "dementia",
      text: "dementia, for example, Alzheimer's disease"
    },
    {
      value: "mentalHealth",
      text: "depression, stress, anxiety or other mental health condition"
    },
    {
      value: "diabetes",
      text: "diabetes"
    },
    {
      value: "hearing",
      text: "difficulty in hearing"
    },
    {
      value: "seeing",
      text: "difficulty in seeing"
    },
    {
      value: "epilepsy",
      text: "epilepsy"
    },
    {
      value: "blood",
      text: "heart, blood pressure or blood circulation condition"
    },
    {
      value: "mobility",
      text: "joint, bone or muscle condition"
    },        
    {
      value: "learningDifficulty",
      text: "learning difficulty, for example, dyslexia or dyspraxia"
    },        
    {
      value: "learningDisability",
      text: "learning disability"
    },
    {
      value: "other",
      text: "other health condition or disability"
    },
    {
      value: "progressiveCondition",
      text: "other progressive condition"
    },
    {
      value: "skin",
      text: "skin condition, severe disfigurement or allergy"
    },
    {
      value: "speech",
      text: "speech impediment"
    },
    {
      value: "digestive",
      text: "stomach, liver, kidney or digestive condition"
    },
    {
      divider: "or"
    },
    {
      value: "notSaid",
      text: "prefer not to say"
    }
  ]
  }) }}

      </fieldset>
    </div>
  </div>
  {{ govukButton({
      text: "Continue",
      preventDoubleClick: true,
      href: "address-details"
      }) }}
{% endblock %}