{% extends "layouts/idm-citizen-us.html" %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
Which participant group are they in? – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <fieldset class="govuk-fieldset" aria-describedby="participant-group">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
        What are their barriers to work?
      </h1>
        </legend>
        <div id="participant-hint" class="govuk-hint">
      Select all that apply.
      </div>
        <h2 class="govuk-heading-m">Health conditions and disabilities</h2>
        {{ govukCheckboxes({
  name: "participantGroup",
  items: [
    {
      value: "mobility",
      text: "joint, bone or muscle condition"
    },
    {
      value: "hearing",
      text: "difficulty in hearing"
    },
    {
      value: "seeing",
      text: "difficulty in seeing"
    },
    {
      value: "cancer",
      text: "cancer"
    },
    {
      value: "diabetes",
      text: "diabetes"
    },
    {
      value: "dementia",
      text: "dementia, for example, Alzheimer's disease"
    },
    {
      value: "progressiveCondition",
      text: "other progressive condition"
    },
    {
      value: "autism",
      text: "autism"
    },
    {
      value: "epilepsy",
      text: "epilepsy"
    },        
    {
      value: "learningDisability",
      text: "learning disability"
    },        
    {
      value: "learningDifficulty",
      text: "Learning difficulty, for example, dyslexia or dyspraxia"
    },
    {
      value: "adhd",
      text: "adhd"
    },
    {
      value: "speech",
      text: "speech impediment"
    },
    {
      value: "blood",
      text: "heart, blood pressure or blood circulation condition"
    },
    {
      value: "breathing",
      text: "chest or breathing problem, asthma or bronchitis"
    },
    {
      value: "digestive",
      text: "stomach, liver, kidney or digestive condition"
    },
    {
      value: "skin",
      text: "skin condition, severe disfigurement or allergy"
    },
    {
      value: "other",
      text: "other health condition or disability"
    },
    {
      value: "mentalHealth",
      text: "depression, stress, anxiety or other mental health condition"
    }
  ]
  }) }}
        <h2 class="govuk-heading-m">Armed forces</h2>
        {{ govukCheckboxes({
  name: "participantGroup",
  items: [
    {
      value: "armedForces",
      text: "a former member of the HM Armed Forces"
    },
    {
      value: "armedForces",
      text: "a member of the HM Armed Forces reserves"
    },
    {
      value: "armedForces",
      text: "a partner of current or former Armed Forces personnel"
    }
  ]
  }) }}

        <h2 class="govuk-heading-m">Disadvantaged groups</h2>
        {{ govukCheckboxes({
  name: "participantGroup",
  items: [
    {
      value: "ex-offender",
      text: "an ex-offender"
    },
    {
      value: "offender",
      text: "an offender"
    },
    {
      value: "carer",
      text: "a carer"
    },
    {
      value: "ex-carer",
      text: "an ex-carer"
    },
    {
      value: "homeless",
      text: "a homeless person"
    },
    {
      value: "drugs",
      text: "someone who has a drug or alcohol dependency, including history of, which presents a significant barrier to employment"
    },
    {
      value: "careExperience",
      text: "someone with care experience"
    },
    {
      value: "refugee",
      text: "a refugee, resettled Afghan or resettled Ukrainian"
    },
    {
      value: "domesticViolence",
      text: "a victim of domestic violence"
    },
    {
      value: "gang",
      text: "a young person involved in or at risk of being involved in gangs or serious violence"
    },
    {
      value: "slavery",
      text: "a victim of modern slavery"
    }
  ]
  }) }}
      </fieldset>
    </div>
  </div>
  {{ govukButton({
      text: "Continue",
      preventDoubleClick: true,
      href: "address-details"
      }) }}
{% endblock %}