{% extends "layouts/idm-citizen-us.html" %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
Which participant group are they in? – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <fieldset class="govuk-fieldset" aria-describedby="participant-group">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
        How do they meet the eligibility criteria for Universal Support?
      </h1>
        </legend>
        <div id="participant-hint" class="govuk-hint">
To be eligible, they must have one or more of the following characteristics.       </div>
        <div id="participant-hint" class="govuk-hint">
      Select all that apply.
      </div>
        <h2 class="govuk-heading-m">Health conditions or disabilities</h2>
        {{ govukCheckboxes({
  name: "participantGroup",
  items: [
    {
      value: "mobility",
      text: "health conditions or disabilities"
    }
  ]
  }) }}
        <h2 class="govuk-heading-m">Armed forces</h2>
        {{ govukCheckboxes({
  name: "participantGroup",
  items: [
    {
      value: "armedForces",
      text: "a former member of the HM Armed Forces"
    },
    {
      value: "armedForces",
      text: "a member of the HM Armed Forces reserves"
    },
    {
      value: "armedForces",
      text: "a partner of current or former Armed Forces personnel"
    }
  ]
  }) }}

        <h2 class="govuk-heading-m">Disadvantaged groups</h2>
        {{ govukCheckboxes({
  name: "participantGroup",
  items: [
    {
      value: "carer",
      text: "a carer"
    },
    {
      value: "ex-carer",
      text: "an ex-carer"
    },
    {
      value: "careExperience",
      text: "someone with care experience"
    },
    {
      value: "drugs",
      text: "someone who has a drug or alcohol dependency, including history of, which presents a significant barrier to employment"
    },
    
    {
      value: "homeless",
      text: "a homeless person"
    },
    {
      value: "offender",
      text: "an offender"
    },
    {
      value: "ex-offender",
      text: "an ex-offender"
    },
    {
      value: "refugee",
      text: "a refugee, resettled Afghan or resettled Ukrainian"
    },
    {
      value: "domesticViolence",
      text: "a victim of domestic violence"
    },
    {
      value: "slavery",
      text: "a victim of modern slavery"
    },
    {
      value: "gang",
      text: "a young person involved in or at risk of being involved in gangs or serious violence"
    }
  ]
  }) }}
      </fieldset>
    </div>
  </div>
  {{ govukButton({
      text: "Continue",
      preventDoubleClick: true,
      href: "participant-group-1"
      }) }}
{% endblock %}