{% extends "layouts/idm-citizen.html" %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% block pageTitle %}
Check LMS for employment and training restrictions – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/checklms" method="post">
        {{ govukCheckboxes({
  name: "checkLMS",
  fieldset: {
    legend: {
      text: "Have you checked LMS for employment and training restrictions?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "If there are restrictions in place for this person, you must speak to the single point of contact (SPOC) for your jobcentre before continuing with this referral."
  },
  items: [
    {
      value: "checked",
      text: "I have checked this person’s record in LMS."
    }
  ]
}) }}
        {% from "govuk/components/button/macro.njk" import govukButton %}
        {{ govukButton({
           text: "Continue",
           href: "address-pioneer"
          }) }}
      </form>
    </div>
  </div>
{% endblock %}