{% extends "layouts/so-citizen-active-rm.html" %}

{% block pageTitle %}
  Citizen details – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      {{ govukTable({
        caption: "Self-employment claim",
        captionClasses: "govuk-table__caption--m govuk-!-width-one-half",
        rows: [
          [
            {
              text: "Claim reference",
              classes: "govuk-!-width-one-half"
            },
            {
              text: "SEC123456"
            }
          ],
          [
            {
              text: "Claim submitted",
              classes: "govuk-!-width-one-half"
            },
            {
              text: "today"
            }
          ],
          [
            {
              text: "Claim outcome",
              classes: "govuk-!-width-one-half"
            },
            {
              text: "Rejected"
            }
          ],

          [
            {
              text: "Outcome reason",
              classes: "govuk-!-width-one-half"
            },
            {
              text: "The start date of self-employment in the claim submitted does not match up with the date given in evidence of 14/6/2024"
            }
          ]
        ]
      }) }}

      <p class=""govuk-body">You can <a href="individual-referral-active-ac">view or edit this claim</a> or <a href="self-employed-business-start-date">submit a new claim</a>.</p>
    </div>
    
    
  </div>
{% endblock %} 