{% extends "layouts/layout-searchlight-search.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
Searchlight
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">
      Contents
    </h2>
    <ul class="govuk-tabs__list">
      <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
        <a class="govuk-tabs__tab" href="#past-day">
          DWP Person Trace
        </a>
      </li>
    </ul>
    <div class="govuk-tabs__panel" id="past-day" style="background-color: white;">
      <h2 class="govuk-heading-m">Find someone who has a CIS account</h2>
      <hr class="govuk-section-break govuk-section-break--visible">

      <div class="govuk-grid-row govuk-!-padding-top-4">
        <div class="govuk-grid-column-two-thirds">

          <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <div class="govuk-form-group">
              <label class="govuk-label" for="first-name">
                First and middle names
              </label>
              <input class="govuk-input" id="first-name" name="first-name" type="text">
            </div>
          </div>

          <div class="govuk-grid-column-one-half">
            <div class="govuk-form-group">
              <label class="govuk-label" for="last-name">
                Last name
              </label>
              <input class="govuk-input" id="last-name" name="last-name" type="text">
            </div>
          </div>

          <div class="govuk-grid-column-one-half">
            <div class="govuk-form-group">
              <label class="govuk-label" for="dob">
                Date of birth
              </label>
              <input class="govuk-input" id="dob" name="dob" type="text">
            </div>
          </div>

          <div class="govuk-grid-column-one-half">
            <div class="govuk-form-group">
              <label class="govuk-label" for="dod">
                Date of death
              </label>
              <input class="govuk-input" id="dod" name="dod" type="text">
            </div>
          </div>

          <div class="govuk-grid-column-one-third">
            <div class="govuk-form-group">
              <label class="govuk-label" for="address">
                First line of address
              </label>
              <input class="govuk-input" id="address" name="address" type="text">
            </div>
          </div>

          <div class="govuk-grid-column-one-third">
            <div class="govuk-form-group">
              <label class="govuk-label" for="town">
                Town
              </label>
              <input class="govuk-input" id="town" name="town" type="text">
            </div>
          </div>

          <div class="govuk-grid-column-one-third">
            <div class="govuk-form-group">
              <label class="govuk-label" for="postcode">
                Postcode
              </label>
              <input class="govuk-input" id="postcode" name="postcode" type="text">
            </div>
          </div>

          <div class="govuk-grid-column-one-half">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend">
                  Sex
                </legend>
                <div class="govuk-checkboxes govuk-checkboxes--inline" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item" style="margin-right:20px; float:left; clear:none;">
                    <input class="govuk-checkboxes__input" id="sex" name="sex" type="radio" value="england">
                    <label class="govuk-label govuk-checkboxes__label" for="sex">
                      Male
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item" style="margin-right:20px; float:left; clear:none;">
                    <input class="govuk-checkboxes__input" id="sex-2" name="sex" type="radio" value="scotland">
                    <label class="govuk-label govuk-checkboxes__label" for="sex-2">
                      Female
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>

          <div class="govuk-grid-column-one-half govuk-!-margin-bottom-6">
            <div class="govuk-form-group">
              <label class="govuk-label" for="contact">
                Contact number or email
              </label>
              <input class="govuk-input" id="contact" name="contact" type="text">
            </div>
          </div>

          <button class="govuk-button govuk-!-margin-left-3 govuk-!-margin-right-4" data-module="govuk-button">
            Search
          </button>

          <button class="govuk-button govuk-button--secondary" data-module="govuk-button" type="reset">
            Clear search
          </button>

        </div>
      </div>


        <div class="govuk-grid-column-one-third">
          <div class="govuk-form-group govuk-!-padding-4 govuk-!-padding-top-6" style="background-color: #f3f2f1;">
            <fieldset class="govuk-fieldset">

              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste" name="trace" type="checkbox" value="relaxed" style="accent-color: #fff;">
                  <label class="govuk-label govuk-checkboxes__label" for="trace">
                    Relaxed trace<br>Include similar names
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="trace-2" name="trace" type="checkbox" value="multi" style="accent-color: #fff;">
                  <label class="govuk-label govuk-checkboxes__label" for="trace-2">
                    Multipart surname<br>Prefix, hyphen, part name
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="trace-3" name="trace" type="checkbox" value="historic" style="accent-color: #fff;">
                  <label class="govuk-label govuk-checkboxes__label" for="trace-3">
                    Historic trace<br>Include historic entries
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
        </div>




      </div>


    </div>

    </div>

  </div>


</div>
</form>

{% endblock %}
