{% extends "imr-layouts/us-new-1.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block pageTitle %}
Enter their contact details – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-label govuk-label--l">What is their email address?</h1>
      <p class="govuk-hint">The details we have on record may not be up to date.</p>

      {% set emailHtml %}
      {{ govukInput({
  id: "contact-by-text",
  name: "contactByText",
  type: "tel",
  autocomplete: "tel",
  classes: "govuk-!-width-one-third",
  label: {
    text: "Enter their email address"
  }
}) }}
      {% endset -%}

      {{ govukRadios({
            classes:"govuk-radios",
            name: "correct-email",
            fieldset: {
            },
  items: [
    {
      value: "email1",
      text: "dannyboy1977@mail.com"
    },    
    {
      value: "text",
      text: "Use a different email address",
      conditional: {
        html: emailHtml
      }
    },
    {
      divider: "or"
    },
    {
      value: "email1",
      text: "No email address"
    }    
  ]
}) }}

      {{ govukButton({
  text: "Continue",
      preventDoubleClick: true,
      href: "check-answers"
}) }}
    </div>
  </div>
{% endblock %}