{% extends "layouts/so-citizen.html" %}

{% block pageTitle %}
Confirmation of rejected referral – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Referral cancelled</h1>
        <div class="govuk-panel__body govuk-!-font-size-27">
        A notification of this cancellation has been sent to DWP
      </div>
      </div>

      <p class="govuk-body">
      This referral will now appear in your list of <a href="referrals-returned">cancelled referrals</a>.</p>

      <h2 class="govuk-heading-m">If you cancelled this referral in error</h2>
      <p class="govuk-body">
      You must contact us either by:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li> telephone on 0300 990 100 </li>
        <li> email at <a href="#">referral.update.error@dwp.gov.uk</a>
        </li>
      </ul>
      <p class="govuk-body">
      You will need to tell us what the error is and how it needs to be corrected.</p>
    </div>
  </div>

{% endblock %}