{% extends "layouts/main.html" %}

{% block pageTitle %}
Index page – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% from "internal-service-header/macro.njk" import dwpHeader %}

  {{ dwpHeader({
  name: "Support offers",
container:true
}) }}

  <div class="app-masthead-support-offers">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop govuk-!-margin-bottom-2">
          <h1 class="govuk-heading-xl app-masthead__title">The vision</h1>
          <p class="govuk-body-l">Support offers will connect people with knowledge, skills and opportunities that can
          improve their quality of life and financial resilience, and help them into appropriate work wherever possible.
        </p>
        </div>
      </div>
    </div>
  </div>

  {# <div class="strategy">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop govuk-!-margin-bottom-2">
        <h2 id="whats-new" class="govuk-heading-l">Strategy</h2>
        <p class="govuk-body">
          Support Offers will take a person-centred approach: develop knowledge of a person’s circumstances to determine
          their needs and recommend actions tailored to their needs. Recommendations for individuals will reflect their
          complexity as a person; Support Offers will treat the whole person, not just the symptom of worklessness, to
          meet DWP objectives of quality of life and financial resilience in a balanced way.
        </p>
      </div>
    </div>
  </div>
</div> #}
{% endblock %}

{% block content %}
  <div class="app-width-container">
    <class="govuk-main-wrapper govuk-main-wrapper--l">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop govuk-!-margin-bottom-8">
          <h2 class="govuk-heading-l">Prototypes</h2>
          <p class="govuk-body">Support offers covers 7 different work streams, which are interdependent. Our work so far has included 3 of those areas.</p>
          <p class="govuk-body">Currently, we are focused on 2 work streams in parallel with the work of the SRA requirements. Those areas are <b>identify, match and
          refer</b> and <b>referral management</b>.</p>
        </div>
      </div>
      <div class="govuk-grid-row ds-grid-row">

        <div class="govuk-grid-column-one-third-from-desktop govuk-!-margin-bottom-8">
          <div class="background">
            <h2 class="govuk-heading-m govuk-!-font-weight-bold">Onboard and manage</h2>
            <p class="govuk-body">Onboarding programmes and providers to deliver national contracted programmes.</p>
            <p class="govuk-body govuk-!-margin-bottom-4">
              <a href="onboard-and-manage/onboard-manage-index" class="govuk-link govuk-!-font-weight-bold">Go to
              work stream</a>
            </p>
            <p class="govuk-body govuk-body govuk-!-font-size-16 govuk-!-padding-top-6">
              <strong>Last updated:</strong> 3/07/2024</p>
          </div>
        </div>
        <div class="govuk-grid-column-one-third-from-desktop govuk-!-margin-bottom-8">
          <div class="background">
            <h2 class="govuk-heading-m">Identify, match and refer</h2>
            <p class="govuk-body">Matching working age citizens to national contracted programmes.
          </p>
            <p class="govuk-body govuk-!-margin-bottom-4">
              <a href="identify-match-refer/identify-match-refer-index" class="govuk-link govuk-!-font-weight-bold">Go to
              work stream</a>
            </p>
            <p class="govuk-body govuk-body govuk-!-font-size-16 govuk-!-padding-top-8">
              <strong>Last updated:</strong> 26/11/2024</p>
          </div>
        </div>
        <div class="govuk-grid-column-one-third-from-desktop govuk-!-margin-bottom-8">
          <div class="background">
            <h2 class="govuk-heading-m">Referral management</h2>
            <p class="govuk-body">Sending referrals to providers and managing their journey.</p>
            <p class="govuk-body govuk ">
              <a href="referral-management/referral-management-index"
              class="govuk-link govuk-!-font-weight-bold">Go to
              work stream</a>
            </p>
            <p class="govuk-body govuk-!-font-size-16 govuk-!-padding-top-8">
              <strong>Last updated:</strong> 14/06/2023</p>
          </div>
        </div>
      </div>

      {# <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl govuk-!-margin-top-0">

      <div class="govuk-grid-row govuk-!-margin-bottom-8">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">Roadmap</h2>
          <p class="govuk-body">
          This section is currently under review.
        </p>
        </div>
      </div> #}

      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl govuk-!-margin-top-0">

      <div class="govuk-grid-row govuk-!-margin-bottom-8">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">The team</h2>
          <p class="govuk-body">
          Support Offers has 1 central team and 2 feature teams. The <a
            href="https://dwpdigital.atlassian.net/wiki/spaces/SO/overview?homepageId=132572119340" class="govuk-link"
            target="_blank">central team</a> is responsible for both the overall direction and project architecture. <a href="https://dwpdigital.atlassian.net/wiki/spaces/SOOM/overview?homepageId=132820206087"
            class="govuk-link" target="_blank">Team Airedale</a>
          is focused on the design and front end of identify, match
          and refer. <a href="https://dwpdigital.atlassian.net/wiki/spaces/SORM/overview?homepageId=132820697551"
            class="govuk-link" target="_blank">
            Team Nidderdale</a> is focused on all of the back end building to support this.
        </p>
        </div>
      </div>
    {% endblock %}