{% extends "layouts/idm-citizen.html" %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
Which early access group are they in? – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukErrorSummary({
  titleText: "There is a problem",
  errorList: [
    {
      text: "Select one early access group",
      href: "#SelectProgramme"
    }
  ]
}) }}
      {{ govukRadios({
  name: "access",
  fieldset: {
    legend: {
      text: "Which early access group are they in?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "Select one option."
  },
errorMessage: {
    text: "Select one early access group"
  },
  items: [
    {
      value: "afghan",
      text: "Afghan resettler"
    },
    {
      value: "carer",
      text: "Carer"
    }, 
    {
      value: "exCarer",
      text: "Ex-carer"
    }, 
    {
      value: "careLeaver",
      text: "Care leaver"
    },  
    {
      value: "domesticViolence",
      text: "Domestic violence victim"
    },  
    {
      value: "homeless",
      text: "Homeless person"
    },  
    {
      value: "armedForces",
      text: "HM Armed Forces member"
    },
    {
      value: "exArmedForces",
      text: "HM Armed Forces former member"
    },
    {
      value: "PartnerArmedForces",
      text: "Partner of HM Armed Forces member or former member"
    },                
    {
      value: "offender",
      text: "Offender"
    },
    {
      value: "exOffender",
      text: "Ex-offender"
    },
    {
      value: "drug",
      text: "Person with a drug or alcohol dependency"
    },
    {
      value: "refugee",
      text: "Refugee"
    },
    {
      value: "ukrainian",
      text: "Ukrainian evacuee"
    },
    {
      value: "gangMember",
      text: "Young person involved in or at risk of being involved in gangs or serious violence"
    }
  ]
}) }}

      {{ govukButton({
      text: "Continue",
      preventDoubleClick: true,
      href: "signposted-referral"
      }) }}
    </div>
  </div>
{% endblock %}