{% extends "layouts/idm-citizen-us.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
Which participant group are they in? – {{ serviceName }} – Support Offers prototype
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <fieldset class="govuk-fieldset" aria-describedby="participant-group">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
        Do they have any health conditions or disabilities?
      </h1>
        </legend>

        {{ govukRadios({
  name: "participantGroup",
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
  ]
  }) }}

      </fieldset>
    </div>
  </div>
  {{ govukButton({
      text: "Continue",
      preventDoubleClick: true,
      href: "participant-group-1"
      }) }}
{% endblock %}