{% extends "govuk-prototype-kit/layouts/unbranded.html" %}
{% from "internal-service-header/macro.njk" import dwpHeader %}
{% from "key-details-bar/macro.njk" import dwpKeyDetailsBar %}
{% from "internal-service-footer/macro.njk" import dwpFooter %}
{% from "quick-reference/macro.njk" import dwpQuickReference %}

{% block pageTitle %}
Support offers referral management – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {{ dwpHeader({
  serviceName: "Manage Support Offers provisions",
  serviceHref: '/index.html',
  action: "Sign out",
  actionHref: "/",
container:true,
        navigation: {
          items: [
              {
                  href: "task-selector",
                  text: "Provisions"
              },
              {
                  href: "contract-build-tasks",
                  text: "Contracts"
              },
              {
                  href: "#",
                  text: "Providers"
              }
          ]
      }  
    })
}}

  <section class="dwp-key-details-bar" aria-label="Key details">
    <div class="dwp-key-details-bar__key-details">
      <dl class="dwp-key-details-bar__top-block">
        <dt class="govuk-visually-hidden">First item description:</dt>
        <dd class="dwp-key-details-bar__primary govuk-body govuk-!-font-size-36" style="color:white">{{ data['provisionName'] or 'Pretend provision name'}}</dd>
        <dt class="govuk-visually-hidden">Second item description:</dt>
        <dd class="dwp-key-details-bar__secondary govuk-body govuk-!-font-size-24" style="color:white">{{ data['shortName'] or 'ABC-27'}}</dd>
        <dt class="govuk-visually-hidden">Status description:</dt>
        <dd class="dwp-key-details-bar__status">
          <strong class="govuk-tag govuk-tag--orange" style="text-transform:capitalize">
          In build
        </strong>
        </dd>
      </dl>
      <dl class="dwp-key-details-bar__bottom-block">
        <dt>Formal start date:</dt>
        <dd>{{ data['startDate-day'] or '11'}}
          {{ data['startDate-month'] or 'June' }}
          {{ data['startDate-year'] or '2027' }}</dd>
      </dl>
    </div>
  </section>

  <div class="govuk-width-container ">
    <div>
      <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    </div>
  </div>

</div>
</section>

{% endblock %}

{% block bodyEnd %}
{{ super()}}
{% include "includes/scripts.html" %}
{% endblock %}
<!-- GOV.UK Prototype Kit {{releaseVersion}} -->

{% block footer %}
{{ dwpFooter({
meta: {
visuallyHiddenTitle: "Support links",
items: [
{
  href: "https://intranet.dwp.gov.uk/page/dwp-employee-privacy-notice-–-summary",
  text: "Privacy (opens in new window)",
  attributes: {
  target: "_blank"
      }
},
{
  href: "/manage-prototype/clear-data",
  text: "Clear data"
}
]
}
}) }}
{% endblock %}

var startDate-month = [
  "January", "February", "March",
  "April", "May", "June", "July",
  "August", "September", "October",
  "November", "December"
];