{% extends "govuk-prototype-kit/layouts/unbranded.html" %}
{% from "internal-service-header/macro.njk" import dwpHeader %}
{% from "key-details-bar/macro.njk" import dwpKeyDetailsBar %}
{% from "internal-service-footer/macro.njk" import dwpFooter %}
{% from "quick-reference/macro.njk" import dwpQuickReference %}

{% block pageTitle %}
Support offers referral management – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {{ dwpHeader({
  serviceName: "Manage Support Offers provisions",
  serviceHref: '/index.html',
  action: "Sign out",
  actionHref: "/",
container:true
    })
}}

  <div class="govuk-width-container ">
    <div>
      <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    </div>
  </div>

  {{ super() }}
  <section class="dwp-quick-reference dwp-quick-reference" aria-label="Case information">
    <div class="govuk-width-container">

      {{
    dwpQuickReference({
        ariaLabel: "Case information",
        classes: "dwp-quick-reference",
        primaryReference: {
            text: 'Name:',
            value: data['provisionName'] or "Default provision name"
        },
        secondaryReference: {
            text: 'Formal start date:',
            textDisplay: true,
            value: data['startDate-day'] + " " + data['startDate-month'] + " " +  data ['startDate-year'] or "1 November 2024"
        },
        status: {
            text: 'Provision status:',
            value: 'In build',
            textDisplay: true,
            classes: 'govuk-tag--orange'
        }
    })
}}
    </div>
  </section>

{% endblock %}

{% block bodyEnd %}
  {{ super()}}
  {% include "includes/scripts.html" %}
{% endblock %}
<!-- GOV.UK Prototype Kit {{releaseVersion}} -->

{% block footer %}
  {{ dwpFooter({
meta: {
visuallyHiddenTitle: "Support links",
items: [
{
  href: "https://intranet.dwp.gov.uk/page/dwp-employee-privacy-notice-–-summary",
  text: "Privacy (opens in new window)",
  attributes: {
  target: "_blank"
      }
},
{
  href: "/manage-prototype/clear-data",
  text: "Clear data"
}
]
}
}) }}
{% endblock %}

var startDate-month = [
  "January", "February", "March",
  "April", "May", "June", "July",
  "August", "September", "October",
  "November", "December"
];