{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
Support offers referral management – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% from "internal-service-header/macro.njk" import dwpHeader %}

  {{ dwpHeader({
  name: "Support offers referral management",
  serviceHref: '/index.html',
  serviceUrl: "/",
  action: "Andrew Smethurst – Sign out",
  actionHref: "/",
container:true
}) }}

  <nav class="dwp-header-navigation" aria-label="Primary">
    <ul>
      <li>
        <a href="/referral-management/prap-admin/dashboard" class="current" aria-current="page">Referrals </a>
      </li>
      <li>
        <a href="/referral-management/prap-admin/search-for-someone">Find someone</a>
      </li>
    </ul>
  </nav>

  <section class="dwp-key-details-bar" aria-label="Key details">
    <div class="dwp-key-details-bar__key-details">
      <dl class="dwp-key-details-bar__top-block">
        <dt class="govuk-visually-hidden">Name:</dt>
        <dd class="dwp-key-details-bar__primary">Kenneth Graham</dd>
        <dt class="govuk-visually-hidden">National Insurance Number:</dt>
        <dd class="dwp-key-details-bar__secondary">WA 12 34 56 C</dd>
        <dt class="govuk-visually-hidden">Claim status:</dt>
        {# <dd class="govuk-table__cell dwp-key-details-bar__status">
          <strong class="govuk-tag govuk-tag--yellow">
          aactive
        </strong>
        </dd> #}
      </dl>
      <dl class="dwp-key-details-bar__bottom-block">
        <dt>Date of birth:</dt>
        <dd>20 January 1978</dd>
        <dt>Mobile number:</dt>
        <dd>07777 984123</dd>
        <dt>Language:</dt>
        <dd>Welsh speaker</dd>
      </dl>
    </div>
  </section>
  <div class="govuk-width-container ">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
        <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
      </p>
    </div>
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
  </div>
{% endblock %}

{% block footer %}
  {% from "internal-service-footer/macro.njk" import dwpFooter %}

  {{ dwpFooter({

}) }}
{% endblock %}