{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Support offers referral management – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% from "internal-service-header/macro.njk" import dwpHeader %}

  {{ dwpHeader({
  name: "Support offers referral management",
  serviceHref: '/index',
  serviceUrl: "/",
  action: "Andrew Smethurst – Sign out",
  actionHref: "/",
container:true
}) }}

  <nav class="dwp-header-navigation" aria-label="Service name">
    <ul>
      <li>
        <a href="/referral-management/ea/referrals-ea-my-open-cases" class="current" aria-current="page">Referrals </a>
      </li>
      <li>
        <a href="/referral-management/prap-admin/search-for-someone">Find someone</a>
      </li>
    </ul>
  </nav>

  <div class="govuk-width-container ">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
        <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
      </p>
    </div>
  </div>
{% endblock %}

{% block footer %}
  {% from "internal-service-footer/macro.njk" import dwpFooter %}

  {{ dwpFooter({

}) }}
{% endblock %}